flows.json
[{"id":"30cfc8ac.884918","type":"tab","label":"Demo","disabled":false,"info":""},{"id":"758e80f8.634a3","type":"tab","label":"WATSON-Dialog","disabled":false,"info":""},{"id":"3d41872e.6e7bd8","type":"tab","label":"IBM-Portfolio","disabled":false,"info":""},{"id":"b6610c80.aa47c","type":"tab","label":"IBM-Holdings","disabled":false,"info":""},{"id":"43761947.be1e48","type":"tab","label":"IBM-Instruments","disabled":false,"info":""},{"id":"93d5a5cc.123318","type":"tab","label":"RISE Explorer","disabled":false,"info":""},{"id":"d223ccb6.c890c","type":"tab","label":"RISE-Wallets","disabled":false,"info":""},{"id":"7900671d.eafd08","type":"tab","label":"RISE-Accounts","disabled":false,"info":""},{"id":"2119b734.ae4bc8","type":"tab","label":"RISE-Members","disabled":false,"info":""},{"id":"b2178db7.c65c7","type":"tab","label":"RISE-Products","disabled":false,"info":""},{"id":"31e38ea.830c672","type":"tab","label":"Zoopla","disabled":false,"info":""},{"id":"1da402e8.1dc31d","type":"http in","z":"43761947.be1e48","name":"","url":"/instruments","method":"get","upload":false,"swaggerDoc":"","x":120,"y":70,"wires":[["a2cddd5a.826f3"]]},{"id":"4269f7ee.767b18","type":"http response","z":"43761947.be1e48","name":"","statusCode":"","headers":{},"x":780.0000190734863,"y":247.00000190734863,"wires":[]},{"id":"a2cddd5a.826f3","type":"template","z":"43761947.be1e48","name":"INSTRUMENTS","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * from INSTRUMENTS\nwhere NAME LIKE '{{payload.match}}%'\nORDER by NAME ASC","output":"str","x":239.00002670288086,"y":122.00000953674316,"wires":[["9fc83fb1.b1ce4"]]},{"id":"9fc83fb1.b1ce4","type":"dashDB in","z":"43761947.be1e48","dashDB":"","service":"Db2 Warehouse on Cloud-ip","query":"","params":"","name":"","x":438.0000534057617,"y":122.0000114440918,"wires":[["d272d555.ac3298"]]},{"id":"e8ac8349.76b2e","type":"dashDB in","z":"43761947.be1e48","dashDB":"","service":"Db2 Warehouse on Cloud-ip","query":"","params":"","name":"","x":417.00006103515625,"y":394.0000114440918,"wires":[["52424a2b.9eb3f4"]]},{"id":"de408cad.489a5","type":"template","z":"43761947.be1e48","name":"INSTRUMENT","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * from INSTRUMENTS\nwhere ID = '{{req.params.id}}'\nORDER by NAME ASC","output":"str","x":244.00006866455078,"y":394.00003242492676,"wires":[["e8ac8349.76b2e"]]},{"id":"31336f43.e719d","type":"http response","z":"43761947.be1e48","name":"","statusCode":"","headers":{},"x":779.000072479248,"y":525.0000171661377,"wires":[]},{"id":"9ef6f271.34913","type":"template","z":"43761947.be1e48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<h2>{{NAME}} -- {{CX Code ISIN}}</h2>\n<table>\n    <tr>\n        <td>\nSector: {{SECTOR}}\n<br>\nAsset type: {{CX Asset Type}}  {{CX Asset Subtype}}\n<br>\nTHEO Value: {{THEO/Value}}\n\n</td>\n<td> \n    <script type=\"text/javascript\">\n    function onsubmitForm () {\n        var f = document.formAdd;\n        f.action  =\"/holdings/\";\n        f.action +=f.portfolio.value;\n        f.action +=\"/add/\";\n        f.action +=f.instrumentId.value;\n        return true;\n    }\n    </script>\n    \n    <form name=formAdd action=# method=post onsubmit=\"return onsubmitForm();\">\n        <input name=instrumentId value=\"{{ID}}\" type=hidden>\n        <input name=asset value=\"{{NAME}}\" type=hidden>\n        <input name=portfolio value=\"{{global.portfolio}}\" type=hidden>\n        <input name=timestamp value=\"{{global.portstamp}}\" type=hidden>\n        <input name=quantity type=range value=0 min=0 max=\"{{global.portpool}}\" step=100 oninput=\"document.formAdd.quant.value=value;\">\n        <output name=quant>0</output>\n        <input type=submit value=\"Add to portfolio\">\n    </form>\n</td>\n</tr>\n</table>\n{{/payload}}\n<p>\n    <a href={{responseUrl}}>\n        <img width=60 height=60 src=\"https://pbs.twimg.com/profile_images/779060777672138753/irDb99O9_400x400.jpg\" alt=\"Business Insider\">\n    </a>\n</p>\n{{{chart}}}","output":"str","x":595.000114440918,"y":525.0000171661377,"wires":[["31336f43.e719d"]]},{"id":"52424a2b.9eb3f4","type":"change","z":"43761947.be1e48","name":"save payload","rules":[{"t":"set","p":"instrument","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":621.0000648498535,"y":392.000036239624,"wires":[["2ad4b38b.7f632c"]]},{"id":"8e5bc7de.be1818","type":"http request","z":"43761947.be1e48","name":"MarketInsider","method":"GET","ret":"txt","url":"http://markets.businessinsider.com/searchresults?_search={{topic}}","tls":"","x":396.000057220459,"y":467.00001525878906,"wires":[["d5cfcc0f.f9f1e"]]},{"id":"2ad4b38b.7f632c","type":"change","z":"43761947.be1e48","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload['CX Code ISIN']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":182.00004959106445,"y":467.00000381469727,"wires":[["8e5bc7de.be1818"]]},{"id":"c47b1c75.0992e","type":"debug","z":"43761947.be1e48","name":"","active":true,"console":"false","complete":"false","x":797.000072479248,"y":466.00001430511475,"wires":[]},{"id":"d5cfcc0f.f9f1e","type":"html","z":"43761947.be1e48","name":"","tag":".picture-chart","ret":"html","as":"single","x":577.0000648498535,"y":467.00001525878906,"wires":[["c47b1c75.0992e","4f74d875.0d5098"]]},{"id":"4f74d875.0d5098","type":"change","z":"43761947.be1e48","name":"","rules":[{"t":"set","p":"chart","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":192.00004959106445,"y":527.0000038146973,"wires":[["b901e4e2.1a5388"]]},{"id":"b901e4e2.1a5388","type":"change","z":"43761947.be1e48","name":"unsave payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"instrument","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400.000057220459,"y":526.0000171661377,"wires":[["9ef6f271.34913"]]},{"id":"4c0b9452.f2d3bc","type":"inject","z":"758e80f8.634a3","name":"Hello","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":60,"wires":[["7565cd83.dce0f4"]]},{"id":"c6f811e1.6acaa","type":"http request","z":"758e80f8.634a3","name":"portfolioman","method":"POST","ret":"obj","url":"","tls":"","x":530,"y":220,"wires":[["65197a21.a120a4","d7315f45.df59b"]]},{"id":"65197a21.a120a4","type":"debug","z":"758e80f8.634a3","name":"","active":true,"console":"false","complete":"false","x":632,"y":261,"wires":[]},{"id":"25deab15.c12ca4","type":"inject","z":"758e80f8.634a3","name":"whats in the portfolio","topic":"","payload":"whats in my portfolio","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["7565cd83.dce0f4"]]},{"id":"1d9d1cc6.03c803","type":"inject","z":"758e80f8.634a3","name":"","topic":"","payload":"sell all GE stock","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":140,"wires":[["7565cd83.dce0f4"]]},{"id":"53f038c1.505038","type":"template","z":"758e80f8.634a3","name":"{ \"user\" : \"{{user}}\" , \"input\" : { \"text\": \"{{payload}}\" } }","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"user\" : \"{{user}}\" , \"input\" : { \"text\": \"{{payload}}\" } }","output":"json","x":600,"y":110,"wires":[["62ac6523.602a14"]]},{"id":"7565cd83.dce0f4","type":"change","z":"758e80f8.634a3","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"nodered","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":110,"wires":[["53f038c1.505038"]]},{"id":"ad6e075.fb39ff8","type":"http in","z":"b2178db7.c65c7","name":"","url":"/products","method":"get","upload":false,"swaggerDoc":"","x":110,"y":70,"wires":[["1182be88.73b0b1"]]},{"id":"14186dc.0321b92","type":"http request","z":"b2178db7.c65c7","name":"GetProductList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/product/GetProductList?pageSize=0&pageNum=0","tls":"","x":480.0000457763672,"y":116.00002098083496,"wires":[["49bcd4e7.88905c","255443f9.240eac"]]},{"id":"b635f84b.8dbbd8","type":"http response","z":"b2178db7.c65c7","name":"","statusCode":"","headers":{},"x":780.000072479248,"y":67.0000581741333,"wires":[]},{"id":"1182be88.73b0b1","type":"change","z":"b2178db7.c65c7","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":285.00006103515625,"y":117.00001907348633,"wires":[["14186dc.0321b92"]]},{"id":"49bcd4e7.88905c","type":"debug","z":"b2178db7.c65c7","name":"","active":true,"console":"false","complete":"true","x":782.1001205444336,"y":115.40005874633789,"wires":[]},{"id":"3a9099f9.d8bf96","type":"http request","z":"2119b734.ae4bc8","name":"CreateTempMember","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/member/CreateTempMember","tls":"","x":520,"y":220,"wires":[["dcc6c95b.3e4ff8","74cb8667.a94118","3fb46bb3.7e751c"]]},{"id":"bcddeb6b.c66088","type":"change","z":"2119b734.ae4bc8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":220,"wires":[["3a9099f9.d8bf96"]]},{"id":"fb7b32e4.c0047","type":"function","z":"2119b734.ae4bc8","name":"[defunct] global.member","func":"var member = msg.payload.DataObject;\nglobal.set(\"member\",member);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[[]]},{"id":"39aa8317.f91f4c","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"true","x":810,"y":280,"wires":[]},{"id":"dcc6c95b.3e4ff8","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"false","x":770,"y":180,"wires":[]},{"id":"26a1b61b.5db64a","type":"http in","z":"2119b734.ae4bc8","name":"","url":"/member/select","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["b45b3de3.c6c31"]]},{"id":"1022bab7.912345","type":"template","z":"2119b734.ae4bc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div id=\"ia_member\">\n    <h2>Create temporary member</h2>\n    Current Member details:\n    {{global.member.UserName}}\n    <br>\n    {{#payload}}\n    From {{TotalRecord}} Personae - \n    <p>\n           <table>\n            <tr>\n            <th>Create Persona</th>\n            <th>Description</th>\n            <th>Risk tolerance</th>\n            <th>Age</th>\n            <th>Income</th>\n            <th>Savings</th>\n            <th></th>\n            </tr>\n            {{#ListOfObjects}}\n            <tr>\n            <td><a href=\"/member/create/{{Code}}\">{{Code}}</a></a></td>\n            <td>{{Name}}</td>\n            <td>{{RiskTolerance}}</td>\n            <td>{{Age}}</td>\n            <td>{{Income}}</td>\n            <td>{{PostTaxInvestment}}</td>\n            <td><img src=\"{{ImageUrl}}\"></td>\n            </tr>            \n            {{/ListOfObjects}}\n        </table>\n    {{/payload}}\n</div>","output":"str","x":690,"y":100,"wires":[["f5f5a0c1.85c"]]},{"id":"f5f5a0c1.85c","type":"http response","z":"2119b734.ae4bc8","name":"","statusCode":"","headers":{},"x":810,"y":100,"wires":[]},{"id":"a60a1c79.652b6","type":"http request","z":"2119b734.ae4bc8","name":"GetPersonaList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/tips/GetPersonaList?pageNum=0&pageSize=0","tls":"","x":500,"y":100,"wires":[["1022bab7.912345","65a12a93.81ea44"]]},{"id":"b45b3de3.c6c31","type":"change","z":"2119b734.ae4bc8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["a60a1c79.652b6"]]},{"id":"23e17a44.6d39e6","type":"function","z":"2119b734.ae4bc8","name":"post body","func":"msg.payload = {\"PersonaCode\":msg.req.params.persona};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["bcddeb6b.c66088"]]},{"id":"5b2f805c.c9dbc","type":"http in","z":"2119b734.ae4bc8","name":"","url":"/member/create/:persona","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["23e17a44.6d39e6"]]},{"id":"ae483b3f.74f5d8","type":"http response","z":"2119b734.ae4bc8","name":"","statusCode":"","headers":{},"x":810,"y":220,"wires":[]},{"id":"74cb8667.a94118","type":"template","z":"2119b734.ae4bc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Member created -- <a href=\"/member/login\">Login</a>\n{{#payload}} \n    {{#DataObject}}\n    ID - {{InstallationId}}\n    <br>\n    Email - {{Member}}\n    <br>\n    Username - {{UserName}}\n    <br>\n    Password - {{Password}}\n    {{/DataObject}}\n{{/payload}}","output":"str","x":690,"y":220,"wires":[["ae483b3f.74f5d8"]]},{"id":"90fec65f.5c1948","type":"http in","z":"30cfc8ac.884918","name":"","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["8059a499.5b9528","9476c414.b52bb8"]]},{"id":"8059a499.5b9528","type":"template","z":"30cfc8ac.884918","name":"Demo page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<link rel=\"stylesheet\" \n\t\t\ttype=\"text/css\" \n\t\t\thref=\"https://unpkg.com/carbon-components/css/carbon-components.min.css\">\n\t\t<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n\t\t\tintegrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n\t\t\tcrossorigin=\"anonymous\">\n\t\t</script>\n\t\t<script src=\"https://unpkg.com/carbon-components/scripts/carbon-components.min.js\">\n\t\t</script>\n\t\t<script src=\"https://unpkg.com/carbon-components/umd/index.js\">\n\t\t</script>\n\t\t<style>\n       \t\t.modal {\n       \t\t  display: none;\n              position: fixed;\n              z-index: 50;\n              padding-top: 20px;\n              left: 50;\n              top: 200;\n              width: 50vw;\n              height: 50vh;\n              overflow: auto;\n              background-color: rgba(61,112,178,0.5);\n            }\n            /* Modal Content */\n.modal-content {\n  overflow: auto;\n  position: relative;\n  background-color: #fefefe;\n  margin: auto;\n  padding: 0;\n  width: 90%;\n  max-width: 1200px;\n}\n\t\t\tbody {\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t\tpadding: 5px;\n\t\t\t}\n\t\t\theader,\n\t\t\tfooter {\n\t\t\t\twidth: 80vw;\n\t\t\t\theight:10vh;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t}\n\t\t\tnav {\n\t\t\t    width: 80vw;\n\t\t\t\theight:8vh;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t}\n\t\t\theader > img {\n\t\t\t\theight: 75px;\n\t\t\t}\n\t\t\tarticle {\n//\t\t\t\twidth: 80vw;\n\t\t\t\theight: 80vh;\n\t\t\t\tdisplay: table;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t\talign:center;\n\t\t\t}\n\t\t\tfooter {\n\t\t\t\ttext-align: center;\n\t\t\t\tpadding-top: 10px;\n\t\t\t}\n\t\t\tsection {\n\t\t\t\tfloat: left;\n\t\t\t\tdisplay: table-cell;\n\t\t\t}\n\t\t\tarticle {\n\t\t\t\t/** background-color: deepskyblue; **/\n\t\t\t}\n\t\t\t\n\t\t\t.column {\n\t\t\t\tfloat: left;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t}\n\n\t\t\t.column.right {\n\t\t\t\twidth: 30vw;\n\t            height: 80vh;\n                overflow-y: scroll;\n                overflow-x:hidden;\n\t\t\t}\n\t\t\t\n\t\t\t.column.middle {\n\t\t\t\twidth: 60vw;\n                height: 80vh;\n                overflow-y: scroll;\n                overflow-x:auto;\n\t\t\t}\n\t\t\n\t\t\tiframe {\n\t\t\t\tborder: none;\n\t\t\t\twidth: 100%\n\t\t\t}\n\n\t\t\tiframe#portfolios {\n\t\t\t\theight: 20vh;\n\t\t\t}\n\t\t\tiframe#products {\n\t\t\t\theight: 60vh;\n\t\t\t}\n\t\t\tiframe#chat {\n\t\t\t\theight: 80vh;\n\t\t\t}\n\t\t</style>\n\t\t<script type=\"text/javascript\">\n\t\t\t$(document).ready(function() {\n\t\t\t\t$( \"div#portfolios\" ).load( \"/portfolios\" );\n\t\t\t\t$( \"div#content\" ).load( \"/instruments\" );\n\t\t \t\t$( \"div#chat\" ).load( \"/chat\" );\n\n            $('a.ia_lnk').on(\"click\",function(e) {\n                e.preventDefault();\n                var url = $(this).attr('href');\n                $('#content').load(url);\n                return false;\n            });\n          \n            $('a.ia_nav_lnk').on(\"click\",function(e) {\n                e.preventDefault();\n                var url = $(this).attr('href');\n                $('#navcontent').empty();\n                $('#navcontent').load(url);\n                $('#navcontent-holder').show();\n                return false;\n            });\n            $('#navcontent-holder').click(function() {\n                $('#navcontent-holder').hide();\n                return true;\n            });\n\n        });\n    </script>\n\t</head>\n\t<body>\n\t\t<header>\n\t\t<img src=\"https://developer.risemarketplace.net/assets/images/rise-new-logo@2x.png\">\n\t\t<img src=\"https://xxxxxxxxxx.mybluemix.net/media/Bluemix-logo-primary-lightbg-reg.png\" style=\"float: right;\">\n\t\t</header>\n\t\t<nav>\n\t\t    <span style=\"float:left;\">\n            |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/member/login\">Login</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/wallets\">Wallets</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/holdings\">Holdings</a>\n\t\t    |\n\t\t    </span>\n\t\t    <span style=\"float:right;\">\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/accounts/types\">A/c types</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/products\">Products</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"https://developer.risemarketplace.net/APIs\">Help</a>\n\t\t    |\n\t\t    </span>\n\t\t</nav>\n\t\t<div id=\"navcontent-holder\" class=\"modal\">\n\t\t    <div id=\"navcontenthead\" style=\"float:right;\">\n<b>X</b>&nbsp;\n\t\t    </div>\n\t\t    <div id=\"navcontent\" class=\"modal-content\"></div>\n\t\t</div>\n\t\t<article>\n\t\t\t<div class=\"content\">\n\t\t\t\t<div class=\"column middle\" align=center>\n\t\t\t\t\t<div id=\"portfolios\"></div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div id=\"content\"></div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"column right\" align=center>\n\t\t\t\t\t<div id=\"chat\">\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</article>\n\t\t<footer>\n\t\t\t<a href=\"http://developer.ibm.com/code/journey/create-an-investment-management-chatbot\">developerWorks</a> | \n\t\t\t<b>Watson Conversation</b>\n\t\t\t<a href=\"https://github.com/watson-developer-cloud/text-bot#user-content-intents\">Intents</a>\n\t\t\t<a href=\"https://github.com/watson-developer-cloud/text-bot#user-content-entities\">Entities</a>\n\t\t\t<a href=\"https://www.ibm.com/watson/developercloud/doc/conversation/advanced_overview.shtml\">Dialogs</a> | \n\t\t\t<b>Rise APIs</b>\n\t\t\t<a href=\"https://developer.risemarketplace.net/APIs\">Explore</a>\n\t\t</footer>\n\t</body>\n</html>","output":"str","x":410,"y":40,"wires":[["cd3f9dec.e242b"]]},{"id":"cd3f9dec.e242b","type":"http response","z":"30cfc8ac.884918","name":"","statusCode":"","headers":{},"x":830,"y":40,"wires":[]},{"id":"bf7d09ec.f41f88","type":"http in","z":"2119b734.ae4bc8","name":"","url":"/member/login","method":"get","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["2f8d1351.45523c"]]},{"id":"e75e377d.04b9f8","type":"http request","z":"2119b734.ae4bc8","name":"get user token","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/token","tls":"","x":500,"y":460,"wires":[["77eaf7df.bed9b8","842744dc.321398","56f73d7e.3bbaa4"]]},{"id":"6f4e6ebd.1b561","type":"http response","z":"2119b734.ae4bc8","name":"","statusCode":"","headers":{},"x":810,"y":460,"wires":[]},{"id":"77eaf7df.bed9b8","type":"template","z":"2119b734.ae4bc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n    Access {{access_token}}\n    <br>\n    Refresh {{refresh_token}}\n    <br>\n    Expires {{expires_in}}\n    <br>\n    TokenType {{token_type}}\n    <br>\n    Scope {{scope}}\n\n{{/payload}}","output":"str","x":670,"y":460,"wires":[["6f4e6ebd.1b561"]]},{"id":"2f8d1351.45523c","type":"function","z":"2119b734.ae4bc8","name":"post body","func":"var member = global.get(\"member\");\n\nmsg.payload =  \"grant_type=password&scope=PRODUCTION\";\nmsg.payload += \"&username=\" + member.UserName;\nmsg.payload += \"&password=\" + member.Password;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["7a856884.a70c38"]]},{"id":"81b19097.f58ec","type":"inject","z":"30cfc8ac.884918","name":"@ StartUp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":180,"wires":[["55abec4e.9a0494","764250fc.b205e","edebb134.004d28","5e7fce47.50cc58","6a4c1f0d.def1"]]},{"id":"55abec4e.9a0494","type":"change","z":"30cfc8ac.884918","name":">>> set RISE demo member","rules":[{"t":"set","p":"member","pt":"global","to":"{\"UserName\":\"demouser15077691240000\",\"Password\":\"Abc@123456\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["2513eccb.318494"]]},{"id":"2513eccb.318494","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":850,"y":280,"wires":[]},{"id":"61bd6022.a9505","type":"inject","z":"2119b734.ae4bc8","name":"refresh login","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":350,"wires":[["2f8d1351.45523c"]]},{"id":"842744dc.321398","type":"function","z":"2119b734.ae4bc8","name":"global.usertoken","func":"var auth =  \"Bearer \" + msg.payload.access_token;\nvar usertoken = { \"Authorization\" : auth };\nif(msg.payload.access_token === undefined){\n   usertoken = {}; \n}\nglobal.set(\"usertoken\", usertoken);\nmsg.usertoken = usertoken;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["2c5ebaea.2d10a6"]]},{"id":"2c5ebaea.2d10a6","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"true","x":810,"y":520,"wires":[]},{"id":"4ce775f.c04468c","type":"function","z":"30cfc8ac.884918","name":"App Token request","func":"msg.payload = \"grant_type=client_credentials&scope=PRODUCTION\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":500,"wires":[["bf567697.e33fb8"]]},{"id":"b492c85.4ed3238","type":"http request","z":"30cfc8ac.884918","name":"","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/token","tls":"","x":610,"y":500,"wires":[["81bc7ee5.99e8","75b8ef7a.ad5b8"]]},{"id":"81bc7ee5.99e8","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":830,"y":500,"wires":[]},{"id":"238ac22.9c81f3e","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets","method":"get","upload":false,"swaggerDoc":"","x":110,"y":250,"wires":[["de5363d.5594ba"]]},{"id":"db8dfebd.a2ad4","type":"http request","z":"d223ccb6.c890c","name":"GetWalletList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletList?pageSize=0&pageNum=0","tls":"","x":470,"y":300,"wires":[["aff90a2a.8a0aa8","a1bd9c80.c6455"]]},{"id":"3b35ec41.90cd74","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":300,"wires":[["db8dfebd.a2ad4"]]},{"id":"aff90a2a.8a0aa8","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<table>\n    <tr>\n        <th>Wallet</th>\n        <th>Current Balance</th>\n        <th>Top-up Account</th>\n        <th>Action</th>\n    </tr>\n{{#ListOfObjects}}\n<tr>\n    <td><a class=ia_nav_lnk href=\"/wallets/{{WalletCode}}/detail\">{{Name}}</a></td>\n    <td>{{CurrentBalance}}</td>\n    <td><a class=ia_nav_lnk href=\"/accounts/{{TopupAccount}}/detail\">{{TopupAccount}}</a></td>\n    <td>\n        <a class=ia_nav_lnk target=\"_blank\" href=\"/wallets/{{WalletCode}}/delete\">DELETE</a>\n        <br>\n        <a class=ia_nav_lnk target=\"_blank\" href=\"/wallets/{{WalletCode}}/topup\">TOPUP</a>\n        </td>\n</tr>\n{{/ListOfObjects}}\n</table>\n{{/payload}}\n<a href=/wallets/create>Create a new wallet</a>","output":"str","x":630,"y":260,"wires":[["684f6615.2c1ff8"]]},{"id":"684f6615.2c1ff8","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790,"y":260,"wires":[]},{"id":"de5363d.5594ba","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":337.9000015258789,"y":250.40000343322754,"wires":[["3b35ec41.90cd74"]]},{"id":"fcec692a.de0228","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/create","method":"get","upload":false,"swaggerDoc":"","x":137.00000381469727,"y":75.20007705688477,"wires":[["9768cf23.190db"]]},{"id":"dc5db537.865608","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":787.0001373291016,"y":76.60004997253418,"wires":[]},{"id":"9768cf23.190db","type":"template","z":"d223ccb6.c890c","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <form method=POST action=\"/wallets/add\">\n        Wallet name: <input type=text name=wallet></input>\n        <input type=Submit>\n    </form>\n</div>","output":"str","x":450.0000762939453,"y":76.2000560760498,"wires":[["dc5db537.865608"]]},{"id":"150608af.4e74b7","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/add","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["7cbfd78d.032ec8"]]},{"id":"6808cec8.7250b","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":160,"wires":[["ddb3987d.864ae8"]]},{"id":"ddb3987d.864ae8","type":"http request","z":"d223ccb6.c890c","name":"CreateWallet","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/CreateWallet","tls":"","x":470,"y":160,"wires":[["8a663e28.7f545","c80df72e.2c5648"]]},{"id":"7cbfd78d.032ec8","type":"function","z":"d223ccb6.c890c","name":"post body","func":"msg.payload = {\n    \"WalletName\" : msg.req.body.wallet\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["6808cec8.7250b"]]},{"id":"8a663e28.7f545","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"New Wallet created : {{payload.DataObject.WalletCode}} !","output":"str","x":630,"y":120,"wires":[["4f8d1575.6f8c7c"]]},{"id":"4f8d1575.6f8c7c","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790,"y":120,"wires":[]},{"id":"c80df72e.2c5648","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790,"y":160,"wires":[]},{"id":"6a2528e2.ab9798","type":"http in","z":"7900671d.eafd08","name":"","url":"/accounts/types","method":"get","upload":false,"swaggerDoc":"","x":137,"y":78.00000286102295,"wires":[["257d3e25.4f6f52"]]},{"id":"78a71672.fc3708","type":"http request","z":"7900671d.eafd08","name":"GetAccountTypeList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountTypeList?pageSize=0&pageNum=0","tls":"","x":472.00013732910156,"y":126.80000400543213,"wires":[["c58eca6b.b08048","84fd31dc.e3c8c"]]},{"id":"257d3e25.4f6f52","type":"change","z":"7900671d.eafd08","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":250.0000228881836,"y":126.80000305175781,"wires":[["78a71672.fc3708"]]},{"id":"c58eca6b.b08048","type":"template","z":"7900671d.eafd08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<table>\n    <tr>\n        <th>Name</th>\n        <th>Description</th>\n        <th>Type</th>\n    </tr>\n{{#ListOfObjects}}\n<tr>\n    <td>{{Code}}</td>\n    <td>{{Description}}</td>\n    <td>{{FinancialItemType}}</td>\n</tr>\n{{/ListOfObjects}}\n</table>\n{{/payload}}","output":"str","x":615.000114440918,"y":82.8000020980835,"wires":[["d9e5c8cd.69efa8"]]},{"id":"d9e5c8cd.69efa8","type":"http response","z":"7900671d.eafd08","name":"","statusCode":"","headers":{},"x":758.0001220703125,"y":82.60003852844238,"wires":[]},{"id":"42ef9fd5.f4aa8","type":"http in","z":"7900671d.eafd08","name":"","url":"/accounts/:id/detail","method":"get","upload":false,"swaggerDoc":"","x":142,"y":366.0000114440918,"wires":[["9d2be2a0.efce8"]]},{"id":"9d2be2a0.efce8","type":"change","z":"7900671d.eafd08","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":254.00003814697266,"y":419.0000123977661,"wires":[["85781d94.2c7b7"]]},{"id":"85781d94.2c7b7","type":"http request","z":"7900671d.eafd08","name":"GetAccountInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountInfo?accountNumber={{{req.params.id}}}","tls":"","x":452.0000457763672,"y":418.00001335144043,"wires":[["484ea42.4fc4a5c","4fb777b1.722eb8"]]},{"id":"484ea42.4fc4a5c","type":"template","z":"7900671d.eafd08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Account detail -- {{req.params.id}}</h2>\n{{#payload}}\n<table>\n    {{#DataObject}}\n    <tr><td>AccountNumber</td><td>{{AccountNumber}}</td></tr>\n    <tr><td>Current Balance</td><td>{{CurrentBalance}}</td></tr>\n    <tr><td>Currency</td><td>{{Currency}}</td></tr>\n    <tr><td>Product</td><td>{{ProductVariant}}</td></tr>\n    {{/DataObject}}\n</table>\n{{/payload}}","output":"str","x":618.0000267028809,"y":367.00001335144043,"wires":[["d5191dbf.49cb"]]},{"id":"d5191dbf.49cb","type":"http response","z":"7900671d.eafd08","name":"","statusCode":"","headers":{},"x":753.0000267028809,"y":368.0000238418579,"wires":[]},{"id":"e46135bb.ee6168","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/detail","method":"get","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["7906bd24.b3aae4"]]},{"id":"7906bd24.b3aae4","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":440,"wires":[["89324222.696ff"]]},{"id":"89324222.696ff","type":"http request","z":"d223ccb6.c890c","name":"GetWalletInfo","method":"GET","ret":"txt","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletInfo?walletCode={{{req.params.id}}}","tls":"","x":480,"y":440,"wires":[["f6d3fbdb.01cf88","6acec003.c2a6f"]]},{"id":"f6d3fbdb.01cf88","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":630,"y":400,"wires":[["860cde1c.d3534"]]},{"id":"6acec003.c2a6f","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790,"y":440,"wires":[]},{"id":"860cde1c.d3534","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790,"y":400,"wires":[]},{"id":"a1bd9c80.c6455","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790,"y":300,"wires":[]},{"id":"81b69ee1.d5e9f","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":740,"wires":[["5bf91891.ef2bc8"]]},{"id":"5bf91891.ef2bc8","type":"change","z":"30cfc8ac.884918","name":"? global.member","rules":[{"t":"set","p":"payload","pt":"msg","to":"member","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":740,"wires":[["75cff349.9aac2c"]]},{"id":"75cff349.9aac2c","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":850,"y":740,"wires":[]},{"id":"376ba1af.a2af7e","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":780,"wires":[["1d136e29.fc5b72"]]},{"id":"1d136e29.fc5b72","type":"change","z":"30cfc8ac.884918","name":"? global.apptoken","rules":[{"t":"set","p":"payload","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":780,"wires":[["96d3fe5e.e538f"]]},{"id":"96d3fe5e.e538f","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":850,"y":780,"wires":[]},{"id":"dd6c62d6.d9046","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":820,"wires":[["9f95e54a.511ad8"]]},{"id":"9f95e54a.511ad8","type":"change","z":"30cfc8ac.884918","name":"? global.usertoken","rules":[{"t":"set","p":"payload","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":820,"wires":[["c02041fe.3ab93"]]},{"id":"c02041fe.3ab93","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":847.9000244140625,"y":820.199951171875,"wires":[]},{"id":"65a12a93.81ea44","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"false","x":850,"y":40,"wires":[]},{"id":"7a856884.a70c38","type":"change","z":"2119b734.ae4bc8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\",\"Content-Type\":\"application/x-www-form-urlencoded\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":460,"wires":[["8a3bb23a.012f1"]]},{"id":"56f73d7e.3bbaa4","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"false","x":830,"y":400,"wires":[]},{"id":"96cb19c7.6cc2f8","type":"http in","z":"7900671d.eafd08","name":"","url":"/accounts","method":"get","upload":false,"swaggerDoc":"","x":126,"y":238.00000953674316,"wires":[["2846aa14.2dd7b6"]]},{"id":"2846aa14.2dd7b6","type":"change","z":"7900671d.eafd08","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":258.00003814697266,"y":291.0000104904175,"wires":[["a287bbdd.3b7728"]]},{"id":"a287bbdd.3b7728","type":"http request","z":"7900671d.eafd08","name":"GetAccountList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountList?pageNum=0&pageSize=0","tls":"","x":453.00006103515625,"y":290.00002002716064,"wires":[["e854e697.82e378","fb76b076.5dd55"]]},{"id":"e854e697.82e378","type":"template","z":"7900671d.eafd08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<table>\n    <tr>\n        <th>Name</th>\n        <th>Description</th>\n        <th>Balance</th>\n    </tr>\n{{#ListOfObjects}}\n<tr>\n    <td><a href=\"/accounts/{{AccountNumber}}/detail\">{{AccountNumber}}</a></td>\n    <td>{{AccountType}}</td>\n    <td>{{CurrentBalance}}</td>\n</tr>\n{{/ListOfObjects}}\n</table>\n{{/payload}}","output":"str","x":622.0000267028809,"y":239.0000114440918,"wires":[["b979dad8.82af18"]]},{"id":"b979dad8.82af18","type":"http response","z":"7900671d.eafd08","name":"","statusCode":"","headers":{},"x":751.0000228881836,"y":238.000018119812,"wires":[]},{"id":"84fd31dc.e3c8c","type":"debug","z":"7900671d.eafd08","name":"","active":true,"console":"false","complete":"false","x":777.1001205444336,"y":126.20000457763672,"wires":[]},{"id":"4fb777b1.722eb8","type":"debug","z":"7900671d.eafd08","name":"","active":true,"console":"false","complete":"false","x":771.1000289916992,"y":416.800012588501,"wires":[]},{"id":"fb76b076.5dd55","type":"debug","z":"7900671d.eafd08","name":"","active":true,"console":"false","complete":"false","x":770.0000228881836,"y":291.00002002716064,"wires":[]},{"id":"ee1f2bfc.25b4d8","type":"http request","z":"d223ccb6.c890c","name":"AddValue","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/AddValue","tls":"","x":414.10018157958984,"y":882.3999767303467,"wires":[["ce2785c.f34cf78","e2f4caf6.63bb58"]]},{"id":"ce2785c.f34cf78","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":788.1001892089844,"y":879.600040435791,"wires":[]},{"id":"c5795eff.041e2","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":226.00014877319336,"y":882.9999771118164,"wires":[["ee1f2bfc.25b4d8"]]},{"id":"22209d08.985062","type":"inject","z":"d223ccb6.c890c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138.00000381469727,"y":1689.9999732971191,"wires":[["e6e6e507.e7d958"]]},{"id":"e6e6e507.e7d958","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n   \"WalletCode\": \"5698734942850665332\",\n   \"WalletName\": \"HHHH\",\n   \"TopUpFrequency\": \"yearly\",\n   \"Status\": \"Current\",\n   \"SubCategory\": \"FundTransfers\",\n   \"TopUpAmount\": \"10000\"\n}","output":"str","x":318.00002670288086,"y":1688.5999670028687,"wires":[["1c23e26e.f13dee"]]},{"id":"3842d7d.e757728","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":240.9000129699707,"y":1746.1999759674072,"wires":[["d3f73d6f.2d76a"]]},{"id":"d3f73d6f.2d76a","type":"http request","z":"d223ccb6.c890c","name":"UpdateWallet","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/UpdateWallet","tls":"","x":444.00006103515625,"y":1745.6000003814697,"wires":[["a4d7e1b6.67126"]]},{"id":"a4d7e1b6.67126","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790.0000534057617,"y":1743.8000240325928,"wires":[]},{"id":"8e5776fd.21c018","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/delete","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["b20cd6f6.ac5e58"]]},{"id":"b20cd6f6.ac5e58","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":560,"wires":[["8c028fc7.c8bc9"]]},{"id":"8c028fc7.c8bc9","type":"http request","z":"d223ccb6.c890c","name":"DeleteWallet","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/DeleteWallet?walletCode={{req.params.id}}","tls":"","x":470,"y":560,"wires":[["ed697a2c.796238","f00116af.a54e58"]]},{"id":"ed697a2c.796238","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" Wallet deleted : {{payload.DataObject.WalletCode}} !","output":"str","x":630,"y":520,"wires":[["da6b1853.c19c68"]]},{"id":"f00116af.a54e58","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790,"y":560,"wires":[]},{"id":"da6b1853.c19c68","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790,"y":520,"wires":[]},{"id":"384ec34.d3b8d3c","type":"inject","z":"d223ccb6.c890c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.00000476837158,"y":1579.3998737335205,"wires":[["e42755ca.f96638"]]},{"id":"e42755ca.f96638","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n   \"AccountNumber\": \"9019a6da-1008-4bac-a90d-c956c744fad6\",\n   \"OpeningBalance\": \"50000\"\n}","output":"str","x":321.0000104904175,"y":1578.9998898506165,"wires":[["ae8e0be0.dcf518"]]},{"id":"a5e25681.60ca38","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":235.90002727508545,"y":1639.5998888015747,"wires":[["8a124f7b.dba09"]]},{"id":"8a124f7b.dba09","type":"http request","z":"d223ccb6.c890c","name":"UpdateAccount","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/UpdateAccount","tls":"","x":462.00006580352783,"y":1638.999900817871,"wires":[["ed05afd7.32b09"]]},{"id":"ed05afd7.32b09","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":804.0000772476196,"y":1635.1999015808105,"wires":[]},{"id":"1c23e26e.f13dee","type":"json","z":"d223ccb6.c890c","name":"","pretty":false,"x":480.10001373291016,"y":1686.799949645996,"wires":[["3842d7d.e757728"]]},{"id":"ae8e0be0.dcf518","type":"json","z":"d223ccb6.c890c","name":"","pretty":false,"x":488.0000123977661,"y":1579.399899482727,"wires":[["a5e25681.60ca38"]]},{"id":"be38efcb.a701a","type":"template","z":"43761947.be1e48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n            </style>\n            <script type=\"text/javascript\">\n\t\t\t$(document).ready(function() {\n                $('a.ia_lnk').click(function() {\n                   var url = $(this).attr('href');\n                    $('#content').load(url);\n                    return false;\n                  });\n            });\n            </script>\n            \n            <script>\nfunction myFunction(input,field) {\n  // Declare variables\n  var input, filter, table, tr, td, i;\n  input = document.getElementById(input);\n  filter = input.value.toUpperCase();\n // alert(filter);\n  table = document.getElementById(\"myTable\");\n  tr = table.getElementsByTagName(\"tr\");\n\n  // Loop through all table rows, and hide those who don't match the search query\n  for (i = 0; i < tr.length; i++) {\n    td = tr[i].getElementsByTagName(\"td\")[field];\n    if (td) {\n      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {\n        tr[i].style.display = \"\";\n      } else {\n        tr[i].style.display = \"none\";\n      }\n    }\n  }\n}\n</script>\n\n\n        </head>\n        <body>\n                <div class=\"center\">\n                        <h2>Available Financial Instruments</h2>\n                    </div>\n<input type=\"text\" id=\"myNames\" onkeyup=\"myFunction('myNames',0)\" placeholder=\"Search for names..\">\n<select id=\"mySector\" onchange=\"myFunction('mySector',1)\">\n    {{#sectors}}\n    <option  value=\"{{SECTOR}}\">{{SECTOR}}</option>\n    {{/sectors}}\n</select>\n\n<div class=\"bx--responsive-table-container\" data-responsive-table>\n        <table id=\"myTable\" class=\"bx--responsive-table bx--responsive-table--static-size\" data-table>\n          <thead class=\"bx--table-head\">\n            <tr class=\"bx--table-row\">\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Name</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Sector</span>\n              </th>\n           </tr>\n          </thead>\n          <tbody class=\"bx--table-body\">\n            {{#payload}}\n            <tr tabindex=\"0\" class=\"bx--table-row bx--parent-row\" data-parent-row>\n              <td><a class=ia_lnk href=\"/instruments/{{ID}}/detail\">{{NAME}}</a></td>\n              <td>{{SECTOR}}</td>\n            </tr>\n            {{/payload}}\n          </tbody>\n        </table>\n      </div>\n      \n        </body>\n    </html>\n","output":"str","x":602.0000095367432,"y":249.00000381469727,"wires":[["4269f7ee.767b18"]]},{"id":"daade12f.9bad9","type":"http in","z":"43761947.be1e48","name":"","url":"/instruments/:id/detail","method":"get","upload":false,"swaggerDoc":"","x":142.00006484985352,"y":341.000018119812,"wires":[["de408cad.489a5"]]},{"id":"764250fc.b205e","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"portpool","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["e9228dd4.ccc7f"]]},{"id":"e9228dd4.ccc7f","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":850,"y":180,"wires":[]},{"id":"eceb748a.a8a628","type":"http in","z":"b2178db7.c65c7","name":"","url":"/products/:code/detail","method":"get","upload":false,"swaggerDoc":"","x":140,"y":250,"wires":[["ec4799c9.e9db78"]]},{"id":"ec4799c9.e9db78","type":"function","z":"b2178db7.c65c7","name":"","func":"msg.payload = \"productCode=\"+msg.req.params.code;\nreturn msg;","outputs":1,"noerr":0,"x":347.00000190734863,"y":251.00000858306885,"wires":[["6d22fe06.9877f"]]},{"id":"581068f4.cf7108","type":"function","z":"b2178db7.c65c7","name":"","func":"msg.req = {\"params\": {\"code\": \"P00030\"}};\nreturn msg;","outputs":1,"noerr":0,"x":251.9999542236328,"y":202.99996376037598,"wires":[["ec4799c9.e9db78"]]},{"id":"6d22fe06.9877f","type":"change","z":"b2178db7.c65c7","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":289.00001525878906,"y":303.99998664855957,"wires":[["20e7d8fe.895598"]]},{"id":"1145a7d3.a13d38","type":"inject","z":"b2178db7.c65c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.99995422363281,"y":202.99996376037598,"wires":[["581068f4.cf7108"]]},{"id":"20e7d8fe.895598","type":"http request","z":"b2178db7.c65c7","name":"GetProductInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/product/GetProductInfo?{{{payload}}}","tls":"","x":484,"y":302.9999885559082,"wires":[["55cd05ec.6e8aac","721d3db.755bcc4"]]},{"id":"55cd05ec.6e8aac","type":"debug","z":"b2178db7.c65c7","name":"","active":true,"console":"false","complete":"true","x":786.1000747680664,"y":302.40002632141113,"wires":[]},{"id":"721d3db.755bcc4","type":"template","z":"b2178db7.c65c7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n            </style>\n    <script type=\"text/javascript\">\n\n\t$(document).ready(function() {\n\t\t$('a.ia_lnk').click(function() {\n\t\tvar url = $(this).attr('href');\n                $('#content').load(url);\n                return false;\n\t\t});\n\t});\n    </script>\n        </head>\n        <body>\n\n\n<div class=\"center\">\n        <h2>Product details for {{req.params.code}}</h2>\n    </div>\n{{#payload.DataObject}}\n{{Name}}\n\n<div class=\"bx--responsive-table-container\" data-responsive-table>\n        <table class=\"bx--responsive-table\" data-table>\n          <thead class=\"bx--table-head\">\n            <tr class=\"bx--table-row\">\n              <th class=\"bx--table-header\"></th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Product Variants</span>\n              </th>\n            </tr>\n          </thead>\n          <tbody class=\"bx--table-body\">\n                {{#ProductVariants}}\n                <tr tabindex=\"0\" class=\"bx--table-row bx--parent-row\" data-parent-row>\n                        <td tabindex=\"0\" class=\"bx--table-expand\" data-event=\"expand\">\n                          <svg class=\"bx--table-expand__svg\" width=\"8\" height=\"12\" viewBox=\"0 0 8 12\" fill-rule=\"evenodd\">\n                            <path d=\"M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z\"></path>\n                          </svg>\n                        </td>\n                        <td>{{Code}} -- {{Name}}</td>\n                      </tr>\n                      <tr class=\"bx--table-row bx--expandable-row bx--expandable-row--hidden\">\n                        <td colspan=\"6\">\n                          <table class=\"bx--responsive-table bx--responsive-table--static-size\">\n                            <thead>\n                              <tr class=\"bx--table-row\">\n                                <th class=\"bx--table-header\">Code</th>\n                                <th class=\"bx--table-header\">Name</th>\n                                <th class=\"bx--table-header\">Mapped to</th>\n                              </tr>\n                            </thead>\n                            <tbody>\n                                    {{#ProductVariantAttributes}}\n                              <tr>\n                                    \n                                    <td>{{Code}}</td>\n                                    <td>{{Name}}</td>\n                                    <td>{{MappedTo}}</td>\n                                \n                              </tr>\n                              {{/ProductVariantAttributes}}\n                            </tbody>\n                          </table>\n                        </td>\n                      </tr>\n                      {{/ProductVariants}}\n          </tbody>\n        </table>\n      </div>\n{{/payload.DataObject}}\n<br>\n<a class=\"ia_lnk\" href=\"/products\">Back to Products</a>\n     \n</body>\n</html>\n","output":"str","x":642.0000228881836,"y":255.00000381469727,"wires":[["2c5d1eea.642342"]]},{"id":"2c5d1eea.642342","type":"http response","z":"b2178db7.c65c7","name":"","statusCode":"","headers":{},"x":784.0000267028809,"y":254.00002574920654,"wires":[]},{"id":"255443f9.240eac","type":"template","z":"b2178db7.c65c7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n            </style>\n            <script type=\"text/javascript\">\n\t\t\t$(document).ready(function() {\n                $('a.ia_lnk').click(function() {\n                   var url = $(this).attr('href');\n                    $('#content').load(url);\n                    return false;\n                  });\n            });\n            </script>\n\n        </head>\n        <body>\n                <div class=\"center\">\n                        <h2>Barclays Product list</h2>\n                    </div>\n\n<div class=\"bx--responsive-table-container\" data-responsive-table>\n        <table class=\"bx--responsive-table bx--responsive-table--static-size\" data-table>\n          <thead class=\"bx--table-head\">\n            <tr class=\"bx--table-row\">\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Code</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Name</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Template</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                    <span>Provider</span>\n                  </th>\n            </tr>\n          </thead>\n          <tbody class=\"bx--table-body\">\n                {{#payload}}\n                {{#ListOfObjects}}\n            <tr tabindex=\"0\" class=\"bx--table-row bx--parent-row\" data-parent-row>\n              <td>{{Code}}</td>\n              <td><a class=\"ia_nav_lnk\" href=/products/{{Code}}/detail>{{Name}}</a></td>\n              <td>{{ProductTemplate}}</td>\n              <td>{{ProductProvider}}</td>\n            </tr>\n            {{/ListOfObjects}}\n            {{/payload}}\n          </tbody>\n        </table>\n      </div>\n      \n        </body>\n    </html>\n","output":"str","x":632.0000190734863,"y":67.00000667572021,"wires":[["b635f84b.8dbbd8"]]},{"id":"d272d555.ac3298","type":"change","z":"43761947.be1e48","name":"save payload","rules":[{"t":"set","p":"result","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620.1001091003418,"y":120.99999904632568,"wires":[["f4b1854d.fc1758"]]},{"id":"f4b1854d.fc1758","type":"template","z":"43761947.be1e48","name":"SECTORS","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT distinct(SECTOR) from INSTRUMENTS\nORDER by 1 ASC","output":"str","x":229.00002670288086,"y":184.00001335144043,"wires":[["38c5f7a0.b42878"]]},{"id":"38c5f7a0.b42878","type":"dashDB in","z":"43761947.be1e48","dashDB":"","service":"Db2 Warehouse on Cloud-ip","query":"","params":"","name":"","x":429.00002670288086,"y":182.00001335144043,"wires":[["9371370e.f3f568"]]},{"id":"9371370e.f3f568","type":"change","z":"43761947.be1e48","name":"","rules":[{"t":"set","p":"sectors","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":626.1001091003418,"y":181.00002479553223,"wires":[["296170b6.f2c6b"]]},{"id":"296170b6.f2c6b","type":"change","z":"43761947.be1e48","name":"unsave payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"},{"t":"delete","p":"result","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":421.00001525878906,"y":249.00002765655518,"wires":[["be38efcb.a701a","8f428d1f.15ca7"]]},{"id":"8f428d1f.15ca7","type":"debug","z":"43761947.be1e48","name":"","active":true,"console":"false","complete":"true","x":604.1001091003418,"y":302.600004196167,"wires":[]},{"id":"e865a0fa.f41bc","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#req.params}}\n{\n   \"WalletCode\": \"{{id}}\",\n   \"Amount\": {{quantity}},\n   \"Date\": \"{{{date}}}\",\n   \"Reason\" : \"{{reason}}\",\n   \"SubCategoryCode\": \"{{subcat}}\"\n}\n{{/req.params}}","output":"json","x":621.0001106262207,"y":1131.400032043457,"wires":[["57bc55dd.041bdc","cec59deb.e0f96"]]},{"id":"cec59deb.e0f96","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230.90009689331055,"y":1187.9999952316284,"wires":[["9221089a.0b76e8"]]},{"id":"9221089a.0b76e8","type":"http request","z":"d223ccb6.c890c","name":"UseValue","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/UseValue","tls":"","x":423.0001106262207,"y":1187.3999948501587,"wires":[["27e46d78.5c0842","48b1b36.563144c"]]},{"id":"27e46d78.5c0842","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790.0001258850098,"y":1182.6000423431396,"wires":[]},{"id":"c38612e3.00d71","type":"http request","z":"d223ccb6.c890c","name":"GetWalletInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletInfo?walletCode={{{req.params.id}}}","tls":"","x":439.0000877380371,"y":1248.2000455856323,"wires":[["ce18f790.bf74c8","b6772b24.ddb2f8"]]},{"id":"ce18f790.bf74c8","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":631.1001663208008,"y":1209.400058746338,"wires":[]},{"id":"48b1b36.563144c","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230.00007247924805,"y":1250.600046157837,"wires":[["c38612e3.00d71"]]},{"id":"57bc55dd.041bdc","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":809.1001625061035,"y":1131.400032043457,"wires":[]},{"id":"5cfb78a9.656d68","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/byname/:name/spend/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":239.00006103515625,"y":1032.0001258850098,"wires":[["8977b07d.81803"]]},{"id":"119015b4.bed7ca","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790.100170135498,"y":1245.4000606536865,"wires":[]},{"id":"4c7b6a8c.056ae4","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/byname/:name/add/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":237.0000457763672,"y":727.9999847412109,"wires":[["39faa8d6.eb53f8"]]},{"id":"513a88b3.e68d88","type":"http request","z":"d223ccb6.c890c","name":"GetWalletInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletInfo?walletCode={{{req.params.id}}}","tls":"","x":431.00010681152344,"y":940.2000398635864,"wires":[["ba7b79b1.dbe0e8","23a3ffd8.f3b98"]]},{"id":"ba7b79b1.dbe0e8","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":620.1001853942871,"y":903.3999443054199,"wires":[]},{"id":"e2f4caf6.63bb58","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":227.0000762939453,"y":940.6000890731812,"wires":[["513a88b3.e68d88"]]},{"id":"6f769692.255148","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790.1001892089844,"y":940.3999452590942,"wires":[]},{"id":"754793e5.32c59c","type":"function","z":"d223ccb6.c890c","name":"add date","func":"msg.req.params.date = global.get(\"SYSDATE\");\nreturn msg;","outputs":1,"noerr":0,"x":467.0000801086426,"y":827.2000370025635,"wires":[["b159b690.5002d8"]]},{"id":"b159b690.5002d8","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#req.params}}\n{\n   \"WalletCode\": \"{{id}}\",\n   \"Amount\": {{quantity}},\n   \"Date\": \"{{{date}}}\",\n   \"Reason\" : \"{{reason}}\",\n   \"SubCategoryCode\": \"{{subcat}}\"\n}\n{{/req.params}}","output":"json","x":634.0000686645508,"y":827.2000188827515,"wires":[["c5795eff.041e2","6aa47d40.8640e4"]]},{"id":"6aa47d40.8640e4","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":808.1001052856445,"y":826.8000249862671,"wires":[]},{"id":"f12b66bc.1c8c18","type":"function","z":"d223ccb6.c890c","name":"add date","func":"msg.req.params.date = global.get(\"SYSDATE\");\nreturn msg;","outputs":1,"noerr":0,"x":459.0000801086426,"y":1133.2000312805176,"wires":[["e865a0fa.f41bc"]]},{"id":"80064827.fff618","type":"comment","z":"d223ccb6.c890c","name":"Add funds to wallet","info":"","x":120.10005187988281,"y":631.8000793457031,"wires":[]},{"id":"204f18cd.ef83d8","type":"comment","z":"d223ccb6.c890c","name":"Spend from wallet","info":"","x":107.00003814697266,"y":993.5999698638916,"wires":[]},{"id":"2ccffea.62b4402","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings/:port/add/:instrumentId","method":"post","upload":false,"swaggerDoc":"","x":210,"y":300,"wires":[["1e6a595b.f10e97","455bdcc5.1612f4"]]},{"id":"d6efa189.edb92","type":"http response","z":"b6610c80.aa47c","name":"","statusCode":"","headers":{},"x":830,"y":480,"wires":[]},{"id":"1e6a595b.f10e97","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":190,"y":340,"wires":[]},{"id":"fac15791.252848","type":"http request","z":"b6610c80.aa47c","name":"update /api/v1/portfolios/:port/holdings","method":"PUT","ret":"txt","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings/{{req.params.timestamp}}","tls":"","x":530,"y":480,"wires":[["d6efa189.edb92","6afc9cdf.010ca4"]]},{"id":"6afc9cdf.010ca4","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":830,"y":440,"wires":[]},{"id":"6802b045.a92da","type":"function","z":"b6610c80.aa47c","name":"Inject new holding","func":"var holdings = msg.payload.holdings[0];\nvar current = msg.payload.holdings[0].holdings;\ncurrent.push(msg.newholding);\n\nmsg.req.params.timestamp = holdings.timestamp;\n\nmsg.payload = {\n    \"_rev\": holdings._rev,\n    \"holdings\" : current\n}\n\n//var portpool = global.get(\"portpool\");\n//portpool -= msg.newholding.quantity;\n//global.set(\"portpool\",portpool);\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":420,"wires":[["6217b10.c17c15","1c99d87e.b41b18"]]},{"id":"7fa3837a.b07a6c","type":"http request","z":"b6610c80.aa47c","name":"current /api/v1/portfolios/:port/holdings","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings","tls":"","x":530,"y":360,"wires":[["6802b045.a92da","b1b247c.f4b7ab8"]]},{"id":"455bdcc5.1612f4","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"newholding","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["bb26d836.061be8"]]},{"id":"b1b247c.f4b7ab8","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":830,"y":360,"wires":[]},{"id":"77fc1dbb.d1af44","type":"http request","z":"b6610c80.aa47c","name":"/api/v1/portfolios/:port/holdings","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings","tls":"","x":510,"y":180,"wires":[["26326940.908146","7e378795.9ada58"]]},{"id":"26326940.908146","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"false","x":770,"y":120,"wires":[]},{"id":"250353a4.8667dc","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings/:port","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["321f3170.410c46"]]},{"id":"112f3bda.cde8a4","type":"inject","z":"b6610c80.aa47c","name":"ports/holds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":80,"wires":[["9c4bc25d.e7403"]]},{"id":"9c4bc25d.e7403","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["321f3170.410c46"]]},{"id":"7e378795.9ada58","type":"template","z":"b6610c80.aa47c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Holdings in {{req.params.port}}</h2>\n{{#payload}}\n<table>\n    <tr>\n        <th>Name  Instrument  Quantity</th>\n    </tr>\n    {{#holdings}}\n    <tr>\n    <td>\n        <table>\n        {{#holdings}}\n        <tr><td>{{asset}}</td><td>{{instrumentId}}</td><td>{{quantity}}</td></tr>\n        {{/holdings}}\n        </table>\n    </td>\n    <td><a class=ia_lnk href=\"/holdings/{{req.params.port}}/delete/{{timestamp}}/{{_rev}}\">DELETE</a></td>\n    </tr>\n    {{/holdings}}\n</table>\n    {{/payload}}\n\n\n","output":"str","x":710,"y":180,"wires":[["e988b5c6.1b6858"]]},{"id":"e988b5c6.1b6858","type":"http response","z":"b6610c80.aa47c","name":"","statusCode":"","headers":{},"x":830,"y":180,"wires":[]},{"id":"6f5409f8.5ab038","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["aa899a38.6f2148"]]},{"id":"aa899a38.6f2148","type":"function","z":"b6610c80.aa47c","name":"","func":"var port = global.get(\"portfolio\");\nmsg.req = {\"params\":{\"port\": port}};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["321f3170.410c46"]]},{"id":"549d0cd9.532984","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings/:port/delete/:timestamp/:rev","method":"get","upload":false,"swaggerDoc":"","x":220,"y":680,"wires":[["9d09e781.603138"]]},{"id":"bdb75a77.93e078","type":"http request","z":"b6610c80.aa47c","name":"del /api/v1/portfolios/:port/holdings/:time?:rev","method":"DELETE","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings/{{req.params.timestamp}}?rev={{req.params.rev}}","tls":"","x":580,"y":740,"wires":[["1469836a.ed9d5d","34c35ad7.17c4b6"]]},{"id":"8c1420b3.8f1f6","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\",\"timestamp\":\"2017-09-18T19:53:56.830Z\",\"rev\":\"1-eadec149ae15ee692c39f7db62e2691f\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":740,"wires":[["9d09e781.603138"]]},{"id":"1469836a.ed9d5d","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":830,"y":680,"wires":[]},{"id":"34c35ad7.17c4b6","type":"http response","z":"b6610c80.aa47c","name":"","statusCode":"","headers":{},"x":830,"y":740,"wires":[]},{"id":"4c595162.d1f02","type":"inject","z":"b6610c80.aa47c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":740,"wires":[["8c1420b3.8f1f6"]]},{"id":"dcbf9138.e31ad","type":"http request","z":"b6610c80.aa47c","name":"/wallets/byname/:wallet/spend/:quantity/:reason/:subcat","method":"GET","ret":"obj","url":"{{{SYSNAME}}}/wallets/byname/{{req.params.port}}/spend/{{newholding.quantity}}/{{newholding.asset}}/BankFees","tls":"","x":550,"y":540,"wires":[["fe275131.b2177"]]},{"id":"7ad24a59.f20744","type":"inject","z":"3d41872e.6e7bd8","name":"Reset Portfolio","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":80,"wires":[["f5a79155.5f596"]]},{"id":"f5a79155.5f596","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"timestamp\":\"2017-10-10T20:53:56.830Z\",\"holdings\":[{\"asset\":\"IBM\",\"quantity\":1500,\"instrumentId\":\"CX_US4592001014_NYQ\"},{\"asset\":\"GE\",\"quantity\":5000,\"instrumentId\":\"CX_US3696041033_NYQ\"},{\"asset\":\"F\",\"quantity\":5000,\"instrumentId\":\"CX_US3453708600_NYQ\"},{\"asset\":\"BAC\",\"quantity\":1800,\"instrumentId\":\"CX_US0605051046_NYS\"}]}","tot":"json"},{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["17719064.6ae488"]]},{"id":"c262818b.c3f93","type":"http request","z":"3d41872e.6e7bd8","name":"new portfolios/:port/holdings","method":"POST","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings","tls":"","x":540,"y":140,"wires":[["a30e334d.ff9de"]]},{"id":"a30e334d.ff9de","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"true","x":830,"y":140,"wires":[]},{"id":"b81f2bd3.247bf8","type":"http request","z":"3d41872e.6e7bd8","name":"/api/v1/portfolios?","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios?latest=false&openOnly=true","tls":"","x":510,"y":260,"wires":[["48d5d0da.bedac","c3f94711.613ab8"]]},{"id":"8d85dced.cbe33","type":"inject","z":"3d41872e.6e7bd8","name":"portfolios","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["145008cc.f1acbf"]]},{"id":"48d5d0da.bedac","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"false","x":790,"y":220,"wires":[]},{"id":"946c3bb0.c93ec8","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios","method":"get","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["145008cc.f1acbf"]]},{"id":"dbccef27.5d7aa","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":830,"y":260,"wires":[]},{"id":"c3f94711.613ab8","type":"template","z":"3d41872e.6e7bd8","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <script\n            src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n            integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n            crossorigin=\"anonymous\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n\n            .bx--dropdown {\n                width: 80%;\n                margin: 0 auto 0 auto;\n            }\n            </style>\n        </head>\n        <body>\n            <div class=\"center\">\n                <h3>Current portfolio: {{global.portfolio}} - {{global.portstamp}}</h3>\n            </div>\n    <script type=\"text/javascript\">\n        function onSubmitForm (name, timestamp) {\n            $.ajax({\n                type: \"POST\",\n                url: \"/portfolios/\" + name + \"/current\",\n                data: {\n                    \"portfolio\" : name,\n                    \"timestamp\" : timestamp\n                },\n                success: location.reload(),\n                dataType: \"text\"\n            });\n        }\n    </script>\n    {{#payload}}\n    <ul data-dropdown data-value class=\"bx--dropdown\" tabindex=\"0\">\n      <li class=\"bx--dropdown-text\">Select a portfolio</li>\n      <svg class=\"bx--dropdown__arrow\" width=\"10\" height=\"5\" viewBox=\"0 0 10 5\" fill-rule=\"evenodd\">\n        <path d=\"M10 0L5 5 0 0z\"></path>\n      </svg>\n      <li>\n        <ul class=\"bx--dropdown-list\">\n        {{#portfolios}}\n          <li data-option data-value=\"{{name}}|{{timestamp}}\" class=\"bx--dropdown-item\"><a class=\"bx--dropdown-link\" href=\"javascript:onSubmitForm('{{name}}','{{timestamp}}')\">{{name}}</a></li>\n          {{/portfolios}}\n        </ul>\n      </li>\n    </ul>   \n     {{/payload}}\n        </body>\n    </html>","output":"str","x":690,"y":260,"wires":[["dbccef27.5d7aa"]]},{"id":"87d17a99.62b118","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios/:port/current","method":"post","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["dc2ef54b.6a64b8"]]},{"id":"14066d1f.6a5d93","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":830,"y":480,"wires":[]},{"id":"4f6e8738.3b5158","type":"function","z":"3d41872e.6e7bd8","name":"set global","func":"var port = msg.payload.portfolio[0];\nglobal.set(\"portfolio\",port.name);\nglobal.set(\"portstamp\",port.timestamp);\nglobal.set(\"portrev\",port._rev);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[["17b50ca8.c41a93"]]},{"id":"a11aca48.738fe8","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"true","x":830,"y":440,"wires":[]},{"id":"a93e5ac9.711b58","type":"http request","z":"3d41872e.6e7bd8","name":"/api/v1/portfolios/:port","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}","tls":"","x":520,"y":620,"wires":[["4e252874.223328","cf143937.898bc8"]]},{"id":"4e252874.223328","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"false","x":850,"y":580,"wires":[]},{"id":"94bdfa5c.372bd8","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios/:port","method":"get","upload":false,"swaggerDoc":"","x":130,"y":560,"wires":[["33c5468.efbe5ba"]]},{"id":"cf143937.898bc8","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":830,"y":620,"wires":[]},{"id":"b7cf371b.1448b8","type":"http request","z":"3d41872e.6e7bd8","name":"/api/v1/portfolios/:port","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}","tls":"","x":520,"y":420,"wires":[["4f6e8738.3b5158"]]},{"id":"17b50ca8.c41a93","type":"change","z":"3d41872e.6e7bd8","name":"return redirect","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"303","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{\"Location\" : \"/portfolios\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":480,"wires":[["14066d1f.6a5d93","a11aca48.738fe8"]]},{"id":"b31b2cb4.efb3a","type":"inject","z":"3d41872e.6e7bd8","name":"ports/holds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":620,"wires":[["f6c3ed2f.d03a1"]]},{"id":"f6c3ed2f.d03a1","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":620,"wires":[["33c5468.efbe5ba"]]},{"id":"57f7adb1.d81f34","type":"inject","z":"3d41872e.6e7bd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":780,"wires":[["6bdc5e94.7c253"]]},{"id":"5321d9ef.3da4a8","type":"http request","z":"3d41872e.6e7bd8","name":"del /api/v1/portfolios/:port/:time?:rev","method":"DELETE","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/{{req.params.timestamp}}?rev={{req.params.rev}}","tls":"","x":570,"y":780,"wires":[["ed5935c9.887d38","f5a8a2e3.1e527"]]},{"id":"6bdc5e94.7c253","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"T3\",\"timestamp\":\"2017-09-25T07:53:56.830Z\",\"rev\":\"1-e8b393aa3ae4fd94e1776dda8837a7a3\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":780,"wires":[["fc59267c.a311b"]]},{"id":"ed5935c9.887d38","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"true","x":830,"y":740,"wires":[]},{"id":"566619d6.c11918","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios/:port/delete/:timestamp/:rev","method":"get","upload":false,"swaggerDoc":"","x":210,"y":720,"wires":[["fc59267c.a311b"]]},{"id":"f5a8a2e3.1e527","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":830,"y":780,"wires":[]},{"id":"fda25055.99592","type":"http request","z":"d223ccb6.c890c","name":"WalletsCodeByName","method":"GET","ret":"obj","url":"{{{SYSNAME}}}/wallets/codebyname/{{req.params.name}}","tls":"","x":581.100212097168,"y":1075.4000415802002,"wires":[["69b8715d.23f5f"]]},{"id":"b694ee06.cb319","type":"function","z":"30cfc8ac.884918","name":"set global.SYSDATE","func":"var d = new Date();\nvar n = d.toISOString().split('T')[0].split('-');\nmsg.payload = n[2]+\"/\"+n[1]+\"/\"+n[0];\nglobal.set(\"SYSDATE\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["d73c8233.dce9f"]]},{"id":"7ea374aa.c32b7c","type":"inject","z":"30cfc8ac.884918","name":"Date","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":110,"y":120,"wires":[["b694ee06.cb319"]]},{"id":"d73c8233.dce9f","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":850,"y":120,"wires":[]},{"id":"229f112d.22262e","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/codebyname/:name","method":"get","upload":false,"swaggerDoc":"","x":153.00001907348633,"y":1346.7998189926147,"wires":[["73f5670d.d7efa8"]]},{"id":"942c441.25778b8","type":"http request","z":"d223ccb6.c890c","name":"GetWalletList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletList?pageSize=0&pageNum=0","tls":"","x":445.90003967285156,"y":1397.2000160217285,"wires":[["c29146b7.d89378","4683aa4b.00e8e4"]]},{"id":"73f5670d.d7efa8","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":246.90002822875977,"y":1398.199875831604,"wires":[["942c441.25778b8"]]},{"id":"6bacf077.69842","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":789.9001426696777,"y":1349.1998739242554,"wires":[]},{"id":"c29146b7.d89378","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":585.0000915527344,"y":1348.7997779846191,"wires":[]},{"id":"5dae550b.7f58ac","type":"split","z":"d223ccb6.c890c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":443.10008239746094,"y":1449.399878501892,"wires":[["d486b7e1.5bd5e8"]]},{"id":"4683aa4b.00e8e4","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ListOfObjects","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":244.10012435913086,"y":1449.3998460769653,"wires":[["5dae550b.7f58ac"]]},{"id":"d486b7e1.5bd5e8","type":"function","z":"d223ccb6.c890c","name":"","func":"if (msg.payload.Name == msg.req.params.name) {\n    msg.payload = {\"WalletCode\":msg.payload.WalletCode};\nreturn msg;\n}","outputs":1,"noerr":0,"x":615.1001319885254,"y":1448.399878501892,"wires":[["6bacf077.69842","4a00c42e.8737dc"]]},{"id":"4a00c42e.8737dc","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":799.1000938415527,"y":1448.0000739097595,"wires":[]},{"id":"1deefeb0.b028d1","type":"link in","z":"2119b734.ae4bc8","name":"","links":["bed3d22e.15964"],"x":313.1000061035156,"y":313.8000183105469,"wires":[["2f8d1351.45523c"]]},{"id":"185048e7.427b17","type":"inject","z":"30cfc8ac.884918","name":"Member Login refresh","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":580,"wires":[["bed3d22e.15964"]]},{"id":"bed3d22e.15964","type":"link out","z":"30cfc8ac.884918","name":"","links":["1deefeb0.b028d1"],"x":555,"y":580,"wires":[]},{"id":"69b8715d.23f5f","type":"function","z":"d223ccb6.c890c","name":"","func":"msg.req.params.id = msg.payload.WalletCode;\nreturn msg;","outputs":1,"noerr":0,"x":774.100170135498,"y":1076.6000423431396,"wires":[["f12b66bc.1c8c18"]]},{"id":"9386b849.ab30b8","type":"http request","z":"d223ccb6.c890c","name":"WalletCodeByName","method":"GET","ret":"obj","url":"{{{SYSNAME}}}/wallets/codebyname/{{req.params.name}}","tls":"","x":568.0000686645508,"y":773.6001300811768,"wires":[["6cbce046.d44f9"]]},{"id":"6cbce046.d44f9","type":"function","z":"d223ccb6.c890c","name":"","func":"msg.req.params.id = msg.payload.WalletCode;\nreturn msg;","outputs":1,"noerr":0,"x":778.000072479248,"y":773.8000335693359,"wires":[["754793e5.32c59c"]]},{"id":"f5431d5a.5f813","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/add/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":199.00000762939453,"y":771.3999853134155,"wires":[["754793e5.32c59c"]]},{"id":"8aab18cc.0e7da8","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/spend/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1075.3999671936035,"wires":[["f12b66bc.1c8c18"]]},{"id":"cc775c41.c23c2","type":"comment","z":"d223ccb6.c890c","name":"WalletCode by Name","info":"","x":121.0000114440918,"y":1307.7998180389404,"wires":[]},{"id":"23a3ffd8.f3b98","type":"function","z":"d223ccb6.c890c","name":"global.portpool","func":"global.set(\"portpool\",msg.payload.DataObject.CurrentBalance);\nreturn msg;","outputs":1,"noerr":0,"x":630.1001396179199,"y":940.3999462127686,"wires":[["6f769692.255148"]]},{"id":"b6772b24.ddb2f8","type":"function","z":"d223ccb6.c890c","name":"global.portpool","func":"global.set(\"portpool\",msg.payload.DataObject.CurrentBalance);\nreturn msg;","outputs":1,"noerr":0,"x":639.0000228881836,"y":1246.4000606536865,"wires":[["119015b4.bed7ca"]]},{"id":"fe275131.b2177","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":830,"y":540,"wires":[]},{"id":"d43a9d9e.bfb76","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":830,"y":80,"wires":[]},{"id":"9476c414.b52bb8","type":"function","z":"30cfc8ac.884918","name":"set global.SYSNAME","func":"var myname = msg.req.headers.$wssc + \"://\";\nmyname += msg.req.headers.host;\nglobal.set(\"SYSNAME\",myname);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["d43a9d9e.bfb76"]]},{"id":"6217b10.c17c15","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"SYSNAME","pt":"msg","to":"SYSNAME","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":540,"wires":[["dcbf9138.e31ad"]]},{"id":"39faa8d6.eb53f8","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"SYSNAME","pt":"msg","to":"SYSNAME","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":678.1000671386719,"y":725.8000812530518,"wires":[["9386b849.ab30b8"]]},{"id":"8977b07d.81803","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"SYSNAME","pt":"msg","to":"SYSNAME","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":644.0000228881836,"y":1030.2000179290771,"wires":[["fda25055.99592"]]},{"id":"81293509.068728","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/topup","method":"get","upload":false,"swaggerDoc":"","x":129.00000762939453,"y":678.8000774383545,"wires":[["705692ab.8b39ec"]]},{"id":"853bf4.0626541","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":777.0001277923584,"y":677.0001516342163,"wires":[]},{"id":"705692ab.8b39ec","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <script type=\"text/javascript\">\n    function onsubmitForm () {\n        var f = document.formTopup;\n        f.action  =\"/wallets/\";\n        f.action +=f.walletcode.value;\n        f.action +=\"/add/\";\n        f.action +=f.quantity.value;\n        f.action += \"/\";\n        f.action +=f.reason.value;\n        f.action += \"/FundsTransfers\";\n        return true;\n    }\n    </script>\n    \n<h2>\n    Add funds to Wallet : {{req.params.id}}\n</h2>\n    <form name=formTopup action=# method=get onsubmit=\"return onsubmitForm();\">\n        <input name=walletcode value={{req.params.id}} type=hidden>\n        <input name=subcat value=\"FundsTransfers\" type=hidden>\n        <input name=quantity type=range value=0 min=0 max=10000 step=100 oninput=\"document.formTopup.quant.value=value;\">\n        <select name=reason>\n            <option value=Demo>demo</option>\n            <option value=Desperation>desperation</option>\n        </select>\n        <output name=quant>0</output>\n        <input type=submit value=\"Topup\">\n    </form>\n","output":"str","x":446.1000671386719,"y":678.0001029968262,"wires":[["853bf4.0626541"]]},{"id":"bf419d9.ad93d6","type":"comment","z":"3d41872e.6e7bd8","name":"Set Current portfolio","info":"","x":130,"y":320,"wires":[]},{"id":"2fd01374.23f38c","type":"comment","z":"3d41872e.6e7bd8","name":"Holdings in portfolio","info":"","x":130,"y":520,"wires":[]},{"id":"c2c4986d.132c98","type":"comment","z":"3d41872e.6e7bd8","name":"Delete set of holdings","info":"","x":140,"y":680,"wires":[]},{"id":"92cb1cb4.a4e2","type":"comment","z":"3d41872e.6e7bd8","name":"Initialise portfolio holdings","info":"","x":150,"y":40,"wires":[]},{"id":"a9ea8565.a072f8","type":"comment","z":"b6610c80.aa47c","name":"Add instrument to holding set","info":"","x":170,"y":260,"wires":[]},{"id":"a217e878.eaf2c8","type":"comment","z":"b6610c80.aa47c","name":"Delete set of holdings","info":"","x":161.00000381469727,"y":634.1999979019165,"wires":[]},{"id":"db4d4c5d.dab11","type":"comment","z":"43761947.be1e48","name":"Available instruments","info":"","x":140,"y":30,"wires":[]},{"id":"4d58126b.ff23dc","type":"comment","z":"43761947.be1e48","name":"Instrument detail","info":"","x":110,"y":300,"wires":[]},{"id":"6f3d125.00391ec","type":"comment","z":"43761947.be1e48","name":"option to add to holdings","info":"","x":590,"y":560,"wires":[]},{"id":"55929432.5be2bc","type":"comment","z":"d223ccb6.c890c","name":"Create a named Wallet","info":"","x":140,"y":40,"wires":[]},{"id":"e23f1f26.089e8","type":"comment","z":"d223ccb6.c890c","name":"List member's wallets","info":"","x":130,"y":210,"wires":[]},{"id":"dc8cd08f.c82d9","type":"comment","z":"d223ccb6.c890c","name":"Wallet detail","info":"","x":100,"y":340,"wires":[]},{"id":"ebaa9136.9334c","type":"comment","z":"d223ccb6.c890c","name":"Delete Wallet","info":"","x":90,"y":480,"wires":[]},{"id":"1447efb2.5f73e","type":"comment","z":"7900671d.eafd08","name":"List of account types","info":"","x":130,"y":40,"wires":[]},{"id":"76f18448.d38b0c","type":"comment","z":"7900671d.eafd08","name":"List member's accounts","info":"","x":140,"y":200,"wires":[]},{"id":"b2f61b96.fb4d08","type":"comment","z":"7900671d.eafd08","name":"Account detail","info":"","x":110,"y":330,"wires":[]},{"id":"b11bb49c.5e3948","type":"comment","z":"2119b734.ae4bc8","name":"Show member types","info":"","x":120,"y":20,"wires":[]},{"id":"545f2d07.46abe4","type":"comment","z":"2119b734.ae4bc8","name":"Create new member","info":"","x":110,"y":140,"wires":[]},{"id":"d101139a.3db1c","type":"comment","z":"2119b734.ae4bc8","name":"Refresh Login","info":"","x":110,"y":310,"wires":[]},{"id":"5e7f937b.94604c","type":"comment","z":"b2178db7.c65c7","name":"List of available products","info":"","x":140,"y":30,"wires":[]},{"id":"bc5dd83f.689538","type":"comment","z":"b2178db7.c65c7","name":"Product detail","info":"","x":100,"y":160,"wires":[]},{"id":"aceb1feb.8019f","type":"http in","z":"758e80f8.634a3","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["5d0baeb8.a2116"]]},{"id":"5d0baeb8.a2116","type":"template","z":"758e80f8.634a3","name":"Chat window","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n<div>\n    <!--img src=\"https://xxxxxxxxxx.mybluemix.net/media/watson_conv_logo.gif\" style=\"height:75px;\"-->\n    <div class=\"chat-head\" style=\"background-color:black;\">\n        <img src=\"https://www.ibm.com/thought-leadership/scienceandstarwars/images/watson_logo.gif\" style=\"height:75px;\">\n    </div>\n    <textarea readonly class=chatbot style=\"background-color:lightsteelblue;\" id=chatout rows=25 cols=50></textarea>\n    <br>\n    <textarea class=chatbot style=\"background-color:lavender;\" id=chatin maxlength=100 rows=3 cols=50></textarea>\n</div>\n<script  type=\"text/javascript\">\n    var chatbot = \"{{{global.SYSNAME}}}/chat-relay\";\n    var chat = '';\n    $('#chatin').keydown(function(e){\n    if ( e.which == 13 ) { //ENTER\n            e.preventDefault();\n            var data = $(this).val();\n            chat += '\\r' + data;\n            $(this).val('');\n            $('#chatout').append(\"\\r\" + data);\n            $.post( chatbot, { \"user\" : \"RiseRed\" , \"input\" : { \"text\": data } }, function( d ) {\n                var resp = '> (' + d.input.text +\") \" + d.output.text;\n                $('#chatout').append( '\\r' + resp );\n                $('#chatout').scrollTop(10000);\n            });\n\n            }\n        });\n</script>\n","output":"str","x":420,"y":320,"wires":[["25fec839.9445c8"]]},{"id":"25fec839.9445c8","type":"http response","z":"758e80f8.634a3","name":"","statusCode":"","headers":{},"x":870,"y":320,"wires":[]},{"id":"275a96e8.66812a","type":"http in","z":"758e80f8.634a3","name":"","url":"/chat-relay","method":"post","upload":false,"swaggerDoc":"","x":112,"y":221,"wires":[["9ca0c7f7.e99b38","62ac6523.602a14"]]},{"id":"a114593c.be2f98","type":"http response","z":"758e80f8.634a3","name":"","statusCode":"","headers":{},"x":870,"y":220,"wires":[]},{"id":"d7315f45.df59b","type":"switch","z":"758e80f8.634a3","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":710,"y":220,"wires":[["a114593c.be2f98"]]},{"id":"9ca0c7f7.e99b38","type":"debug","z":"758e80f8.634a3","name":"","active":true,"console":"false","complete":"false","x":270,"y":260,"wires":[]},{"id":"6461359e.db9c8c","type":"inject","z":"31e38ea.830c672","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["3bbb6d0e.52cbb2"]]},{"id":"df234a2.a8507b8","type":"debug","z":"31e38ea.830c672","name":"","active":true,"console":"false","complete":"false","x":670,"y":120,"wires":[]},{"id":"3bbb6d0e.52cbb2","type":"http request","z":"31e38ea.830c672","name":"","method":"GET","ret":"obj","url":"http://api.zoopla.co.uk/api/v1/property_listings.json?postcode={{req.params.postcode}}&radius={{req.params.distance}}&api_key=vj9pah789k46pz35637qdnzs","tls":"","x":330,"y":100,"wires":[["35f03a0a.fe1d06","a0d99b18.f98c38"]]},{"id":"778752ea.db618c","type":"http in","z":"31e38ea.830c672","name":"","url":"/zoopla/:postcode/:distance","method":"get","upload":false,"swaggerDoc":"","x":180,"y":40,"wires":[["3bbb6d0e.52cbb2"]]},{"id":"69f34431.626d5c","type":"http response","z":"31e38ea.830c672","name":"","statusCode":"","headers":{},"x":720,"y":240,"wires":[]},{"id":"a0d99b18.f98c38","type":"template","z":"31e38ea.830c672","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\ntable, th, td {\n    border: 1px solid black;\n    vertical-align: top;\n}\n</style>\n\n{{#payload}}\n\n\n<table>\n{{#listing}}\n<tr>\n    <td><a href=\"{{{details_url}}}\">{{displayable_address}}</a><br>Price: {{price}}</td>\n    <td>{{{short_description}}}</td>\n    <td><img width=100 height=100 src={{{image_url}}}></td></tr>\n{{/listing}}\n</table>\n\n{{/payload}}\n","output":"str","x":370,"y":180,"wires":[["26e043c5.24c1ac","df234a2.a8507b8"]]},{"id":"26e043c5.24c1ac","type":"switch","z":"31e38ea.830c672","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":540,"y":240,"wires":[["69f34431.626d5c"]]},{"id":"35f03a0a.fe1d06","type":"debug","z":"31e38ea.830c672","name":"","active":true,"console":"false","complete":"true","x":630,"y":60,"wires":[]},{"id":"dabd41da.735fa8","type":"inject","z":"93d5a5cc.123318","name":"Persona","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/tips/GetPersonaList","payloadType":"str","repeat":"","crontab":"","once":false,"x":162,"y":199,"wires":[["39b2b5ed.2313fa"]]},{"id":"ebe2b4ed.8ccd","type":"http request","z":"93d5a5cc.123318","name":"","method":"GET","ret":"obj","url":"","tls":"","x":672,"y":319,"wires":[["7f5cbde6.be81ac","efb30d4e.4c6dc8"]]},{"id":"39b2b5ed.2313fa","type":"change","z":"93d5a5cc.123318","name":"apptoken","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420.99999618530273,"y":194.00002002716064,"wires":[["7ce00403.76c0cc"]]},{"id":"6423ec80.eecbc4","type":"inject","z":"93d5a5cc.123318","name":"AccountTypes","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountTypeList","payloadType":"str","repeat":"","crontab":"","once":false,"x":172.99999618530273,"y":154.00015449523926,"wires":[["d6f6168f.18cb2"]]},{"id":"7ce00403.76c0cc","type":"change","z":"93d5a5cc.123318","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":597.000057220459,"y":194.00013065338135,"wires":[["30911530.b16ee2"]]},{"id":"d715373c.c36fe","type":"inject","z":"93d5a5cc.123318","name":"Products","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/product/GetProductList","payloadType":"str","repeat":"","crontab":"","once":false,"x":162.99999237060547,"y":241.9999237060547,"wires":[["39b2b5ed.2313fa"]]},{"id":"5dea03fb.61429c","type":"change","z":"93d5a5cc.123318","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":682,"y":269,"wires":[["ebe2b4ed.8ccd"]]},{"id":"30911530.b16ee2","type":"function","z":"93d5a5cc.123318","name":"first 25","func":"var q = /\\?/;\nif(null === msg.url.match(q)){\n    msg.url += \"?\";\n}\nelse\n{\n    msg.url += \"&\";\n}\nif(msg.hasOwnProperty(\"topic\")){\n    msg.url += \"pageNum=0&pageSize=25&\" + msg.topic;\n}\nelse\n{\n    msg.url += \"pageNum=0&pageSize=25\";\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":750.000057220459,"y":192.99993467330933,"wires":[["5dea03fb.61429c"]]},{"id":"d6f6168f.18cb2","type":"change","z":"93d5a5cc.123318","name":"usertoken","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420.99999618530273,"y":153.99995803833008,"wires":[["7ce00403.76c0cc"]]},{"id":"7f5cbde6.be81ac","type":"debug","z":"93d5a5cc.123318","name":"","active":true,"console":"false","complete":"true","x":831.0000114440918,"y":320.5999755859375,"wires":[]},{"id":"6118e5ce.f69c3c","type":"inject","z":"93d5a5cc.123318","name":"Airports","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/Country/GetAirportList","payloadType":"str","repeat":"","crontab":"","once":false,"x":152.09999656677246,"y":286.80002307891846,"wires":[["39b2b5ed.2313fa"]]},{"id":"efb30d4e.4c6dc8","type":"template","z":"93d5a5cc.123318","name":"ListOfObjects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\nTotal available{{TotalRecord}}<br>\n<table>\n{{#ListOfObjects}}\n    <tr>\n        <td>{{ID}}</td>\n        <td>{{Code}}</td>\n        <td>{{{Name}}}</td>\n        <td>{{{Description}}}</td>\n    </tr>\n{{/ListOfObjects}}\n</table>\n{{/payload}}","output":"str","x":682,"y":379,"wires":[["64778c6e.8850ec","2653ebfd.a7c79c"]]},{"id":"64778c6e.8850ec","type":"debug","z":"93d5a5cc.123318","name":"","active":true,"console":"false","complete":"false","x":852,"y":379,"wires":[]},{"id":"1d836ea1.f260f9","type":"inject","z":"93d5a5cc.123318","name":"Branches","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/location/branchs","payloadType":"str","repeat":"","crontab":"","once":false,"x":162.99999046325684,"y":329.0000247955322,"wires":[["39b2b5ed.2313fa"]]},{"id":"83b914de.140738","type":"inject","z":"93d5a5cc.123318","name":"Category","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/cashflow/GetCategoryList","payloadType":"str","repeat":"","crontab":"","once":false,"x":162.99999046325684,"y":374.00002574920654,"wires":[["39b2b5ed.2313fa"]]},{"id":"13e07df2.3e20da","type":"inject","z":"93d5a5cc.123318","name":"Country","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/country/GetCountryList","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.99999046325684,"y":419.00002670288086,"wires":[["39b2b5ed.2313fa"]]},{"id":"ffacef77.3b2d1","type":"inject","z":"93d5a5cc.123318","name":"Currency","topic":"isTopCurrency=true","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/currency/GetCurrencyList","payloadType":"str","repeat":"","crontab":"","once":false,"x":162.9999885559082,"y":467.4000244140625,"wires":[["39b2b5ed.2313fa"]]},{"id":"ef30d056.af3e5","type":"inject","z":"93d5a5cc.123318","name":"ApplicableTips","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/tips/GetApplicableTipList","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":561,"wires":[["3279a6f2.b37cea"]]},{"id":"3279a6f2.b37cea","type":"change","z":"93d5a5cc.123318","name":"usertoken","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":560,"wires":[["1bfe5051.b10da8"]]},{"id":"1bfe5051.b10da8","type":"change","z":"93d5a5cc.123318","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":452,"y":269,"wires":[["5dea03fb.61429c"]]},{"id":"41e5ff6d.d671e8","type":"http in","z":"93d5a5cc.123318","name":"","url":"/navigator","method":"get","upload":false,"swaggerDoc":"","x":182,"y":69,"wires":[["fc250222.6b7ef8"]]},{"id":"fc250222.6b7ef8","type":"template","z":"93d5a5cc.123318","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\t\t<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n\t\t\tintegrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n\t\t\tcrossorigin=\"anonymous\">\n\t\t</script>\n    <div id=form>\n<form name='explore' action=\"/navigator/show\" onsubmit=\"return onSubmitForm();\" method=POST>\n    <input type=hidden name=pageSize value=25>\n    <input type=hidden name=pageNum value=0>\n    <select name=API>\n        <option value=\"/wallet/GetAccountTypeList\">Wallets</option>\n        <option value=\"/tips/GetPersonaList\">Persona</option>\n        <option value=\"/country/GetAirportList\">Airports</option>\n        <option value=\"/country/GetCountryList\">Countries</option>\n        <option value=\"/product/GetProductList\">Products</option>\n        <option value=\"/properties/GetPropertyListByLocation?latitude=57.0&longitude=-3.0&distance=1000&text=&category=&\">Properties</option>\n    </select>\n    <input type=Submit value=RISE>\n    </form>\n</div>\n<div id='response'>\n</div>\n\t\t<script>\n        function onSubmitForm() {\n            var data=$(document.explore).serialize();\n            var action = $(document.explore).attr(\"action\");\n            //alert(data + \"<<\" + action );\n            $(\"#response\").val('');\n            $.post($(document.explore).attr(\"action\"), data , function(returnData){\n                $('#response').html(returnData);\n            });\n            event.preventDefault();\n            return false;\n        }\n    </script>\n    \n","output":"str","x":482,"y":69,"wires":[["e7588e4.55d177"]]},{"id":"e7588e4.55d177","type":"http response","z":"93d5a5cc.123318","name":"","statusCode":"","headers":{},"x":822,"y":69,"wires":[]},{"id":"e59eeca5.cb30b","type":"http in","z":"93d5a5cc.123318","name":"","url":"/navigator/show","method":"post","upload":false,"swaggerDoc":"","x":202,"y":109,"wires":[["ed2a79d1.5db94"]]},{"id":"645c6ce2.26251c","type":"debug","z":"93d5a5cc.123318","name":"","active":true,"console":"false","complete":"true","x":822,"y":109,"wires":[]},{"id":"ed2a79d1.5db94","type":"function","z":"93d5a5cc.123318","name":"set URL for API","func":"msg.payload = \"https://api.risemarketplace.net/rise/v1.0.0/api\" + msg.payload.API;\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":109,"wires":[["39b2b5ed.2313fa","645c6ce2.26251c"]]},{"id":"fb14c44b.cae2b","type":"http response","z":"93d5a5cc.123318","name":"","statusCode":"","headers":{},"x":832,"y":429,"wires":[]},{"id":"2653ebfd.a7c79c","type":"switch","z":"93d5a5cc.123318","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":651.0000114440918,"y":430.5999755859375,"wires":[["fb14c44b.cae2b"]]},{"id":"6e71edcf.643174","type":"inject","z":"93d5a5cc.123318","name":"Properties","topic":"latitude=57.0&longitude=-3.0&distance=1000&text=&category=&","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/properties/GetPropertyListByLocation","payloadType":"str","repeat":"","crontab":"","once":false,"x":162,"y":519,"wires":[["39b2b5ed.2313fa"]]},{"id":"c2d5438f.8a01d8","type":"comment","z":"30cfc8ac.884918","name":">> RISE API basic auth credentials","info":"Set this from your RISE API\nauthentication token","x":200,"y":420,"wires":[]},{"id":"edebb134.004d28","type":"change","z":"30cfc8ac.884918","name":">>> set Chatbot URL","rules":[{"t":"set","p":"chatbot","pt":"global","to":"https://xxxxxxxxxx.mybluemix.net/api/message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["40a77fb9.b86e68"]]},{"id":"40a77fb9.b86e68","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":850,"y":240,"wires":[]},{"id":"62ac6523.602a14","type":"change","z":"758e80f8.634a3","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"chatbot","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":220,"wires":[["c6f811e1.6acaa"]]},{"id":"421dc167.862b6","type":"comment","z":"30cfc8ac.884918","name":">> Chatbot app URL","info":"set this to your instance of the Investment \nManagement chatbot app","x":150,"y":240,"wires":[]},{"id":"883a1e98.b9491","type":"inject","z":"30cfc8ac.884918","name":"portfolio creds","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":360,"wires":[["6a4c1f0d.def1"]]},{"id":"c2eff41a.4b241","type":"function","z":"30cfc8ac.884918","name":"set global.portauth","func":"var buf = new Buffer(msg.payload.writer.userid +\":\"+ msg.payload.writer.password);\nvar token = buf.toString('base64');\nvar auth = {\"Authorization\":\"Basic \"+token};\nglobal.set('portauth',auth);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["855f0dba.a79108"]]},{"id":"855f0dba.a79108","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":830,"y":360,"wires":[]},{"id":"17719064.6ae488","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":80,"wires":[["c262818b.c3f93"]]},{"id":"145008cc.f1acbf","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[["b81f2bd3.247bf8"]]},{"id":"dc2ef54b.6a64b8","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["b7cf371b.1448b8"]]},{"id":"33c5468.efbe5ba","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":560,"wires":[["a93e5ac9.711b58"]]},{"id":"fc59267c.a311b","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":720,"wires":[["5321d9ef.3da4a8"]]},{"id":"321f3170.410c46","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":120,"wires":[["77fc1dbb.d1af44"]]},{"id":"9d09e781.603138","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":680,"wires":[["bdb75a77.93e078"]]},{"id":"bb26d836.061be8","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[["7fa3837a.b07a6c"]]},{"id":"1c99d87e.b41b18","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"portauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["fac15791.252848"]]},{"id":"fd62500.35db2b","type":"comment","z":"3d41872e.6e7bd8","name":"List portfolios","info":"","x":110,"y":160,"wires":[]},{"id":"8a3bb23a.012f1","type":"function","z":"2119b734.ae4bc8","name":"RISE auth","func":"var riseauth = global.get(\"riseauth\");\nif(msg.hasOwnProperty(\"headers\")){\n    msg.headers[\"Authorization\"] = riseauth.Authorization;\n}\nelse {\n    msg.headers = riseauth;\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["e75e377d.04b9f8","38f8c7df.21fda"]]},{"id":"cbded4f6.2f51f","type":"inject","z":"30cfc8ac.884918","name":"RISE API creds","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":140,"y":460,"wires":[["5e7fce47.50cc58"]]},{"id":"bf08eef8.2bb2b","type":"function","z":"30cfc8ac.884918","name":"set global.riseauth","func":"var buf = new Buffer(msg.payload.RISE.consumer +\":\"+ msg.payload.RISE.secret);\nvar token = buf.toString('base64');\nvar auth = {\"Authorization\":\"Basic \"+token};\nglobal.set('riseauth',auth);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":460,"wires":[["7cd89218.b2bc74","4ce775f.c04468c"]]},{"id":"7cd89218.b2bc74","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":830,"y":460,"wires":[]},{"id":"38f8c7df.21fda","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"true","x":360,"y":580,"wires":[]},{"id":"fcf68312.b8d1f8","type":"comment","z":"30cfc8ac.884918","name":">> Portfolio manager auth creds","info":"Set this from your Investment-Portfolio API\nauthentication token (writer)\n\nYou find this in the VCAP_SERVICES environment for the \nportfolio management application, or by adding a \nnew credential set to the Investment-Portfolio\nservice instance\n","x":190,"y":320,"wires":[]},{"id":"cf20068c.6a3b08","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":700,"wires":[["d3f2ab4b.260d8"]]},{"id":"d3f2ab4b.260d8","type":"change","z":"30cfc8ac.884918","name":"? global.riseauth","rules":[{"t":"set","p":"payload","pt":"msg","to":"riseauth","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":700,"wires":[["4af2121a.7c92b4"]]},{"id":"4af2121a.7c92b4","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":850,"y":700,"wires":[]},{"id":"bf567697.e33fb8","type":"function","z":"30cfc8ac.884918","name":"RISE auth","func":"var riseauth = global.get(\"riseauth\");\nif(msg.hasOwnProperty(\"headers\")){\n    msg.headers[\"Authorization\"] = riseauth.Authorization;\n}\nelse {\n    msg.headers = riseauth;\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["b492c85.4ed3238"]]},{"id":"75b8ef7a.ad5b8","type":"function","z":"30cfc8ac.884918","name":"set global.apptoken","func":"var token = msg.payload.access_token;\nvar auth = {\"Authorization\":\"Bearer \"+ token};\nglobal.set('apptoken',auth);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":540,"wires":[["245a898b.648396","c7ae2757.2dab48"]]},{"id":"245a898b.648396","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":830,"y":540,"wires":[]},{"id":"3fb46bb3.7e751c","type":"function","z":"2119b734.ae4bc8","name":"global.member","func":"var member = {\"UserName\": \"demouser15077691240000\", \"Password\": \"Abc@123456\"};\nglobal.set(\"member\",member);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["39aa8317.f91f4c"]]},{"id":"c7ae2757.2dab48","type":"delay","z":"30cfc8ac.884918","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":580,"wires":[[]]},{"id":"fed5deec.f32ba","type":"comment","z":"30cfc8ac.884918","name":">> Set demo member","info":"this initialises the RISE demo account","x":160,"y":280,"wires":[]},{"id":"935c4358.5a6838","type":"comment","z":"b6610c80.aa47c","name":"List of holdings in portfolio","info":"","x":170,"y":40,"wires":[]},{"id":"877ecbaf.131ed8","type":"comment","z":"b6610c80.aa47c","name":"Record Wallet spend","info":"","x":160,"y":500,"wires":[]},{"id":"5e7fce47.50cc58","type":"change","z":"30cfc8ac.884918","name":">>> set RISE creds","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"RISE\":{\"consumer\":\"xxxxxxxxxx\",\"secret\":\"yyyyyyyyyy\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["bf08eef8.2bb2b"]]},{"id":"6a4c1f0d.def1","type":"change","z":"30cfc8ac.884918","name":">>> set Portfolio creds","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"writer\":{\"userid\":\"uuuuuuuuuu\",\"password\":\"pppppppppp\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["c2eff41a.4b241"]]},{"id":"84fef4d1.52b4c","type":"comment","z":"30cfc8ac.884918","name":"Query current globals","info":"\n","x":160,"y":660,"wires":[]}]
