flows.json
[{"id":"30cfc8ac.884918","type":"tab","label":"Demo","disabled":false,"info":""},{"id":"758e80f8.634a3","type":"tab","label":"WATSON-Dialog","disabled":false,"info":""},{"id":"3d41872e.6e7bd8","type":"tab","label":"IBM-Portfolio","disabled":false,"info":""},{"id":"b6610c80.aa47c","type":"tab","label":"IBM-Holdings","disabled":false,"info":""},{"id":"43761947.be1e48","type":"tab","label":"IBM-Instruments","disabled":false,"info":""},{"id":"d223ccb6.c890c","type":"tab","label":"RISE-Wallets","disabled":false,"info":""},{"id":"7900671d.eafd08","type":"tab","label":"RISE-Accounts","disabled":false,"info":""},{"id":"2119b734.ae4bc8","type":"tab","label":"RISE-Members","disabled":false,"info":""},{"id":"b2178db7.c65c7","type":"tab","label":"RISE-Products","disabled":false,"info":""},{"id":"2bf4cae7.5b59e6","type":"tab","label":"Flow 1"},{"id":"1da402e8.1dc31d","type":"http in","z":"43761947.be1e48","name":"","url":"/instruments","method":"get","upload":false,"swaggerDoc":"","x":120,"y":70,"wires":[["a2cddd5a.826f3"]]},{"id":"4269f7ee.767b18","type":"http response","z":"43761947.be1e48","name":"","statusCode":"","headers":{},"x":780.0000190734863,"y":247.00000190734863,"wires":[]},{"id":"a2cddd5a.826f3","type":"template","z":"43761947.be1e48","name":"INSTRUMENTS","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * from INSTRUMENTS\nwhere NAME LIKE '{{payload.match}}%'\nORDER by NAME ASC","output":"str","x":239.00002670288086,"y":122.00000953674316,"wires":[["9fc83fb1.b1ce4"]]},{"id":"9fc83fb1.b1ce4","type":"dashDB in","z":"43761947.be1e48","dashDB":"","service":"Db2 Warehouse on Cloud-ip","query":"","params":"","name":"","x":438.0000534057617,"y":122.0000114440918,"wires":[["d272d555.ac3298"]]},{"id":"e8ac8349.76b2e","type":"dashDB in","z":"43761947.be1e48","dashDB":"","service":"Db2 Warehouse on Cloud-ip","query":"","params":"","name":"","x":417.00006103515625,"y":394.0000114440918,"wires":[["52424a2b.9eb3f4"]]},{"id":"de408cad.489a5","type":"template","z":"43761947.be1e48","name":"INSTRUMENT","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * from INSTRUMENTS\nwhere ID = '{{req.params.id}}'\nORDER by NAME ASC","output":"str","x":244.00006866455078,"y":394.00003242492676,"wires":[["e8ac8349.76b2e"]]},{"id":"31336f43.e719d","type":"http response","z":"43761947.be1e48","name":"","statusCode":"","headers":{},"x":779.000072479248,"y":525.0000171661377,"wires":[]},{"id":"9ef6f271.34913","type":"template","z":"43761947.be1e48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<h2>{{NAME}} -- {{CX Code ISIN}}</h2>\n<table>\n    <tr>\n        <td>\nSector: {{SECTOR}}\n<br>\nAsset type: {{CX Asset Type}}  {{CX Asset Subtype}}\n<br>\nTHEO Value: {{THEO/Value}}\n\n</td>\n<td> \n    <script type=\"text/javascript\">\n    function onsubmitForm () {\n        var f = document.formAdd;\n        f.action  =\"/holdings/\";\n        f.action +=f.portfolio.value;\n        f.action +=\"/add/\";\n        f.action +=f.instrumentId.value;\n        return true;\n    }\n    </script>\n    \n    <form name=formAdd action=# method=post onsubmit=\"return onsubmitForm();\">\n        <input name=instrumentId value={{ID}} type=hidden>\n        <input name=asset value={{NAME}} type=hidden>\n        <input name=portfolio value={{global.portfolio}} type=hidden>\n        <input name=timestamp value={{global.portstamp}} type=hidden>\n        <input name=quantity type=range value=0 min=0 max=\"{{global.portpool}}\" step=100 oninput=\"document.formAdd.quant.value=value;\">\n        <output name=quant>0</output>\n        <input type=submit value=\"Add to portfolio\">\n    </form>\n</td>\n</tr>\n</table>\n{{/payload}}\n<p>\n    <a href={{responseUrl}}>\n        <img width=60 height=60 src=\"https://pbs.twimg.com/profile_images/779060777672138753/irDb99O9_400x400.jpg\" alt=\"Business Insider\">\n    </a>\n</p>\n{{{chart}}}","output":"str","x":595.000114440918,"y":525.0000171661377,"wires":[["31336f43.e719d"]]},{"id":"52424a2b.9eb3f4","type":"change","z":"43761947.be1e48","name":"save payload","rules":[{"t":"set","p":"instrument","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":621.0000648498535,"y":392.000036239624,"wires":[["2ad4b38b.7f632c"]]},{"id":"8e5bc7de.be1818","type":"http request","z":"43761947.be1e48","name":"MarketInsider","method":"GET","ret":"txt","url":"http://markets.businessinsider.com/searchresults?_search={{topic}}","tls":"","x":396.000057220459,"y":467.00001525878906,"wires":[["d5cfcc0f.f9f1e"]]},{"id":"2ad4b38b.7f632c","type":"change","z":"43761947.be1e48","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload['CX Code ISIN']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":182.00004959106445,"y":467.00000381469727,"wires":[["8e5bc7de.be1818"]]},{"id":"c47b1c75.0992e","type":"debug","z":"43761947.be1e48","name":"","active":true,"console":"false","complete":"false","x":797.000072479248,"y":466.00001430511475,"wires":[]},{"id":"d5cfcc0f.f9f1e","type":"html","z":"43761947.be1e48","name":"","tag":".picture-chart","ret":"html","as":"single","x":577.0000648498535,"y":467.00001525878906,"wires":[["c47b1c75.0992e","4f74d875.0d5098"]]},{"id":"4f74d875.0d5098","type":"change","z":"43761947.be1e48","name":"","rules":[{"t":"set","p":"chart","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":192.00004959106445,"y":527.0000038146973,"wires":[["b901e4e2.1a5388"]]},{"id":"b901e4e2.1a5388","type":"change","z":"43761947.be1e48","name":"unsave payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"instrument","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400.000057220459,"y":526.0000171661377,"wires":[["9ef6f271.34913"]]},{"id":"4c0b9452.f2d3bc","type":"inject","z":"758e80f8.634a3","name":"Hello","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":60,"wires":[["7565cd83.dce0f4"]]},{"id":"c6f811e1.6acaa","type":"http request","z":"758e80f8.634a3","name":"portfolioman","method":"POST","ret":"obj","url":"https://rdc-us-personal-wealth-portfolio-mgt.mybluemix.net/api/message","tls":"","x":430,"y":190,"wires":[["65197a21.a120a4","d7315f45.df59b"]]},{"id":"65197a21.a120a4","type":"debug","z":"758e80f8.634a3","name":"","active":true,"console":"false","complete":"false","x":640,"y":230,"wires":[]},{"id":"25deab15.c12ca4","type":"inject","z":"758e80f8.634a3","name":"whats in the portfolio","topic":"","payload":"whats in my portfolio","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["7565cd83.dce0f4"]]},{"id":"1d9d1cc6.03c803","type":"inject","z":"758e80f8.634a3","name":"","topic":"","payload":"sell all GE stock","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":140,"wires":[["7565cd83.dce0f4"]]},{"id":"53f038c1.505038","type":"template","z":"758e80f8.634a3","name":"{ \"user\" : \"{{user}}\" , \"input\" : { \"text\": \"{{payload}}\" } }","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"user\" : \"{{user}}\" , \"input\" : { \"text\": \"{{payload}}\" } }","output":"json","x":600,"y":110,"wires":[["c6f811e1.6acaa"]]},{"id":"7565cd83.dce0f4","type":"change","z":"758e80f8.634a3","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"nodered","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":110,"wires":[["53f038c1.505038"]]},{"id":"f67ef305.c853","type":"inject","z":"b2178db7.c65c7","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":310,"y":460,"wires":[["b7536c5d.f9a8f"]]},{"id":"4b3c5b92.74f224","type":"template","z":"b2178db7.c65c7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n            </style>\n            <script type=\"text/javascript\">\n\t\t\t$(document).ready(function() {\n                $('a.ia_lnk').click(function() {\n                   var url = $(this).attr('href');\n                    $('#content').load(url);\n                    return false;\n                  });\n            });\n            </script>\n\n        </head>\n        <body>\n                <div class=\"center\">\n                        <h2>Barclays Product list</h2>\n                    </div>\n\n<div class=\"bx--responsive-table-container\" data-responsive-table>\n        <table class=\"bx--responsive-table bx--responsive-table--static-size\" data-table>\n          <thead class=\"bx--table-head\">\n            <tr class=\"bx--table-row\">\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Code</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Name</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Template</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                    <span>Provider</span>\n                  </th>\n            </tr>\n          </thead>\n          <tbody class=\"bx--table-body\">\n                {{#payload}}\n            <tr tabindex=\"0\" class=\"bx--table-row bx--parent-row\" data-parent-row>\n              <td>{{Code}}</td>\n              <td><a class=ia_lnk href=/products/{{Code}}/detail>{{Name}}</a></td>\n              <td>{{ProductTemplate}}</td>\n              <td>{{ProductProvider}}</td>\n            </tr>\n            {{/payload}}\n          </tbody>\n        </table>\n      </div>\n      \n        </body>\n    </html>\n","output":"str","x":650,"y":500,"wires":[["b8a9f5e9.8bce38"]]},{"id":"3b9ca520.21beea","type":"debug","z":"b2178db7.c65c7","name":"","active":true,"console":"false","complete":"payload","x":670,"y":460,"wires":[]},{"id":"e2fdcee6.fb87f","type":"http in","z":"b2178db7.c65c7","name":"","url":"/products-old","method":"get","upload":false,"swaggerDoc":"","x":120,"y":500,"wires":[["b7536c5d.f9a8f"]]},{"id":"b8a9f5e9.8bce38","type":"http response","z":"b2178db7.c65c7","name":"","statusCode":"","headers":{},"x":780,"y":500,"wires":[]},{"id":"2717e6c3.765c9a","type":"function","z":"b2178db7.c65c7","name":"","func":"msg.payload = {\n\t\"TotalRecord\": 101,\n\t\"ListOfObjects\": [{\n\t\t\t\"ID\": 1,\n\t\t\t\"Code\": \"AASA1\",\n\t\t\t\"Name\": \"AA Member Saver Issue 1 Ex/C\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"AAISA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 2,\n\t\t\t\"Code\": \"AASA2\",\n\t\t\t\"Name\": \"AA Easy Saver Issue 4\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"AAISA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 3,\n\t\t\t\"Code\": \"AFIBSASA1\",\n\t\t\t\"Name\": \"African Bank 7 Day Notice Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"AFIBSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 4,\n\t\t\t\"Code\": \"AFIBSATD1\",\n\t\t\t\"Name\": \"African Bank 5 Year Term Deposit\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"TermDeposit\",\n\t\t\t\"ProductProvider\": \"AFIBSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 12,\n\t\t\t\"Code\": \"ATD0001ZA\",\n\t\t\t\"Name\": \"BARCLAYS Term Deposit\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"TermDeposit\",\n\t\t\t\"ProductProvider\": \"BARCLAYS Bank Limited \",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 16,\n\t\t\t\"Code\": \"BARC0001UK\",\n\t\t\t\"Name\": \"Barclays Bank Product 001\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"BARC\",\n\t\t\t\"AccountType\": \"SavingsAccount\",\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": null,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 301,\n\t\t\t\t\"Code\": \"BARC\",\n\t\t\t\t\"IndustryCode\": \"BARC\",\n\t\t\t\t\"Name\": \"Barclays Bank PLC\",\n\t\t\t\t\"Description\": null,\n\t\t\t\t\"URL\": null,\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 17,\n\t\t\t\"Code\": \"BCYUKHL1\",\n\t\t\t\"Name\": \"Barclays 2 year fixed\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 18,\n\t\t\t\"Code\": \"BCYUKHL2\",\n\t\t\t\"Name\": \"Barclays 2 year tracker\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 19,\n\t\t\t\"Code\": \"BCYUKHL3\",\n\t\t\t\"Name\": \"Barclays 2 year tracker offset\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 20,\n\t\t\t\"Code\": \"BCYUKHL4\",\n\t\t\t\"Name\": \"Barclays 5 year fixed cashback mortgage\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 21,\n\t\t\t\"Code\": \"BCYUKHL5\",\n\t\t\t\"Name\": \"Barclays 3 year fixed\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 22,\n\t\t\t\"Code\": \"BCYUKPL1\",\n\t\t\t\"Name\": \"Premier Barclayloan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 23,\n\t\t\t\"Code\": \"BCYUKPL2\",\n\t\t\t\"Name\": \"Barclayloan Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 24,\n\t\t\t\"Code\": \"BCYUKSA1\",\n\t\t\t\"Name\": \"Everyday Saver\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 25,\n\t\t\t\"Code\": \"BCYUKSA2\",\n\t\t\t\"Name\": \"Children's Instant Saver\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 26,\n\t\t\t\"Code\": \"BCYUKSA3\",\n\t\t\t\"Name\": \"Children's Regular Saver\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"BCYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 29,\n\t\t\t\"Code\": \"CAPBSASA1\",\n\t\t\t\"Name\": \"Capitec Bank Savings Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"CAPBSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 30,\n\t\t\t\"Code\": \"CBSUKHL1\",\n\t\t\t\"Name\": \"Chelsea Building Society 2 year fixed\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"CBSUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 33,\n\t\t\t\"Code\": \"CYPSA1\",\n\t\t\t\"Name\": \"Bank of Cyprus Online Easy Access Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"CYPRUSUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 34,\n\t\t\t\"Code\": \"FDUKHL1\",\n\t\t\t\"Name\": \"First Direct 2 year fixed\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"FDUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 35,\n\t\t\t\"Code\": \"FNBSAHL1\",\n\t\t\t\"Name\": \"FNB Home Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"FNBSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 36,\n\t\t\t\"Code\": \"FNBSATD1\",\n\t\t\t\"Name\": \"FNB 5 Year Fixed Deposit\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"TermDeposit\",\n\t\t\t\"ProductProvider\": \"FNBSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 38,\n\t\t\t\"Code\": \"HL0001\",\n\t\t\t\"Name\": \"NedbankHome Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"Nedbank Limited\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 39,\n\t\t\t\"Code\": \"HL0002\",\n\t\t\t\"Name\": \"FirstRand Home Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"FirstRand Bank Limited\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 40,\n\t\t\t\"Code\": \"HL0003\",\n\t\t\t\"Name\": \"Krungsri Revolving Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"Krungsri Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 41,\n\t\t\t\"Code\": \"HL0004\",\n\t\t\t\"Name\": \"SCB Speedy Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"The Siam Commercial Bank PCL\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 43,\n\t\t\t\"Code\": \"HSBCHL1\",\n\t\t\t\"Name\": \"HSBC 2 year fixed\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"HSBC\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 302,\n\t\t\t\t\"Code\": \"HSBC\",\n\t\t\t\t\"IndustryCode\": \"HSBC\",\n\t\t\t\t\"Name\": \"HSBC\",\n\t\t\t\t\"Description\": null,\n\t\t\t\t\"URL\": null,\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 44,\n\t\t\t\"Code\": \"INVSASA1\",\n\t\t\t\"Name\": \"Investec Prime Saver Savings Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"INVSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 45,\n\t\t\t\"Code\": \"INVSATD1\",\n\t\t\t\"Name\": \"Investec 1 Year Fixed Deposit\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"TermDeposit\",\n\t\t\t\"ProductProvider\": \"INVSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 46,\n\t\t\t\"Code\": \"Market Product ID\",\n\t\t\t\"Name\": \"ProductName\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"Product Template\",\n\t\t\t\"ProductProvider\": \"ProductProviderName\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 47,\n\t\t\t\"Code\": \"MFD0001ZA\",\n\t\t\t\"Name\": \"ABSA Managed Fund\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"Absa Bank Limited \",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 58,\n\t\t\t\"Code\": \"P00001\",\n\t\t\t\"Name\": \"Thanachart FLASH Plus\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Thanachart Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 59,\n\t\t\t\"Code\": \"P00002\",\n\t\t\t\"Name\": \"5 Plus Multipurpose Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Krungthai Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 60,\n\t\t\t\"Code\": \"P00003\",\n\t\t\t\"Name\": \"TMB Cash 2 GO\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"TMB\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 61,\n\t\t\t\"Code\": \"P00004\",\n\t\t\t\"Name\": \"5 Plus Thanawat Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Krungthai Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 62,\n\t\t\t\"Code\": \"P00005\",\n\t\t\t\"Name\": \"Citibank Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Citi Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 63,\n\t\t\t\"Code\": \"P00006\",\n\t\t\t\"Name\": \"Personal Cash\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"CIMB Thai Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 64,\n\t\t\t\"Code\": \"P00007\",\n\t\t\t\"Name\": \"Krungsri Revolving Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Krungsri Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 65,\n\t\t\t\"Code\": \"P00008\",\n\t\t\t\"Name\": \"KTB Super Easy Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Krungthai Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 66,\n\t\t\t\"Code\": \"P00009\",\n\t\t\t\"Name\": \"Installment Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Standard Chartered Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 67,\n\t\t\t\"Code\": \"P00010\",\n\t\t\t\"Name\": \"TMB Cash 2 GO\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"TMB\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 68,\n\t\t\t\"Code\": \"P00011\",\n\t\t\t\"Name\": \"SCB Speedy Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"The Siam Commercial Bank PCL\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 69,\n\t\t\t\"Code\": \"P00012\",\n\t\t\t\"Name\": \"TMB Cash 2 GO\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"TMB\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 70,\n\t\t\t\"Code\": \"P00013\",\n\t\t\t\"Name\": \"Central Exclusive Cash\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"Central Pattana Bank\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 71,\n\t\t\t\"Code\": \"P00014\",\n\t\t\t\"Name\": \"TMB Cash 2 GO\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"TMB\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 72,\n\t\t\t\"Code\": \"P00015\",\n\t\t\t\"Name\": \"UOB I-Cash Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"United Overseas Bank Limited (UOB)\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 73,\n\t\t\t\"Code\": \"P00016\",\n\t\t\t\"Name\": \"Lending Works\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"LENUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 74,\n\t\t\t\"Code\": \"P00017\",\n\t\t\t\"Name\": \"ZOPA\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"ZOPUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 75,\n\t\t\t\"Code\": \"P00018\",\n\t\t\t\"Name\": \"Lendable\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"LEDUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 76,\n\t\t\t\"Code\": \"P00019\",\n\t\t\t\"Name\": \"Ikano Bank\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"IKAUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 77,\n\t\t\t\"Code\": \"P00020\",\n\t\t\t\"Name\": \"CU Loans\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"CULUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 78,\n\t\t\t\"Code\": \"P00021\",\n\t\t\t\"Name\": \"AA Financial Services Limited\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"BOIUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 79,\n\t\t\t\"Code\": \"P00022\",\n\t\t\t\"Name\": \"Post Office Money\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"POMUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 80,\n\t\t\t\"Code\": \"P00023\",\n\t\t\t\"Name\": \"1st Stop\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"1STUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 81,\n\t\t\t\"Code\": \"P00024\",\n\t\t\t\"Name\": \"Cahoot\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"CAHUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 82,\n\t\t\t\"Code\": \"P00025\",\n\t\t\t\"Name\": \"Santander\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"SANUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 83,\n\t\t\t\"Code\": \"P00026\",\n\t\t\t\"Name\": \"Clydesdale Bank\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"CLYUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 84,\n\t\t\t\"Code\": \"P00027\",\n\t\t\t\"Name\": \"Yorkshire Bank\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"YORUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 85,\n\t\t\t\"Code\": \"P00028\",\n\t\t\t\"Name\": \"Hitachi Personal Finance\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"HITUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 86,\n\t\t\t\"Code\": \"P00029\",\n\t\t\t\"Name\": \"HSBC\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"HSBCUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 87,\n\t\t\t\"Code\": \"P00030\",\n\t\t\t\"Name\": \"Be Savvi Plus\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"BESUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 88,\n\t\t\t\"Code\": \"P00031\",\n\t\t\t\"Name\": \"Admiral\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"ADMUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 89,\n\t\t\t\"Code\": \"P00032\",\n\t\t\t\"Name\": \"Bamboo\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"BAMUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 90,\n\t\t\t\"Code\": \"P00033\",\n\t\t\t\"Name\": \"Likely Loans\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"LIKUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 91,\n\t\t\t\"Code\": \"P00034\",\n\t\t\t\"Name\": \"Everyday Loans\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"EVEUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 92,\n\t\t\t\"Code\": \"RCISA1\",\n\t\t\t\"Name\": \"RCI Bank Freedom Savings Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"RCIUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 94,\n\t\t\t\"Code\": \"RSUKPL1\",\n\t\t\t\"Name\": \"RateSetter Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"RSUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 95,\n\t\t\t\"Code\": \"SAV0001ZA\",\n\t\t\t\"Name\": \"BARCLAYS Savings Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"BARCLAYS Bank Limited\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 96,\n\t\t\t\"Code\": \"SBUKPL1\",\n\t\t\t\"Name\": \"Sainsbury's Bank Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"SBUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 97,\n\t\t\t\"Code\": \"STBSAHL1\",\n\t\t\t\"Name\": \"Standard Bank South Africa Home Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"STBSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 99,\n\t\t\t\"Code\": \"TSBUKPL1\",\n\t\t\t\"Name\": \"TSB Fix & Flex Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"TSBUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 100,\n\t\t\t\"Code\": \"YBSUKHL1\",\n\t\t\t\"Name\": \"Yorkshire Building Society 2 year fixed\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"YBSUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 52,\n\t\t\t\"Code\": \"MSBUKPL1\",\n\t\t\t\"Name\": \"M&S Bank Personal Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"PersonalLoan\",\n\t\t\t\"ProductProvider\": \"MSBUK\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 53,\n\t\t\t\"Code\": \"NEDSAHL1\",\n\t\t\t\"Name\": \"Nedbank Home Loan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"HomeLoan\",\n\t\t\t\"ProductProvider\": \"NEDSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 54,\n\t\t\t\"Code\": \"NEDSASA1\",\n\t\t\t\"Name\": \"Nedbank Money Market Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"SavingPlan\",\n\t\t\t\"ProductProvider\": \"NEDSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 55,\n\t\t\t\"Code\": \"NEDSATD1\",\n\t\t\t\"Name\": \"Nedbank 1 Year Fixed Deposit\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": null,\n\t\t\t\"ProductTemplate\": \"TermDeposit\",\n\t\t\t\"ProductProvider\": \"NEDSA\",\n\t\t\t\"AccountType\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"LongDescription\": null,\n\t\t\t\"ExternalEvaluator\": null,\n\t\t\t\"Rank\": null,\n\t\t\t\"ExternalRank\": null,\n\t\t\t\"URL\": null,\n\t\t\t\"PDS\": null,\n\t\t\t\"Order\": null,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": null,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": null\n\t\t},\n\t\t{\n\t\t\t\"ID\": 93,\n\t\t\t\"Code\": \"RFA0127AU\",\n\t\t\t\"Name\": \"BT Classic Lifetime - Personal Super Plan\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"BT Classic Lifetime - Personal Super Plan\",\n\t\t\t\"ProductTemplate\": \"Superannuation\",\n\t\t\t\"ProductProvider\": \"RFAX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"\",\n\t\t\t\"LongDescription\": \"\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 162,\n\t\t\t\t\"Code\": \"RFAX100AU\",\n\t\t\t\t\"IndustryCode\": \"\",\n\t\t\t\t\"Name\": \"BT Funds Management Ltd \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.btfinancialgroup.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 48,\n\t\t\t\"Code\": \"MLC0419AU\",\n\t\t\t\"Name\": \"MLC Masterkey Superannuation\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"MLC Masterkey Superannuation\",\n\t\t\t\"ProductTemplate\": \"Superannuation\",\n\t\t\t\"ProductProvider\": \"MLCX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"\",\n\t\t\t\"LongDescription\": \"\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": true,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 218,\n\t\t\t\t\"Code\": \"MLCX100AU\",\n\t\t\t\t\"IndustryCode\": \"MLCX100AU \",\n\t\t\t\t\"Name\": \"MLC Limited \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.mlc.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 37,\n\t\t\t\"Code\": \"FSF0217AU\",\n\t\t\t\"Name\": \"FirstChoice Personal Super\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"FirstChoice Personal Super\",\n\t\t\t\"ProductTemplate\": \"Superannuation\",\n\t\t\t\"ProductProvider\": \"FSFX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"\",\n\t\t\t\"LongDescription\": \"\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 217,\n\t\t\t\t\"Code\": \"FSFX100AU\",\n\t\t\t\t\"IndustryCode\": \"FSFX100AU \",\n\t\t\t\t\"Name\": \"Colonial First State Investments Limited\",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.colonialfirststate.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 8,\n\t\t\t\"Code\": \"ASG0002AU\",\n\t\t\t\"Name\": \"ASGARD Superannuation Funds Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"ASGARD Superannuation Funds Account\",\n\t\t\t\"ProductTemplate\": \"Superannuation\",\n\t\t\t\"ProductProvider\": \"ASGX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"\",\n\t\t\t\"LongDescription\": \"\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": false,\n\t\t\t\"Recommended\": true,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 216,\n\t\t\t\t\"Code\": \"ASGX100AU\",\n\t\t\t\t\"IndustryCode\": \"ASGX100AU \",\n\t\t\t\t\"Name\": \"ASGARD Capital Management Ltd \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.ing.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 9,\n\t\t\t\"Code\": \"ASG0005AU\",\n\t\t\t\"Name\": \"ASGARD Investment Funds Account\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"ASGARD Investment Funds Account\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"ASGX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 216,\n\t\t\t\t\"Code\": \"ASGX100AU\",\n\t\t\t\t\"IndustryCode\": \"ASGX100AU \",\n\t\t\t\t\"Name\": \"ASGARD Capital Management Ltd \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.ing.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 10,\n\t\t\t\"Code\": \"ASK0001AU\",\n\t\t\t\"Name\": \"IOOF Global Investment Solutions\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"IOOF Global Investment Solutions\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"ASKX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 176,\n\t\t\t\t\"Code\": \"ASKX100AU\",\n\t\t\t\t\"IndustryCode\": \"ASKX100AU \",\n\t\t\t\t\"Name\": \"IOOF Global One Limited \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 13,\n\t\t\t\"Code\": \"AUSX200AU\",\n\t\t\t\"Name\": \"Australian Unity Investments Managed Funds\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"Australian Unity Investments Managed Funds\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"AUSX200AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 173,\n\t\t\t\t\"Code\": \"AUSX200AU\",\n\t\t\t\t\"IndustryCode\": \"AUSX200AU \",\n\t\t\t\t\"Name\": \"Australian Unity Funds Management Limited \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 7,\n\t\t\t\"Code\": \"ANZ0327AU\",\n\t\t\t\"Name\": \"ANZ OneAnswer Investment Portfolio\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"ANZ OneAnswer Investment Portfolio\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"MMFX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 171,\n\t\t\t\t\"Code\": \"MMFX100AU\",\n\t\t\t\t\"IndustryCode\": \"\",\n\t\t\t\t\"Name\": \"ING Funds Management Limited\",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.ing.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 27,\n\t\t\t\"Code\": \"BTA0001AU\",\n\t\t\t\"Name\": \"BT Investment Funds\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"BT Investment Funds\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"RFAX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 162,\n\t\t\t\t\"Code\": \"RFAX100AU\",\n\t\t\t\t\"IndustryCode\": \"\",\n\t\t\t\t\"Name\": \"BT Funds Management Ltd \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.btfinancialgroup.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 49,\n\t\t\t\"Code\": \"MLC049ZAU\",\n\t\t\t\"Name\": \"MLC Masterkey Investment Service\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"MLC Masterkey Investment Service\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"MLCX300AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": true,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 172,\n\t\t\t\t\"Code\": \"MLCX300AU\",\n\t\t\t\t\"IndustryCode\": \"MLCX300AU \",\n\t\t\t\t\"Name\": \"MLC Investments Limited \",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.mlc.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 42,\n\t\t\t\"Code\": \"HOWX100AU\",\n\t\t\t\"Name\": \"Challenger Investment Funds\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"Challenger Investment Funds\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"HOWX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 174,\n\t\t\t\t\"Code\": \"HOWX100AU\",\n\t\t\t\t\"IndustryCode\": \"\",\n\t\t\t\t\"Name\": \"Challenger Managed Investments Limited\",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.challenger.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 57,\n\t\t\t\"Code\": \"NMS9991AU\",\n\t\t\t\"Name\": \"North Investment\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"North Investment\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"NMMX100AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": true,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 219,\n\t\t\t\t\"Code\": \"NMMX100AU\",\n\t\t\t\t\"IndustryCode\": \"NMMX100AU \",\n\t\t\t\t\"Name\": \"NMMT Limited\",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"www.adelaidebank.com.au\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"ID\": 51,\n\t\t\t\"Code\": \"MMF0741AU\",\n\t\t\t\"Name\": \"IOOF Flexi Trust\",\n\t\t\t\"Version\": \"1.0\",\n\t\t\t\"Headline\": \"IOOF Flexi Trust\",\n\t\t\t\"ProductTemplate\": \"Mgt12\",\n\t\t\t\"ProductProvider\": \"IOFX200AU\",\n\t\t\t\"AccountType\": \"InvestmentAccount \",\n\t\t\t\"Description\": \"Mutual Fund\",\n\t\t\t\"LongDescription\": \"<p>Managed FundLong Description</p>\",\n\t\t\t\"ExternalEvaluator\": \"\",\n\t\t\t\"Rank\": 0,\n\t\t\t\"ExternalRank\": 0,\n\t\t\t\"URL\": \"\",\n\t\t\t\"PDS\": \"\",\n\t\t\t\"Order\": 0,\n\t\t\t\"Active\": true,\n\t\t\t\"Recommended\": false,\n\t\t\t\"ProductVariants\": null,\n\t\t\t\"ProductProviderObject\": {\n\t\t\t\t\"ID\": 175,\n\t\t\t\t\"Code\": \"IOFX200AU\",\n\t\t\t\t\"IndustryCode\": \"IOFX200AU \",\n\t\t\t\t\"Name\": \"IOOF Investment Management Limited\",\n\t\t\t\t\"Description\": \"\",\n\t\t\t\t\"URL\": \"\",\n\t\t\t\t\"Order\": 0,\n\t\t\t\t\"Active\": true\n\t\t\t}\n\t\t}\n\t],\n\t\"Status\": \"000000\",\n\t\"Message\": \"Request completed successfully.\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":560,"wires":[["66232258.fe2abc"]]},{"id":"66232258.fe2abc","type":"function","z":"b2178db7.c65c7","name":"","func":"msg.payload = msg.payload.ListOfObjects;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":560,"wires":[["5eda8be3.5baa14"]]},{"id":"5eda8be3.5baa14","type":"split","z":"b2178db7.c65c7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":500,"y":560,"wires":[["4520c4f8.debf3c"]]},{"id":"436b157f.d816ac","type":"cloudant out","z":"b2178db7.c65c7","name":"","cloudant":"","database":"barclaysproducts","service":"rdc-us-personal-wealth-ui-cloudantNoSQLDB","payonly":true,"operation":"insert","x":820,"y":560,"wires":[]},{"id":"84389cb5.c179f","type":"inject","z":"b2178db7.c65c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":560,"wires":[["2717e6c3.765c9a"]]},{"id":"4520c4f8.debf3c","type":"delay","z":"b2178db7.c65c7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"8","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":560,"wires":[["436b157f.d816ac"]]},{"id":"b7536c5d.f9a8f","type":"cloudant in","z":"b2178db7.c65c7","name":"","cloudant":"","database":"barclaysproducts","service":"rdc-us-personal-wealth-ui-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":468.99999618530273,"y":501.999981880188,"wires":[["4b3c5b92.74f224","3b9ca520.21beea"]]},{"id":"ad6e075.fb39ff8","type":"http in","z":"b2178db7.c65c7","name":"","url":"/products","method":"get","upload":false,"swaggerDoc":"","x":110,"y":70,"wires":[["1182be88.73b0b1"]]},{"id":"14186dc.0321b92","type":"http request","z":"b2178db7.c65c7","name":"GetProductList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/product/GetProductList?pageSize=0&pageNum=0","tls":"","x":480.0000457763672,"y":116.00002098083496,"wires":[["49bcd4e7.88905c","255443f9.240eac"]]},{"id":"b635f84b.8dbbd8","type":"http response","z":"b2178db7.c65c7","name":"","statusCode":"","headers":{},"x":780.000072479248,"y":67.0000581741333,"wires":[]},{"id":"1182be88.73b0b1","type":"change","z":"b2178db7.c65c7","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":285.00006103515625,"y":117.00001907348633,"wires":[["14186dc.0321b92"]]},{"id":"49bcd4e7.88905c","type":"debug","z":"b2178db7.c65c7","name":"","active":true,"console":"false","complete":"true","x":782.1001205444336,"y":115.40005874633789,"wires":[]},{"id":"3a9099f9.d8bf96","type":"http request","z":"2119b734.ae4bc8","name":"CreateTempMember","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/member/CreateTempMember","tls":"","x":538.0000610351562,"y":244.0000228881836,"wires":[["dcc6c95b.3e4ff8","fb7b32e4.c0047","74cb8667.a94118"]]},{"id":"bcddeb6b.c66088","type":"change","z":"2119b734.ae4bc8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":281.00001525878906,"y":245.0000238418579,"wires":[["3a9099f9.d8bf96"]]},{"id":"fb7b32e4.c0047","type":"function","z":"2119b734.ae4bc8","name":"global.member","func":"var member = msg.payload.DataObject;\nglobal.set(\"member\",member);\nreturn msg;","outputs":1,"noerr":0,"x":646.0000152587891,"y":302.00002574920654,"wires":[["39aa8317.f91f4c"]]},{"id":"39aa8317.f91f4c","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"true","x":815.0000152587891,"y":301.0000247955322,"wires":[]},{"id":"dcc6c95b.3e4ff8","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"false","x":828.0000152587891,"y":240.0000228881836,"wires":[]},{"id":"58ebc8d6.fdb598","type":"inject","z":"2119b734.ae4bc8","name":"","topic":"","payload":"{\"DeviceInfo\":{\"DeviceId\":\"10922\"},\"Email\":\"tori.amos@rockville.md\",\"UserName\":\"Tori\",\"PhoneNumber\":\"12045551212\",\"FirstName\":\"Myra\",\"MiddleName\":\"Tori\",\"LastName\":\"Amos\",\"Password\":\"tuckerman\",\"DateOfBirth\":\"22/08/1963\",\"Gender\":\"Female\",\"PushID\":\"20857\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":114.00000762939453,"y":668.0000057220459,"wires":[[]]},{"id":"2c6cfb74.017764","type":"change","z":"2119b734.ae4bc8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"DeviceId\":\"10922\",\"Authorization\":\"Bearer dAlfAU5DhakvhfUuoX2WPA7D71sa\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":271.0000305175781,"y":684.0000104904175,"wires":[["ca50f1d5.c5d5f"]]},{"id":"ca50f1d5.c5d5f","type":"http request","z":"2119b734.ae4bc8","name":"","method":"POST","ret":"txt","url":"https://api.risemarketplace.net/rise/v1.0.0/api/member/RegisterMember","tls":"","x":429.0000228881836,"y":724.0000047683716,"wires":[["4065e949.d21658","a1947caa.8084a"]]},{"id":"4065e949.d21658","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"false","x":574.1000595092773,"y":782.7999925613403,"wires":[]},{"id":"a1947caa.8084a","type":"json","z":"2119b734.ae4bc8","name":"","pretty":false,"x":569.0000228881836,"y":724.0000047683716,"wires":[["96d8368f.53a2c8"]]},{"id":"96d8368f.53a2c8","type":"function","z":"2119b734.ae4bc8","name":"","func":"var member = msg.payload.DataObject;\nglobal.set(\"member\",member);\nreturn msg;","outputs":1,"noerr":0,"x":689.0000228881836,"y":724.0000047683716,"wires":[["cd20f7a9.6756e8"]]},{"id":"cd20f7a9.6756e8","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"true","x":809.0000228881836,"y":724.0000047683716,"wires":[]},{"id":"26a1b61b.5db64a","type":"http in","z":"2119b734.ae4bc8","name":"","url":"/member/select","method":"get","upload":false,"swaggerDoc":"","x":127.00000762939453,"y":56.00000476837158,"wires":[["b45b3de3.c6c31"]]},{"id":"1022bab7.912345","type":"template","z":"2119b734.ae4bc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div id=\"ia_member\">\n    <h2>Create temporary member</h2>\n    Current Member details:\n    {{global.member.UserName}}\n    <br>\n    {{#payload}}\n    From {{TotalRecord}} Personae - \n    <p>\n           <table>\n            <tr>\n            <th>Create Persona</th>\n            <th>Description</th>\n            <th>Risk tolerance</th>\n            <th>Age</th>\n            <th>Income</th>\n            <th>Savings</th>\n            <th></th>\n            </tr>\n            {{#ListOfObjects}}\n            <tr>\n            <td><a href=\"/member/create/{{Code}}\">{{Code}}</a></a></td>\n            <td>{{Name}}</td>\n            <td>{{RiskTolerance}}</td>\n            <td>{{Age}}</td>\n            <td>{{Income}}</td>\n            <td>{{PostTaxInvestment}}</td>\n            <td><img src=\"{{ImageUrl}}\"></td>\n            </tr>            \n            {{/ListOfObjects}}\n        </table>\n    {{/payload}}\n</div>","output":"str","x":657.0000190734863,"y":55.000003814697266,"wires":[["f5f5a0c1.85c"]]},{"id":"f5f5a0c1.85c","type":"http response","z":"2119b734.ae4bc8","name":"","statusCode":"","headers":{},"x":809.0000228881836,"y":55.00000476837158,"wires":[]},{"id":"a60a1c79.652b6","type":"http request","z":"2119b734.ae4bc8","name":"GetPersonaList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/tips/GetPersonaList?pageNum=0&pageSize=0","tls":"","x":520.0000610351562,"y":103.00000286102295,"wires":[["1022bab7.912345","65a12a93.81ea44"]]},{"id":"b45b3de3.c6c31","type":"change","z":"2119b734.ae4bc8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":271.00003814697266,"y":102.99999809265137,"wires":[["a60a1c79.652b6"]]},{"id":"23e17a44.6d39e6","type":"function","z":"2119b734.ae4bc8","name":"post body","func":"msg.payload = {\"PersonaCode\":msg.req.params.persona};\nreturn msg;","outputs":1,"noerr":0,"x":384.00000381469727,"y":189.0000123977661,"wires":[["bcddeb6b.c66088"]]},{"id":"5b2f805c.c9dbc","type":"http in","z":"2119b734.ae4bc8","name":"","url":"/member/create/:persona","method":"get","upload":false,"swaggerDoc":"","x":150,"y":190,"wires":[["23e17a44.6d39e6"]]},{"id":"ae483b3f.74f5d8","type":"http response","z":"2119b734.ae4bc8","name":"","statusCode":"","headers":{},"x":811.0000152587891,"y":187.00000858306885,"wires":[]},{"id":"74cb8667.a94118","type":"template","z":"2119b734.ae4bc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Member created -- <a href=\"/member/login\">Login</a>\n{{#payload}} \n    {{#DataObject}}\n    ID - {{InstallationId}}\n    <br>\n    Email - {{Member}}\n    <br>\n    Username - {{UserName}}\n    <br>\n    Password - {{Password}}\n    {{/DataObject}}\n{{/payload}}","output":"str","x":656.0000114440918,"y":188.00000953674316,"wires":[["ae483b3f.74f5d8"]]},{"id":"90fec65f.5c1948","type":"http in","z":"30cfc8ac.884918","name":"","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":114.00001907348633,"y":26.000016689300537,"wires":[["8059a499.5b9528","9476c414.b52bb8"]]},{"id":"8059a499.5b9528","type":"template","z":"30cfc8ac.884918","name":"Demo page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<link rel=\"stylesheet\" \n\t\t\ttype=\"text/css\" \n\t\t\thref=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n\t\t<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n\t\t\tintegrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n\t\t\tcrossorigin=\"anonymous\">\n\t\t</script>\n\t\t<script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\">\n\t\t</script>\n\t\t<script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\">\n\t\t</script>\n\t\t<style>\n       \t\t.modal {\n       \t\t  display: none;\n              position: fixed;\n              z-index: 50;\n              padding-top: 20px;\n              left: 50;\n              top: 200;\n              width: 50vw;\n              height: 50vh;\n              overflow: auto;\n              background-color: rgba(61,112,178,0.5);\n            }\n            /* Modal Content */\n.modal-content {\n  overflow: auto;\n  position: relative;\n  background-color: #fefefe;\n  margin: auto;\n  padding: 0;\n  width: 90%;\n  max-width: 1200px;\n}\n\t\t\tbody {\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t\tpadding: 5px;\n\t\t\t}\n\t\t\theader,\n\t\t\tfooter {\n\t\t\t\twidth: 80vw;\n\t\t\t\theight:10vh;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t}\n\t\t\tnav {\n\t\t\t    width: 80vw;\n\t\t\t\theight:8vh;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t}\n\t\t\theader > img {\n\t\t\t\theight: 75px;\n\t\t\t}\n\t\t\tarticle {\n//\t\t\t\twidth: 80vw;\n\t\t\t\theight: 80vh;\n\t\t\t\tdisplay: table;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t\talign:center;\n\t\t\t}\n\t\t\tfooter {\n\t\t\t\ttext-align: center;\n\t\t\t\tpadding-top: 10px;\n\t\t\t}\n\t\t\tsection {\n\t\t\t\tfloat: left;\n\t\t\t\tdisplay: table-cell;\n\t\t\t}\n\t\t\tarticle {\n\t\t\t\t/** background-color: deepskyblue; **/\n\t\t\t}\n\t\t\t\n\t\t\t.column {\n\t\t\t\tfloat: left;\n\t\t\t\tmargin: 0 auto 0 auto;\n\t\t\t}\n\n\t\t\t.column.right {\n\t\t\t\twidth: 30vw;\n\t            height: 80vh;\n                overflow-y: scroll;\n                overflow-x:hidden;\n\t\t\t}\n\t\t\t\n\t\t\t.column.middle {\n\t\t\t\twidth: 60vw;\n                height: 80vh;\n                overflow-y: scroll;\n                overflow-x:auto;\n\t\t\t}\n\t\t\n\t\t\tiframe {\n\t\t\t\tborder: none;\n\t\t\t\twidth: 100%\n\t\t\t}\n\n\t\t\tiframe#portfolios {\n\t\t\t\theight: 20vh;\n\t\t\t}\n\t\t\tiframe#products {\n\t\t\t\theight: 60vh;\n\t\t\t}\n\t\t\tiframe#chat {\n\t\t\t\theight: 80vh;\n\t\t\t}\n\t\t</style>\n\t\t<script type=\"text/javascript\">\n\t\t\t$(document).ready(function() {\n\t\t\t\t$( \"div#portfolios\" ).load( \"/portfolios\" );\n\t\t\t\t$( \"div#content\" ).load( \"/instruments\" );\n\t\t \t\t$( \"div#chat\" ).load( \"/chat\" );\n\n            $('a.ia_lnk').on(\"click\",function() {\n                var url = $(this).attr('href');\n                $('#content').load(url);\n                event.preventDefault();\n                return false;\n            });\n          \n            $('a.ia_nav_lnk').on(\"click\",function() {\n                var url = $(this).attr('href');\n                $('#navcontent').empty();\n                $('#navcontent').load(url);\n                $('#navcontent-holder').show();\n                event.preventDefault();\n                return false;\n            });\n            $('#navcontent-holder').click(function() {\n                $('#navcontent-holder').hide();\n                return true;\n            });\n\n        });\n    </script>\n\t</head>\n\t<body>\n\t\t<header>\n\t\t<img src=\"https://developer.risemarketplace.net/assets/images/rise-new-logo@2x.png\">\n\t\t<img src=\"https://rdc-us-personal-wealth-demo.mybluemix.net/media/Bluemix-logo-primary-lightbg-reg.png\" style=\"float: right;\">\n\t\t</header>\n\t\t<nav>\n\t\t    <span style=\"float:left;\">\n            |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/member/select\">Member</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/wallets\">Wallets</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/holdings\">Holdings</a>\n\t\t    |\n\t\t    </span>\n\t\t    <span style=\"float:right;\">\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/accounts/types\">A/c types</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"/products\">Products</a>\n\t\t    |\n\t\t    <a class=\"ia_nav_lnk\" href=\"https://developer.risemarketplace.net/APIs\">Help</a>\n\t\t    |\n\t\t    </span>\n\t\t</nav>\n\t\t<div id=\"navcontent-holder\" class=\"modal\">\n\t\t    <div id=\"navcontenthead\" style=\"float:right;\">\n<b>X</b>&nbsp;\n\t\t    </div>\n\t\t    <div id=\"navcontent\" class=\"modal-content\"></div>\n\t\t</div>\n\t\t<article>\n\t\t\t<div class=\"content\">\n\t\t\t\t<div class=\"column middle\" align=center>\n\t\t\t\t\t<div id=\"portfolios\"></div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div id=\"content\"></div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"column right\" align=center>\n\t\t\t\t\t<div id=\"chat\">\n<!--<iframe  height=\"450\" src=\"https://rdc-us-personal-wealth-portfolio-mgt.mybluemix.net\"></iframe> -->\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</article>\n\t\t<footer>\n\t\t\t<a href=\"http://developer.ibm.com/code/journey/create-an-investment-management-chatbot\">developerWorks</a> | \n\t\t\t<b>Watson Conversation</b>\n\t\t\t<a href=\"https://github.com/watson-developer-cloud/text-bot#user-content-intents\">Intents</a>\n\t\t\t<a href=\"https://github.com/watson-developer-cloud/text-bot#user-content-entities\">Entities</a>\n\t\t\t<a href=\"https://www.ibm.com/watson/developercloud/doc/conversation/advanced_overview.shtml\">Dialogs</a> | \n\t\t\t<b>Rise APIs</b>\n\t\t\t<a href=\"https://developer.risemarketplace.net/APIs\">Explore</a>\n\t\t</footer>\n\t</body>\n</html>","output":"str","x":408.00003814697266,"y":26.000009536743164,"wires":[["cd3f9dec.e242b"]]},{"id":"cd3f9dec.e242b","type":"http response","z":"30cfc8ac.884918","name":"","statusCode":"","headers":{},"x":756.0000076293945,"y":24.00000810623169,"wires":[]},{"id":"bf7d09ec.f41f88","type":"http in","z":"2119b734.ae4bc8","name":"","url":"/member/login","method":"get","upload":false,"swaggerDoc":"","x":132.10001373291016,"y":391.8000602722168,"wires":[["2f8d1351.45523c"]]},{"id":"e75e377d.04b9f8","type":"http request","z":"2119b734.ae4bc8","name":"get user token","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/token","tls":"","x":518.0000610351562,"y":448.00001335144043,"wires":[["77eaf7df.bed9b8","842744dc.321398","56f73d7e.3bbaa4"]]},{"id":"6f4e6ebd.1b561","type":"http response","z":"2119b734.ae4bc8","name":"","statusCode":"","headers":{},"x":821.1001205444336,"y":388.6000118255615,"wires":[]},{"id":"77eaf7df.bed9b8","type":"template","z":"2119b734.ae4bc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n    Access {{access_token}}\n    <br>\n    Refresh {{refresh_token}}\n    <br>\n    Expires {{expires_in}}\n    <br>\n    TokenType {{token_type}}\n    <br>\n    Scope {{scope}}\n\n{{/payload}}","output":"str","x":645.1001167297363,"y":390.20001220703125,"wires":[["6f4e6ebd.1b561"]]},{"id":"2f8d1351.45523c","type":"function","z":"2119b734.ae4bc8","name":"post body","func":"var member = global.get(\"member\");\n\nmsg.payload =  \"grant_type=password&scope=PRODUCTION\";\nmsg.payload += \"&username=\" + member.UserName;\nmsg.payload += \"&password=\" + member.Password;\n\nreturn msg;","outputs":1,"noerr":0,"x":387.0000114440918,"y":392.0000114440918,"wires":[["7a856884.a70c38"]]},{"id":"81b19097.f58ec","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":118.10004043579102,"y":224.80000495910645,"wires":[["8d2c09da.8520c8","7fd72e90.30118","55abec4e.9a0494","400517c8.051918","764250fc.b205e"]]},{"id":"8d2c09da.8520c8","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"basickey","pt":"global","to":"TTJxRURBUVloRmNDWEVJME5NcVpIdWVDOGxzYTpmc2czRjVjakZDM29mbjdpQUdJMG1fOHZ1dzRh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":406.1000289916992,"y":186.20000553131104,"wires":[["28cdb0b6.952e6"]]},{"id":"28cdb0b6.952e6","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":777.1001205444336,"y":184.20001792907715,"wires":[]},{"id":"7fd72e90.30118","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"userkey","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":406.00003814697266,"y":232.0000057220459,"wires":[["ab4bc609.26bc98"]]},{"id":"ab4bc609.26bc98","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":779.1000938415527,"y":230.20001792907715,"wires":[]},{"id":"55abec4e.9a0494","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"member","pt":"global","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":407.00003814697266,"y":282.00000858306885,"wires":[["2513eccb.318494"]]},{"id":"2513eccb.318494","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":779.0000686645508,"y":281.00003242492676,"wires":[]},{"id":"61bd6022.a9505","type":"inject","z":"2119b734.ae4bc8","name":"refresh login","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":350,"wires":[["2f8d1351.45523c"]]},{"id":"400517c8.051918","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"apptoken","pt":"global","to":"{\"Authorization\":\"Bearer dAlfAU5DhakvhfUuoX2WPA7D71sa\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":406.0000305175781,"y":333.00000953674316,"wires":[["6c4f4d15.100154"]]},{"id":"6c4f4d15.100154","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":778.0000762939453,"y":330.00000953674316,"wires":[]},{"id":"842744dc.321398","type":"function","z":"2119b734.ae4bc8","name":"global.usertoken","func":"var auth =  \"Bearer \" + msg.payload.access_token;\nvar usertoken = { \"Authorization\" : auth };\nglobal.set(\"usertoken\", usertoken);\nmsg.usertoken = usertoken;\nreturn msg;","outputs":1,"noerr":0,"x":662.1001205444336,"y":496.60011291503906,"wires":[["2c5ebaea.2d10a6"]]},{"id":"2c5ebaea.2d10a6","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"true","x":826.1001205444336,"y":496.2000141143799,"wires":[]},{"id":"b48467d9.f34418","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113.00001525878906,"y":394.0000114440918,"wires":[["4ce775f.c04468c"]]},{"id":"4ce775f.c04468c","type":"function","z":"30cfc8ac.884918","name":"App Token request","func":"msg.payload = \"grant_type=client_credentials&scope=PRODUCTION\";\nreturn msg;","outputs":1,"noerr":0,"x":322.0000305175781,"y":394.0000114440918,"wires":[["b492c85.4ed3238"]]},{"id":"b492c85.4ed3238","type":"http request","z":"30cfc8ac.884918","name":"","method":"POST","ret":"txt","url":"https://api.risemarketplace.net/token","tls":"","x":550.0000610351562,"y":394.0000114440918,"wires":[["81bc7ee5.99e8"]]},{"id":"81bc7ee5.99e8","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":758.0000228881836,"y":393.0000114440918,"wires":[]},{"id":"238ac22.9c81f3e","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets","method":"get","upload":false,"swaggerDoc":"","x":110,"y":250,"wires":[["de5363d.5594ba"]]},{"id":"db8dfebd.a2ad4","type":"http request","z":"d223ccb6.c890c","name":"GetWalletList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletList?pageSize=0&pageNum=0","tls":"","x":460,"y":290,"wires":[["aff90a2a.8a0aa8","a1bd9c80.c6455"]]},{"id":"3b35ec41.90cd74","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":290,"wires":[["db8dfebd.a2ad4"]]},{"id":"aff90a2a.8a0aa8","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<table>\n    <tr>\n        <th>Wallet</th>\n        <th>Current Balance</th>\n        <th>Top-up Account</th>\n        <th>Action</th>\n    </tr>\n{{#ListOfObjects}}\n<tr>\n    <td><a class=ia_nav_lnk href=\"/wallets/{{WalletCode}}/detail\">{{Name}}</a></td>\n    <td>{{CurrentBalance}}</td>\n    <td><a class=ia_nav_lnk href=\"/accounts/{{TopupAccount}}/detail\">{{TopupAccount}}</a></td>\n    <td>\n        <a class=ia_nav_lnk target=\"_blank\" href=\"/wallets/{{WalletCode}}/delete\">DELETE</a>\n        <br>\n        <a class=ia_nav_lnk target=\"_blank\" href=\"/wallets/{{WalletCode}}/topup\">TOPUP</a>\n        </td>\n</tr>\n{{/ListOfObjects}}\n</table>\n{{/payload}}\n<a href=/wallets/create>Create a new wallet</a>","output":"str","x":630,"y":250,"wires":[["684f6615.2c1ff8"]]},{"id":"684f6615.2c1ff8","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790,"y":250,"wires":[]},{"id":"de5363d.5594ba","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":337.9000015258789,"y":250.40000343322754,"wires":[["3b35ec41.90cd74"]]},{"id":"fcec692a.de0228","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/create","method":"get","upload":false,"swaggerDoc":"","x":137.00000381469727,"y":75.20007705688477,"wires":[["9768cf23.190db"]]},{"id":"dc5db537.865608","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":787.0001373291016,"y":76.60004997253418,"wires":[]},{"id":"9768cf23.190db","type":"template","z":"d223ccb6.c890c","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <form method=POST action=\"/wallets/add\">\n        Wallet name: <input type=text name=wallet></input>\n        <input type=Submit>\n    </form>\n</div>","output":"str","x":450.0000762939453,"y":76.2000560760498,"wires":[["dc5db537.865608"]]},{"id":"150608af.4e74b7","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/add","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["7cbfd78d.032ec8"]]},{"id":"6808cec8.7250b","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":160,"wires":[["ddb3987d.864ae8"]]},{"id":"ddb3987d.864ae8","type":"http request","z":"d223ccb6.c890c","name":"CreateWallet","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/CreateWallet","tls":"","x":460,"y":160,"wires":[["8a663e28.7f545","c80df72e.2c5648"]]},{"id":"7cbfd78d.032ec8","type":"function","z":"d223ccb6.c890c","name":"post body","func":"msg.payload = {\n    \"WalletName\" : msg.req.body.wallet\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["6808cec8.7250b"]]},{"id":"8a663e28.7f545","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"New Wallet created : {{payload.DataObject.WalletCode}} !","output":"str","x":638.000078201294,"y":121.00000047683716,"wires":[["4f8d1575.6f8c7c"]]},{"id":"4f8d1575.6f8c7c","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":786.000129699707,"y":121.20003318786621,"wires":[]},{"id":"c80df72e.2c5648","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790,"y":160,"wires":[]},{"id":"6a2528e2.ab9798","type":"http in","z":"7900671d.eafd08","name":"","url":"/accounts/types","method":"get","upload":false,"swaggerDoc":"","x":137,"y":78.00000286102295,"wires":[["257d3e25.4f6f52"]]},{"id":"78a71672.fc3708","type":"http request","z":"7900671d.eafd08","name":"GetAccountTypeList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountTypeList?pageSize=0&pageNum=0","tls":"","x":472.00013732910156,"y":126.80000400543213,"wires":[["c58eca6b.b08048","84fd31dc.e3c8c"]]},{"id":"257d3e25.4f6f52","type":"change","z":"7900671d.eafd08","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":250.0000228881836,"y":126.80000305175781,"wires":[["78a71672.fc3708"]]},{"id":"c58eca6b.b08048","type":"template","z":"7900671d.eafd08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<table>\n    <tr>\n        <th>Name</th>\n        <th>Description</th>\n        <th>Type</th>\n    </tr>\n{{#ListOfObjects}}\n<tr>\n    <td>{{Code}}</td>\n    <td>{{Description}}</td>\n    <td>{{FinancialItemType}}</td>\n</tr>\n{{/ListOfObjects}}\n</table>\n{{/payload}}","output":"str","x":615.000114440918,"y":82.8000020980835,"wires":[["d9e5c8cd.69efa8"]]},{"id":"d9e5c8cd.69efa8","type":"http response","z":"7900671d.eafd08","name":"","statusCode":"","headers":{},"x":758.0001220703125,"y":82.60003852844238,"wires":[]},{"id":"42ef9fd5.f4aa8","type":"http in","z":"7900671d.eafd08","name":"","url":"/accounts/:id/detail","method":"get","upload":false,"swaggerDoc":"","x":142,"y":366.0000114440918,"wires":[["9d2be2a0.efce8"]]},{"id":"9d2be2a0.efce8","type":"change","z":"7900671d.eafd08","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":254.00003814697266,"y":419.0000123977661,"wires":[["85781d94.2c7b7"]]},{"id":"85781d94.2c7b7","type":"http request","z":"7900671d.eafd08","name":"GetAccountInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountInfo?accountNumber={{{req.params.id}}}","tls":"","x":452.0000457763672,"y":418.00001335144043,"wires":[["484ea42.4fc4a5c","4fb777b1.722eb8"]]},{"id":"484ea42.4fc4a5c","type":"template","z":"7900671d.eafd08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Account detail -- {{req.params.id}}</h2>\n{{#payload}}\n<table>\n    {{#DataObject}}\n    <tr><td>AccountNumber</td><td>{{AccountNumber}}</td></tr>\n    <tr><td>Current Balance</td><td>{{CurrentBalance}}</td></tr>\n    <tr><td>Currency</td><td>{{Currency}}</td></tr>\n    <tr><td>Product</td><td>{{ProductVariant}}</td></tr>\n    {{/DataObject}}\n</table>\n{{/payload}}","output":"str","x":618.0000267028809,"y":367.00001335144043,"wires":[["d5191dbf.49cb"]]},{"id":"d5191dbf.49cb","type":"http response","z":"7900671d.eafd08","name":"","statusCode":"","headers":{},"x":753.0000267028809,"y":368.0000238418579,"wires":[]},{"id":"e46135bb.ee6168","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/detail","method":"get","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["7906bd24.b3aae4"]]},{"id":"7906bd24.b3aae4","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":233.89998626708984,"y":426.8000383377075,"wires":[["89324222.696ff"]]},{"id":"89324222.696ff","type":"http request","z":"d223ccb6.c890c","name":"GetWalletInfo","method":"GET","ret":"txt","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletInfo?walletCode={{{req.params.id}}}","tls":"","x":429.90001678466797,"y":427.8000297546387,"wires":[["f6d3fbdb.01cf88","6acec003.c2a6f"]]},{"id":"f6d3fbdb.01cf88","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":640,"y":390,"wires":[["860cde1c.d3534"]]},{"id":"6acec003.c2a6f","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":778.1001243591309,"y":425.20004653930664,"wires":[]},{"id":"860cde1c.d3534","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":780,"y":390,"wires":[]},{"id":"a1bd9c80.c6455","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790,"y":290,"wires":[]},{"id":"81b69ee1.d5e9f","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.00000762939453,"y":466.00001335144043,"wires":[["5bf91891.ef2bc8"]]},{"id":"5bf91891.ef2bc8","type":"change","z":"30cfc8ac.884918","name":"? global.member","rules":[{"t":"set","p":"payload","pt":"msg","to":"member","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":416.0000305175781,"y":464.00001335144043,"wires":[["75cff349.9aac2c"]]},{"id":"75cff349.9aac2c","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":778.0000686645508,"y":462.8000144958496,"wires":[]},{"id":"376ba1af.a2af7e","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.00000762939453,"y":511.0000648498535,"wires":[["1d136e29.fc5b72"]]},{"id":"1d136e29.fc5b72","type":"change","z":"30cfc8ac.884918","name":"? global.apptoken","rules":[{"t":"set","p":"payload","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":414.90000915527344,"y":510.2000160217285,"wires":[["96d3fe5e.e538f"]]},{"id":"96d3fe5e.e538f","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":779.9000244140625,"y":509.2000150680542,"wires":[]},{"id":"dd6c62d6.d9046","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":560,"wires":[["9f95e54a.511ad8"]]},{"id":"9f95e54a.511ad8","type":"change","z":"30cfc8ac.884918","name":"? global.apptoken","rules":[{"t":"set","p":"payload","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":414.90001678466797,"y":558.1999683380127,"wires":[["c02041fe.3ab93"]]},{"id":"c02041fe.3ab93","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":778.9000244140625,"y":555.1999683380127,"wires":[]},{"id":"65a12a93.81ea44","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"false","x":829.1000747680664,"y":103.40001010894775,"wires":[]},{"id":"7a856884.a70c38","type":"change","z":"2119b734.ae4bc8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\" : \"application/x-www-form-urlencoded\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":279.00008392333984,"y":448.8000135421753,"wires":[["e75e377d.04b9f8"]]},{"id":"56f73d7e.3bbaa4","type":"debug","z":"2119b734.ae4bc8","name":"","active":true,"console":"false","complete":"false","x":840.0000267028809,"y":444.8000135421753,"wires":[]},{"id":"79f94f2f.4ca76","type":"inject","z":"30cfc8ac.884918","name":"Persona","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/tips/GetPersonaList","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":740,"wires":[["804cb170.ea293"]]},{"id":"56d6e1eb.85ecd","type":"http request","z":"30cfc8ac.884918","name":"","method":"GET","ret":"obj","url":"","tls":"","x":610,"y":860,"wires":[["7e21fe02.74fad","451d3612.61b278"]]},{"id":"804cb170.ea293","type":"change","z":"30cfc8ac.884918","name":"apptoken","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":358.99999618530273,"y":735.0000200271606,"wires":[["1e12e99a.e8e0e6"]]},{"id":"511bdfb1.896a3","type":"inject","z":"30cfc8ac.884918","name":"AccountTypes","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountTypeList","payloadType":"str","repeat":"","crontab":"","once":false,"x":110.99999618530273,"y":695.0001544952393,"wires":[["c1737576.b2bff8"]]},{"id":"1e12e99a.e8e0e6","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":535.000057220459,"y":735.0001306533813,"wires":[["47eb3152.a042a"]]},{"id":"79ab912a.8cf6d","type":"inject","z":"30cfc8ac.884918","name":"Products","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/product/GetProductList","payloadType":"str","repeat":"","crontab":"","once":false,"x":100.99999237060547,"y":782.9999237060547,"wires":[["804cb170.ea293"]]},{"id":"5b476c01.585bf4","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":810,"wires":[["56d6e1eb.85ecd"]]},{"id":"47eb3152.a042a","type":"function","z":"30cfc8ac.884918","name":"first 25","func":"if(msg.hasOwnProperty(\"topic\")){\n    msg.url += \"?pageNum=0&pageSize=25&\" + msg.topic;\n}\nelse\n{\n    msg.url += \"?pageNum=0&pageSize=25\";\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":688.000057220459,"y":733.9999346733093,"wires":[["5b476c01.585bf4"]]},{"id":"c1737576.b2bff8","type":"change","z":"30cfc8ac.884918","name":"usertoken","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":358.99999618530273,"y":694.9999580383301,"wires":[["1e12e99a.e8e0e6"]]},{"id":"7e21fe02.74fad","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":769.0000114440918,"y":861.5999755859375,"wires":[]},{"id":"234074b6.1a6e0c","type":"inject","z":"30cfc8ac.884918","name":"Airports","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/Country/GetAirportList","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.09999656677246,"y":827.8000230789185,"wires":[["804cb170.ea293"]]},{"id":"451d3612.61b278","type":"template","z":"30cfc8ac.884918","name":"ListOfObjects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\nTotal available{{TotalRecord}}<br>\n{{#ListOfObjects}}\n    <br>{{ID}}{{Code}} - {{{Name}}} -- {{{Description}}}\n{{/ListOfObjects}}\n{{/payload}}","output":"str","x":620,"y":920,"wires":[["d6df1307.d77ea","2724a48.3b55c5c"]]},{"id":"d6df1307.d77ea","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":790,"y":920,"wires":[]},{"id":"217556a7.5284ca","type":"inject","z":"30cfc8ac.884918","name":"Branches","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/location/branchs","payloadType":"str","repeat":"","crontab":"","once":false,"x":100.99999046325684,"y":870.0000247955322,"wires":[["804cb170.ea293"]]},{"id":"8c09bc85.f41cb","type":"inject","z":"30cfc8ac.884918","name":"Category","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/cashflow/GetCategoryList","payloadType":"str","repeat":"","crontab":"","once":false,"x":100.99999046325684,"y":915.0000257492065,"wires":[["804cb170.ea293"]]},{"id":"eb35c0de.7bfc7","type":"inject","z":"30cfc8ac.884918","name":"Country","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/country/GetCountryList","payloadType":"str","repeat":"","crontab":"","once":false,"x":91.99999046325684,"y":960.0000267028809,"wires":[["804cb170.ea293"]]},{"id":"bdfb2f23.4b642","type":"inject","z":"30cfc8ac.884918","name":"Currency","topic":"isTopCurrency=true","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/currency/GetCurrencyList","payloadType":"str","repeat":"","crontab":"","once":false,"x":100.9999885559082,"y":1008.4000244140625,"wires":[["804cb170.ea293"]]},{"id":"96cb19c7.6cc2f8","type":"http in","z":"7900671d.eafd08","name":"","url":"/accounts","method":"get","upload":false,"swaggerDoc":"","x":126,"y":238.00000953674316,"wires":[["2846aa14.2dd7b6"]]},{"id":"2846aa14.2dd7b6","type":"change","z":"7900671d.eafd08","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":258.00003814697266,"y":291.0000104904175,"wires":[["a287bbdd.3b7728"]]},{"id":"a287bbdd.3b7728","type":"http request","z":"7900671d.eafd08","name":"GetAccountList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetAccountList?pageNum=0&pageSize=0","tls":"","x":453.00006103515625,"y":290.00002002716064,"wires":[["e854e697.82e378","fb76b076.5dd55"]]},{"id":"e854e697.82e378","type":"template","z":"7900671d.eafd08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<table>\n    <tr>\n        <th>Name</th>\n        <th>Description</th>\n        <th>Balance</th>\n    </tr>\n{{#ListOfObjects}}\n<tr>\n    <td><a href=\"/accounts/{{AccountNumber}}/detail\">{{AccountNumber}}</a></td>\n    <td>{{AccountType}}</td>\n    <td>{{CurrentBalance}}</td>\n</tr>\n{{/ListOfObjects}}\n</table>\n{{/payload}}","output":"str","x":622.0000267028809,"y":239.0000114440918,"wires":[["b979dad8.82af18"]]},{"id":"b979dad8.82af18","type":"http response","z":"7900671d.eafd08","name":"","statusCode":"","headers":{},"x":751.0000228881836,"y":238.000018119812,"wires":[]},{"id":"84fd31dc.e3c8c","type":"debug","z":"7900671d.eafd08","name":"","active":true,"console":"false","complete":"false","x":777.1001205444336,"y":126.20000457763672,"wires":[]},{"id":"4fb777b1.722eb8","type":"debug","z":"7900671d.eafd08","name":"","active":true,"console":"false","complete":"false","x":771.1000289916992,"y":416.800012588501,"wires":[]},{"id":"fb76b076.5dd55","type":"debug","z":"7900671d.eafd08","name":"","active":true,"console":"false","complete":"false","x":770.0000228881836,"y":291.00002002716064,"wires":[]},{"id":"80b34e5d.627c5","type":"inject","z":"30cfc8ac.884918","name":"ApplicableTips","topic":"","payload":"https://api.risemarketplace.net/rise/v1.0.0/api/tips/GetApplicableTipList","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.99999618530273,"y":1053.6000423431396,"wires":[["b15153e1.bfbc6"]]},{"id":"b15153e1.bfbc6","type":"change","z":"30cfc8ac.884918","name":"usertoken","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":324.99999618530273,"y":1053.6000537872314,"wires":[["abf7a715.19e2c8"]]},{"id":"abf7a715.19e2c8","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":810,"wires":[["5b476c01.585bf4"]]},{"id":"ee1f2bfc.25b4d8","type":"http request","z":"d223ccb6.c890c","name":"AddValue","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/AddValue","tls":"","x":414.10018157958984,"y":882.3999767303467,"wires":[["ce2785c.f34cf78","e2f4caf6.63bb58"]]},{"id":"ce2785c.f34cf78","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":788.1001892089844,"y":879.600040435791,"wires":[]},{"id":"c5795eff.041e2","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":226.00014877319336,"y":882.9999771118164,"wires":[["ee1f2bfc.25b4d8"]]},{"id":"22209d08.985062","type":"inject","z":"d223ccb6.c890c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138.00000381469727,"y":1689.9999732971191,"wires":[["e6e6e507.e7d958"]]},{"id":"e6e6e507.e7d958","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n   \"WalletCode\": \"5698734942850665332\",\n   \"WalletName\": \"HHHH\",\n   \"TopUpFrequency\": \"yearly\",\n   \"Status\": \"Current\",\n   \"SubCategory\": \"FundTransfers\",\n   \"TopUpAmount\": \"10000\"\n}","output":"str","x":318.00002670288086,"y":1688.5999670028687,"wires":[["1c23e26e.f13dee"]]},{"id":"3842d7d.e757728","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":240.9000129699707,"y":1746.1999759674072,"wires":[["d3f73d6f.2d76a"]]},{"id":"d3f73d6f.2d76a","type":"http request","z":"d223ccb6.c890c","name":"UpdateWallet","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/UpdateWallet","tls":"","x":444.00006103515625,"y":1745.6000003814697,"wires":[["a4d7e1b6.67126"]]},{"id":"a4d7e1b6.67126","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790.0000534057617,"y":1743.8000240325928,"wires":[]},{"id":"8e5776fd.21c018","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/delete","method":"get","upload":false,"swaggerDoc":"","x":130,"y":510,"wires":[["b20cd6f6.ac5e58"]]},{"id":"b20cd6f6.ac5e58","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":214.90015411376953,"y":563.8000564575195,"wires":[["8c028fc7.c8bc9"]]},{"id":"8c028fc7.c8bc9","type":"http request","z":"d223ccb6.c890c","name":"DeleteWallet","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/DeleteWallet?walletCode={{req.params.id}}","tls":"","x":419.900089263916,"y":564.8000087738037,"wires":[["ed697a2c.796238","f00116af.a54e58"]]},{"id":"ed697a2c.796238","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" Wallet deleted : {{payload.DataObject.WalletCode}} !","output":"str","x":628.0000610351562,"y":510.99998140335083,"wires":[["da6b1853.c19c68"]]},{"id":"f00116af.a54e58","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":782.0001983642578,"y":563.2000570297241,"wires":[]},{"id":"da6b1853.c19c68","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":781.0000991821289,"y":511.2000494003296,"wires":[]},{"id":"384ec34.d3b8d3c","type":"inject","z":"d223ccb6.c890c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.00000476837158,"y":1579.3998737335205,"wires":[["e42755ca.f96638"]]},{"id":"e42755ca.f96638","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n   \"AccountNumber\": \"9019a6da-1008-4bac-a90d-c956c744fad6\",\n   \"OpeningBalance\": \"50000\"\n}","output":"str","x":321.0000104904175,"y":1578.9998898506165,"wires":[["ae8e0be0.dcf518"]]},{"id":"a5e25681.60ca38","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":235.90002727508545,"y":1639.5998888015747,"wires":[["8a124f7b.dba09"]]},{"id":"8a124f7b.dba09","type":"http request","z":"d223ccb6.c890c","name":"UpdateAccount","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/UpdateAccount","tls":"","x":462.00006580352783,"y":1638.999900817871,"wires":[["ed05afd7.32b09"]]},{"id":"ed05afd7.32b09","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":804.0000772476196,"y":1635.1999015808105,"wires":[]},{"id":"1c23e26e.f13dee","type":"json","z":"d223ccb6.c890c","name":"","pretty":false,"x":480.10001373291016,"y":1686.799949645996,"wires":[["3842d7d.e757728"]]},{"id":"ae8e0be0.dcf518","type":"json","z":"d223ccb6.c890c","name":"","pretty":false,"x":488.0000123977661,"y":1579.399899482727,"wires":[["a5e25681.60ca38"]]},{"id":"be38efcb.a701a","type":"template","z":"43761947.be1e48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n            </style>\n            <script type=\"text/javascript\">\n\t\t\t$(document).ready(function() {\n                $('a.ia_lnk').click(function() {\n                   var url = $(this).attr('href');\n                    $('#content').load(url);\n                    return false;\n                  });\n            });\n            </script>\n            \n            <script>\nfunction myFunction(input,field) {\n  // Declare variables\n  var input, filter, table, tr, td, i;\n  input = document.getElementById(input);\n  filter = input.value.toUpperCase();\n // alert(filter);\n  table = document.getElementById(\"myTable\");\n  tr = table.getElementsByTagName(\"tr\");\n\n  // Loop through all table rows, and hide those who don't match the search query\n  for (i = 0; i < tr.length; i++) {\n    td = tr[i].getElementsByTagName(\"td\")[field];\n    if (td) {\n      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {\n        tr[i].style.display = \"\";\n      } else {\n        tr[i].style.display = \"none\";\n      }\n    }\n  }\n}\n</script>\n\n\n        </head>\n        <body>\n                <div class=\"center\">\n                        <h2>Available Financial Instruments</h2>\n                    </div>\n<input type=\"text\" id=\"myNames\" onkeyup=\"myFunction('myNames',0)\" placeholder=\"Search for names..\">\n<select id=\"mySector\" onchange=\"myFunction('mySector',1)\">\n    {{#sectors}}\n    <option  value=\"{{SECTOR}}\">{{SECTOR}}</option>\n    {{/sectors}}\n</select>\n\n<div class=\"bx--responsive-table-container\" data-responsive-table>\n        <table id=\"myTable\" class=\"bx--responsive-table bx--responsive-table--static-size\" data-table>\n          <thead class=\"bx--table-head\">\n            <tr class=\"bx--table-row\">\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Name</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Sector</span>\n              </th>\n           </tr>\n          </thead>\n          <tbody class=\"bx--table-body\">\n            {{#payload}}\n            <tr tabindex=\"0\" class=\"bx--table-row bx--parent-row\" data-parent-row>\n              <td><a class=ia_lnk href=\"/instruments/{{ID}}/detail\">{{NAME}}</a></td>\n              <td>{{SECTOR}}</td>\n            </tr>\n            {{/payload}}\n          </tbody>\n        </table>\n      </div>\n      \n        </body>\n    </html>\n","output":"str","x":602.0000095367432,"y":249.00000381469727,"wires":[["4269f7ee.767b18"]]},{"id":"daade12f.9bad9","type":"http in","z":"43761947.be1e48","name":"","url":"/instruments/:id/detail","method":"get","upload":false,"swaggerDoc":"","x":142.00006484985352,"y":341.000018119812,"wires":[["de408cad.489a5"]]},{"id":"764250fc.b205e","type":"change","z":"30cfc8ac.884918","name":"","rules":[{"t":"set","p":"portpool","pt":"global","to":"99999","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":405.0000228881836,"y":144,"wires":[["e9228dd4.ccc7f"]]},{"id":"e9228dd4.ccc7f","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":776.000072479248,"y":141.00000381469727,"wires":[]},{"id":"b3768ea7.6366c","type":"inject","z":"30cfc8ac.884918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.10002899169922,"y":145.80000400543213,"wires":[["764250fc.b205e"]]},{"id":"eceb748a.a8a628","type":"http in","z":"b2178db7.c65c7","name":"","url":"/products/:code/detail","method":"get","upload":false,"swaggerDoc":"","x":140,"y":250,"wires":[["ec4799c9.e9db78"]]},{"id":"ec4799c9.e9db78","type":"function","z":"b2178db7.c65c7","name":"","func":"msg.payload = \"productCode=\"+msg.req.params.code;\nreturn msg;","outputs":1,"noerr":0,"x":347.00000190734863,"y":251.00000858306885,"wires":[["6d22fe06.9877f"]]},{"id":"581068f4.cf7108","type":"function","z":"b2178db7.c65c7","name":"","func":"msg.req = {\"params\": {\"code\": \"P00030\"}};\nreturn msg;","outputs":1,"noerr":0,"x":251.9999542236328,"y":202.99996376037598,"wires":[["ec4799c9.e9db78"]]},{"id":"6d22fe06.9877f","type":"change","z":"b2178db7.c65c7","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"apptoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":289.00001525878906,"y":303.99998664855957,"wires":[["20e7d8fe.895598"]]},{"id":"1145a7d3.a13d38","type":"inject","z":"b2178db7.c65c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.99995422363281,"y":202.99996376037598,"wires":[["581068f4.cf7108"]]},{"id":"20e7d8fe.895598","type":"http request","z":"b2178db7.c65c7","name":"GetProductInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/product/GetProductInfo?{{{payload}}}","tls":"","x":484,"y":302.9999885559082,"wires":[["55cd05ec.6e8aac","721d3db.755bcc4"]]},{"id":"55cd05ec.6e8aac","type":"debug","z":"b2178db7.c65c7","name":"","active":true,"console":"false","complete":"true","x":786.1000747680664,"y":302.40002632141113,"wires":[]},{"id":"721d3db.755bcc4","type":"template","z":"b2178db7.c65c7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n            </style>\n    <script type=\"text/javascript\">\n\n\t$(document).ready(function() {\n\t\t$('a.ia_lnk').click(function() {\n\t\tvar url = $(this).attr('href');\n                $('#content').load(url);\n                return false;\n\t\t});\n\t});\n    </script>\n        </head>\n        <body>\n\n\n<div class=\"center\">\n        <h2>Product details for {{req.params.code}}</h2>\n    </div>\n{{#payload.DataObject}}\n{{Name}}\n\n<div class=\"bx--responsive-table-container\" data-responsive-table>\n        <table class=\"bx--responsive-table\" data-table>\n          <thead class=\"bx--table-head\">\n            <tr class=\"bx--table-row\">\n              <th class=\"bx--table-header\"></th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Product Variants</span>\n              </th>\n            </tr>\n          </thead>\n          <tbody class=\"bx--table-body\">\n                {{#ProductVariants}}\n                <tr tabindex=\"0\" class=\"bx--table-row bx--parent-row\" data-parent-row>\n                        <td tabindex=\"0\" class=\"bx--table-expand\" data-event=\"expand\">\n                          <svg class=\"bx--table-expand__svg\" width=\"8\" height=\"12\" viewBox=\"0 0 8 12\" fill-rule=\"evenodd\">\n                            <path d=\"M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z\"></path>\n                          </svg>\n                        </td>\n                        <td>{{Code}} -- {{Name}}</td>\n                      </tr>\n                      <tr class=\"bx--table-row bx--expandable-row bx--expandable-row--hidden\">\n                        <td colspan=\"6\">\n                          <table class=\"bx--responsive-table bx--responsive-table--static-size\">\n                            <thead>\n                              <tr class=\"bx--table-row\">\n                                <th class=\"bx--table-header\">Code</th>\n                                <th class=\"bx--table-header\">Name</th>\n                                <th class=\"bx--table-header\">Mapped to</th>\n                              </tr>\n                            </thead>\n                            <tbody>\n                                    {{#ProductVariantAttributes}}\n                              <tr>\n                                    \n                                    <td>{{Code}}</td>\n                                    <td>{{Name}}</td>\n                                    <td>{{MappedTo}}</td>\n                                \n                              </tr>\n                              {{/ProductVariantAttributes}}\n                            </tbody>\n                          </table>\n                        </td>\n                      </tr>\n                      {{/ProductVariants}}\n          </tbody>\n        </table>\n      </div>\n{{/payload.DataObject}}\n<br>\n<a class=\"ia_lnk\" href=\"/products\">Back to Products</a>\n     \n</body>\n</html>\n","output":"str","x":642.0000228881836,"y":255.00000381469727,"wires":[["2c5d1eea.642342"]]},{"id":"2c5d1eea.642342","type":"http response","z":"b2178db7.c65c7","name":"","statusCode":"","headers":{},"x":784.0000267028809,"y":254.00002574920654,"wires":[]},{"id":"255443f9.240eac","type":"template","z":"b2178db7.c65c7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n            </style>\n            <script type=\"text/javascript\">\n\t\t\t$(document).ready(function() {\n                $('a.ia_lnk').click(function() {\n                   var url = $(this).attr('href');\n                    $('#content').load(url);\n                    return false;\n                  });\n            });\n            </script>\n\n        </head>\n        <body>\n                <div class=\"center\">\n                        <h2>Barclays Product list</h2>\n                    </div>\n\n<div class=\"bx--responsive-table-container\" data-responsive-table>\n        <table class=\"bx--responsive-table bx--responsive-table--static-size\" data-table>\n          <thead class=\"bx--table-head\">\n            <tr class=\"bx--table-row\">\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Code</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Name</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                <span>Template</span>\n              </th>\n              <th tabindex=\"0\" class=\"bx--table-header bx--table-sort\" data-event=\"sort\">\n                    <span>Provider</span>\n                  </th>\n            </tr>\n          </thead>\n          <tbody class=\"bx--table-body\">\n                {{#payload}}\n                {{#ListOfObjects}}\n            <tr tabindex=\"0\" class=\"bx--table-row bx--parent-row\" data-parent-row>\n              <td>{{Code}}</td>\n              <td><a class=\"ia_nav_lnk\" href=/products/{{Code}}/detail>{{Name}}</a></td>\n              <td>{{ProductTemplate}}</td>\n              <td>{{ProductProvider}}</td>\n            </tr>\n            {{/ListOfObjects}}\n            {{/payload}}\n          </tbody>\n        </table>\n      </div>\n      \n        </body>\n    </html>\n","output":"str","x":632.0000190734863,"y":67.00000667572021,"wires":[["b635f84b.8dbbd8"]]},{"id":"d272d555.ac3298","type":"change","z":"43761947.be1e48","name":"save payload","rules":[{"t":"set","p":"result","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620.1001091003418,"y":120.99999904632568,"wires":[["f4b1854d.fc1758"]]},{"id":"f4b1854d.fc1758","type":"template","z":"43761947.be1e48","name":"SECTORS","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT distinct(SECTOR) from INSTRUMENTS\nORDER by 1 ASC","output":"str","x":229.00002670288086,"y":184.00001335144043,"wires":[["38c5f7a0.b42878"]]},{"id":"38c5f7a0.b42878","type":"dashDB in","z":"43761947.be1e48","dashDB":"","service":"Db2 Warehouse on Cloud-ip","query":"","params":"","name":"","x":429.00002670288086,"y":182.00001335144043,"wires":[["9371370e.f3f568"]]},{"id":"9371370e.f3f568","type":"change","z":"43761947.be1e48","name":"","rules":[{"t":"set","p":"sectors","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":626.1001091003418,"y":181.00002479553223,"wires":[["296170b6.f2c6b"]]},{"id":"296170b6.f2c6b","type":"change","z":"43761947.be1e48","name":"unsave payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"},{"t":"delete","p":"result","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":421.00001525878906,"y":249.00002765655518,"wires":[["be38efcb.a701a","8f428d1f.15ca7"]]},{"id":"8f428d1f.15ca7","type":"debug","z":"43761947.be1e48","name":"","active":true,"console":"false","complete":"true","x":604.1001091003418,"y":302.600004196167,"wires":[]},{"id":"6cbe8676.b36ba8","type":"inject","z":"d223ccb6.c890c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.00006103515625,"y":1133.800142288208,"wires":[["5251642.cb14a9c"]]},{"id":"e865a0fa.f41bc","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#req.params}}\n{\n   \"WalletCode\": \"{{id}}\",\n   \"Amount\": {{quantity}},\n   \"Date\": \"{{{date}}}\",\n   \"Reason\" : \"{{reason}}\",\n   \"SubCategoryCode\": \"{{subcat}}\"\n}\n{{/req.params}}","output":"json","x":621.0001106262207,"y":1131.400032043457,"wires":[["57bc55dd.041bdc","cec59deb.e0f96"]]},{"id":"cec59deb.e0f96","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230.90009689331055,"y":1187.9999952316284,"wires":[["9221089a.0b76e8"]]},{"id":"9221089a.0b76e8","type":"http request","z":"d223ccb6.c890c","name":"UseValue","method":"POST","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/UseValue","tls":"","x":423.0001106262207,"y":1187.3999948501587,"wires":[["27e46d78.5c0842","48b1b36.563144c"]]},{"id":"27e46d78.5c0842","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":790.0001258850098,"y":1182.6000423431396,"wires":[]},{"id":"c38612e3.00d71","type":"http request","z":"d223ccb6.c890c","name":"GetWalletInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletInfo?walletCode={{{req.params.id}}}","tls":"","x":439.0000877380371,"y":1248.2000455856323,"wires":[["ce18f790.bf74c8","b6772b24.ddb2f8"]]},{"id":"5251642.cb14a9c","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"id\":\"5322220227526912980\",\"amount\":5,\"reason\":\"grins\",\"subcat\":\"BankFees\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":257.1000556945801,"y":1133.4000453948975,"wires":[["f12b66bc.1c8c18"]]},{"id":"ce18f790.bf74c8","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":631.1001663208008,"y":1209.400058746338,"wires":[]},{"id":"48b1b36.563144c","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230.00007247924805,"y":1250.600046157837,"wires":[["c38612e3.00d71"]]},{"id":"57bc55dd.041bdc","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":809.1001625061035,"y":1131.400032043457,"wires":[]},{"id":"5cfb78a9.656d68","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/byname/:name/spend/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":239.00006103515625,"y":1032.0001258850098,"wires":[["8977b07d.81803"]]},{"id":"119015b4.bed7ca","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790.100170135498,"y":1245.4000606536865,"wires":[]},{"id":"4c7b6a8c.056ae4","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/byname/:name/add/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":237.0000457763672,"y":727.9999847412109,"wires":[["39faa8d6.eb53f8"]]},{"id":"513a88b3.e68d88","type":"http request","z":"d223ccb6.c890c","name":"GetWalletInfo","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletInfo?walletCode={{{req.params.id}}}","tls":"","x":431.00010681152344,"y":940.2000398635864,"wires":[["ba7b79b1.dbe0e8","23a3ffd8.f3b98"]]},{"id":"ba7b79b1.dbe0e8","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":620.1001853942871,"y":903.3999443054199,"wires":[]},{"id":"e2f4caf6.63bb58","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":227.0000762939453,"y":940.6000890731812,"wires":[["513a88b3.e68d88"]]},{"id":"6f769692.255148","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":790.1001892089844,"y":940.3999452590942,"wires":[]},{"id":"6b965a9c.99f794","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"id\":\"5322220227526912980\",\"amount\":5000,\"reason\":\"topup\",\"subcat\":\"FundsTransfers\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":271.1000671386719,"y":826.2000360488892,"wires":[["754793e5.32c59c"]]},{"id":"bcad93c9.45fa5","type":"inject","z":"d223ccb6.c890c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110.00006866455078,"y":826.6001329421997,"wires":[["6b965a9c.99f794"]]},{"id":"754793e5.32c59c","type":"function","z":"d223ccb6.c890c","name":"add date","func":"msg.req.params.date = global.get(\"SYSDATE\");\nreturn msg;","outputs":1,"noerr":0,"x":467.0000801086426,"y":827.2000370025635,"wires":[["b159b690.5002d8"]]},{"id":"b159b690.5002d8","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#req.params}}\n{\n   \"WalletCode\": \"{{id}}\",\n   \"Amount\": {{quantity}},\n   \"Date\": \"{{{date}}}\",\n   \"Reason\" : \"{{reason}}\",\n   \"SubCategoryCode\": \"{{subcat}}\"\n}\n{{/req.params}}","output":"json","x":634.0000686645508,"y":827.2000188827515,"wires":[["c5795eff.041e2","6aa47d40.8640e4"]]},{"id":"6aa47d40.8640e4","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":808.1001052856445,"y":826.8000249862671,"wires":[]},{"id":"f12b66bc.1c8c18","type":"function","z":"d223ccb6.c890c","name":"add date","func":"msg.req.params.date = global.get(\"SYSDATE\");\nreturn msg;","outputs":1,"noerr":0,"x":459.0000801086426,"y":1133.2000312805176,"wires":[["e865a0fa.f41bc"]]},{"id":"80064827.fff618","type":"comment","z":"d223ccb6.c890c","name":"Add funds to wallet","info":"","x":120.10005187988281,"y":631.8000793457031,"wires":[]},{"id":"204f18cd.ef83d8","type":"comment","z":"d223ccb6.c890c","name":"Spend from wallet","info":"","x":107.00003814697266,"y":993.5999698638916,"wires":[]},{"id":"2ccffea.62b4402","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings/:port/add/:instrumentId","method":"post","upload":false,"swaggerDoc":"","x":202,"y":241.00003242492676,"wires":[["1e6a595b.f10e97","455bdcc5.1612f4"]]},{"id":"d6efa189.edb92","type":"http response","z":"b6610c80.aa47c","name":"","statusCode":"","headers":{},"x":800,"y":380,"wires":[]},{"id":"1e6a595b.f10e97","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":800,"y":240,"wires":[]},{"id":"fac15791.252848","type":"http request","z":"b6610c80.aa47c","name":"update /api/v1/portfolios/:port/holdings","method":"PUT","ret":"txt","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings/{{req.params.timestamp}}","tls":"","x":510,"y":340,"wires":[["d6efa189.edb92","6afc9cdf.010ca4"]]},{"id":"6afc9cdf.010ca4","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":800,"y":340,"wires":[]},{"id":"6802b045.a92da","type":"function","z":"b6610c80.aa47c","name":"Inject new holding","func":"var holdings = msg.payload.holdings[0];\nvar current = msg.payload.holdings[0].holdings;\ncurrent.push(msg.newholding);\n\nmsg.req.params.timestamp = holdings.timestamp;\n\nmsg.payload = {\n    \"_rev\": holdings._rev,\n    \"holdings\" : current\n}\n\n//var portpool = global.get(\"portpool\");\n//portpool -= msg.newholding.quantity;\n//global.set(\"portpool\",portpool);\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":340,"wires":[["fac15791.252848","6217b10.c17c15"]]},{"id":"7fa3837a.b07a6c","type":"http request","z":"b6610c80.aa47c","name":"current /api/v1/portfolios/:port/holdings","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings","tls":"","x":520,"y":290,"wires":[["6802b045.a92da","b1b247c.f4b7ab8"]]},{"id":"455bdcc5.1612f4","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"newholding","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":290,"wires":[["7fa3837a.b07a6c"]]},{"id":"b1b247c.f4b7ab8","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":800,"y":290,"wires":[]},{"id":"77fc1dbb.d1af44","type":"http request","z":"b6610c80.aa47c","name":"/api/v1/portfolios/:port/holdings","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings","tls":"","x":480,"y":90,"wires":[["26326940.908146","7e378795.9ada58"]]},{"id":"26326940.908146","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"false","x":820,"y":40,"wires":[]},{"id":"250353a4.8667dc","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings/:port","method":"get","upload":false,"swaggerDoc":"","x":147.60000610351562,"y":92.59997463226318,"wires":[["77fc1dbb.d1af44"]]},{"id":"112f3bda.cde8a4","type":"inject","z":"b6610c80.aa47c","name":"ports/holds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.00000762939453,"y":46.599998474121094,"wires":[["9c4bc25d.e7403"]]},{"id":"9c4bc25d.e7403","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":297.1000061035156,"y":47.000000953674316,"wires":[["77fc1dbb.d1af44"]]},{"id":"7e378795.9ada58","type":"template","z":"b6610c80.aa47c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Holdings in {{req.params.port}}</h2>\n{{#payload}}\n<table>\n    <tr>\n        <th>Name  Instrument  Quantity</th>\n    </tr>\n    {{#holdings}}\n    <tr>\n    <td>\n        <table>\n        {{#holdings}}\n        <tr><td>{{asset}}</td><td>{{instrumentId}}</td><td>{{quantity}}</td></tr>\n        {{/holdings}}\n        </table>\n    </td>\n    <td><a class=ia_lnk href=\"/holdings/{{req.params.port}}/delete/{{timestamp}}/{{_rev}}\">DELETE</a></td>\n    </tr>\n    {{/holdings}}\n</table>\n    {{/payload}}\n\n\n","output":"str","x":680,"y":90,"wires":[["e988b5c6.1b6858"]]},{"id":"e988b5c6.1b6858","type":"http response","z":"b6610c80.aa47c","name":"","statusCode":"","headers":{},"x":800,"y":90,"wires":[]},{"id":"6f5409f8.5ab038","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings","method":"get","upload":false,"swaggerDoc":"","x":128,"y":144.20001983642578,"wires":[["aa899a38.6f2148"]]},{"id":"aa899a38.6f2148","type":"function","z":"b6610c80.aa47c","name":"","func":"var port = global.get(\"portfolio\");\nmsg.req = {\"params\":{\"port\": port}};\nreturn msg;","outputs":1,"noerr":0,"x":288.10002517700195,"y":143.8000202178955,"wires":[["77fc1dbb.d1af44"]]},{"id":"549d0cd9.532984","type":"http in","z":"b6610c80.aa47c","name":"","url":"/holdings/:port/delete/:timestamp/:rev","method":"get","upload":false,"swaggerDoc":"","x":198.99999618530273,"y":535.8000020980835,"wires":[["bdb75a77.93e078"]]},{"id":"bdb75a77.93e078","type":"http request","z":"b6610c80.aa47c","name":"del /api/v1/portfolios/:port/holdings/:time?:rev","method":"DELETE","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings/{{req.params.timestamp}}?rev={{req.params.rev}}","tls":"","x":550,"y":580,"wires":[["1469836a.ed9d5d","34c35ad7.17c4b6"]]},{"id":"8c1420b3.8f1f6","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\",\"timestamp\":\"2017-09-18T19:53:56.830Z\",\"rev\":\"1-eadec149ae15ee692c39f7db62e2691f\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":580,"wires":[["bdb75a77.93e078"]]},{"id":"1469836a.ed9d5d","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":800,"y":580,"wires":[]},{"id":"34c35ad7.17c4b6","type":"http response","z":"b6610c80.aa47c","name":"","statusCode":"","headers":{},"x":800,"y":540,"wires":[]},{"id":"4c595162.d1f02","type":"inject","z":"b6610c80.aa47c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":580,"wires":[["8c1420b3.8f1f6"]]},{"id":"dcbf9138.e31ad","type":"http request","z":"b6610c80.aa47c","name":"/wallets/byname/:wallet/spend/:quantity/:reason/:subcat","method":"GET","ret":"obj","url":"{{{SYSNAME}}}/wallets/byname/{{req.params.port}}/spend/{{newholding.quantity}}/{{newholding.asset}}/BankFees","tls":"","x":260,"y":430,"wires":[["fe275131.b2177"]]},{"id":"7ad24a59.f20744","type":"inject","z":"3d41872e.6e7bd8","name":"Reset Portfolio","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":80,"wires":[["f5a79155.5f596"]]},{"id":"f5a79155.5f596","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"timestamp\":\"2017-10-10T20:53:56.830Z\",\"holdings\":[{\"asset\":\"IBM\",\"quantity\":1500,\"instrumentId\":\"CX_US4592001014_NYQ\"},{\"asset\":\"GE\",\"quantity\":5000,\"instrumentId\":\"CX_US3696041033_NYQ\"},{\"asset\":\"F\",\"quantity\":5000,\"instrumentId\":\"CX_US3453708600_NYQ\"},{\"asset\":\"BAC\",\"quantity\":1800,\"instrumentId\":\"CX_US0605051046_NYS\"}]}","tot":"json"},{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[["c262818b.c3f93"]]},{"id":"c262818b.c3f93","type":"http request","z":"3d41872e.6e7bd8","name":"new portfolios/:port/holdings","method":"POST","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/holdings","tls":"","x":590,"y":80,"wires":[["a30e334d.ff9de"]]},{"id":"a30e334d.ff9de","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"true","x":792.4000282287598,"y":80.00009727478027,"wires":[]},{"id":"b81f2bd3.247bf8","type":"http request","z":"3d41872e.6e7bd8","name":"/api/v1/portfolios?","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios?latest=false&openOnly=true","tls":"","x":346.9999885559082,"y":191.99999713897705,"wires":[["48d5d0da.bedac","c3f94711.613ab8"]]},{"id":"8d85dced.cbe33","type":"inject","z":"3d41872e.6e7bd8","name":"portfolios","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":140,"wires":[["b81f2bd3.247bf8"]]},{"id":"48d5d0da.bedac","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"false","x":553.5999946594238,"y":146.60004997253418,"wires":[]},{"id":"946c3bb0.c93ec8","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios","method":"get","upload":false,"swaggerDoc":"","x":136.9999885559082,"y":191.99999713897705,"wires":[["b81f2bd3.247bf8"]]},{"id":"dbccef27.5d7aa","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":807.0000114440918,"y":191,"wires":[]},{"id":"c3f94711.613ab8","type":"template","z":"3d41872e.6e7bd8","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <link rel=\"stylesheet\" type=\"text/css\" href=\"https://unpkg.com/carbon-components@7.23.1/css/carbon-components.min.css\">\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/scripts/carbon-components.min.js\"></script>\n            <script src=\"https://unpkg.com/carbon-components@7.23.1/umd/index.js\"></script>\n            <script\n            src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n            integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n            crossorigin=\"anonymous\"></script>\n            <style>\n                body {\n                    background: #f5f7fa;\n                }\n            .center {\n                text-align: center;\n            }\n\n            .bx--dropdown {\n                width: 80%;\n                margin: 0 auto 0 auto;\n            }\n            </style>\n        </head>\n        <body>\n            <div class=\"center\">\n                <h3>Current portfolio: {{global.portfolio}} - {{global.portstamp}}</h3>\n            </div>\n    <script type=\"text/javascript\">\n        function onSubmitForm (name, timestamp) {\n            $.ajax({\n                type: \"POST\",\n                url: \"/portfolios/\" + name + \"/current\",\n                data: {\n                    \"portfolio\" : name,\n                    \"timestamp\" : timestamp\n                },\n                success: location.reload(),\n                dataType: \"text\"\n            });\n        }\n    </script>\n    {{#payload}}\n    <ul data-dropdown data-value class=\"bx--dropdown\" tabindex=\"0\">\n      <li class=\"bx--dropdown-text\">Select a portfolio</li>\n      <svg class=\"bx--dropdown__arrow\" width=\"10\" height=\"5\" viewBox=\"0 0 10 5\" fill-rule=\"evenodd\">\n        <path d=\"M10 0L5 5 0 0z\"></path>\n      </svg>\n      <li>\n        <ul class=\"bx--dropdown-list\">\n        {{#portfolios}}\n          <li data-option data-value=\"{{name}}|{{timestamp}}\" class=\"bx--dropdown-item\"><a class=\"bx--dropdown-link\" href=\"javascript:onSubmitForm('{{name}}','{{timestamp}}')\">{{name}}</a></li>\n          {{/portfolios}}\n        </ul>\n      </li>\n    </ul>   \n     {{/payload}}\n        </body>\n    </html>","output":"str","x":659.0000076293945,"y":192.00000095367432,"wires":[["dbccef27.5d7aa"]]},{"id":"87d17a99.62b118","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios/:port/current","method":"post","upload":false,"swaggerDoc":"","x":170,"y":290,"wires":[["43973b70.47df34","b7cf371b.1448b8"]]},{"id":"14066d1f.6a5d93","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":800,"y":340,"wires":[]},{"id":"43973b70.47df34","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"false","x":502,"y":289.9999952316284,"wires":[]},{"id":"4f6e8738.3b5158","type":"function","z":"3d41872e.6e7bd8","name":"set global","func":"var port = msg.payload.portfolio[0];\nglobal.set(\"portfolio\",port.name);\nglobal.set(\"portstamp\",port.timestamp);\nglobal.set(\"portrev\",port._rev);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["17b50ca8.c41a93"]]},{"id":"a11aca48.738fe8","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"true","x":795,"y":289.999981880188,"wires":[]},{"id":"a93e5ac9.711b58","type":"http request","z":"3d41872e.6e7bd8","name":"/api/v1/portfolios/:port","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}","tls":"","x":492.00000762939453,"y":440,"wires":[["4e252874.223328","cf143937.898bc8"]]},{"id":"4e252874.223328","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"false","x":821.9999771118164,"y":482.9999876022339,"wires":[]},{"id":"94bdfa5c.372bd8","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios/:port","method":"get","upload":false,"swaggerDoc":"","x":150,"y":440,"wires":[["a93e5ac9.711b58"]]},{"id":"cf143937.898bc8","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":802.9999771118164,"y":438.99998664855957,"wires":[]},{"id":"b7cf371b.1448b8","type":"http request","z":"3d41872e.6e7bd8","name":"/api/v1/portfolios/:port","method":"GET","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}","tls":"","x":220,"y":340,"wires":[["4f6e8738.3b5158"]]},{"id":"17b50ca8.c41a93","type":"change","z":"3d41872e.6e7bd8","name":"return","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"303","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{\"Location\" : \"/portfolios\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["14066d1f.6a5d93","a11aca48.738fe8"]]},{"id":"b31b2cb4.efb3a","type":"inject","z":"3d41872e.6e7bd8","name":"ports/holds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":490,"wires":[["f6c3ed2f.d03a1"]]},{"id":"f6c3ed2f.d03a1","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"P1\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":490,"wires":[["a93e5ac9.711b58"]]},{"id":"57f7adb1.d81f34","type":"inject","z":"3d41872e.6e7bd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":640,"wires":[["6bdc5e94.7c253"]]},{"id":"5321d9ef.3da4a8","type":"http request","z":"3d41872e.6e7bd8","name":"del /api/v1/portfolios/:port/:time?:rev","method":"DELETE","ret":"obj","url":"https://investment-portfolio.mybluemix.net/api/v1/portfolios/{{req.params.port}}/{{req.params.timestamp}}?rev={{req.params.rev}}","tls":"","x":560,"y":640,"wires":[["ed5935c9.887d38","f5a8a2e3.1e527"]]},{"id":"6bdc5e94.7c253","type":"change","z":"3d41872e.6e7bd8","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"{\"params\":{\"port\":\"T3\",\"timestamp\":\"2017-09-25T07:53:56.830Z\",\"rev\":\"1-e8b393aa3ae4fd94e1776dda8837a7a3\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["5321d9ef.3da4a8"]]},{"id":"ed5935c9.887d38","type":"debug","z":"3d41872e.6e7bd8","name":"","active":true,"console":"false","complete":"true","x":800,"y":590,"wires":[]},{"id":"566619d6.c11918","type":"http in","z":"3d41872e.6e7bd8","name":"","url":"/portfolios/:port/delete/:timestamp/:rev","method":"get","upload":false,"swaggerDoc":"","x":220,"y":590,"wires":[["5321d9ef.3da4a8"]]},{"id":"f5a8a2e3.1e527","type":"http response","z":"3d41872e.6e7bd8","name":"","statusCode":"","headers":{},"x":800,"y":640,"wires":[]},{"id":"fda25055.99592","type":"http request","z":"d223ccb6.c890c","name":"WalletsCodeByName","method":"GET","ret":"obj","url":"{{{SYSNAME}}}/wallets/codebyname/{{req.params.name}}","tls":"","x":581.100212097168,"y":1075.4000415802002,"wires":[["69b8715d.23f5f"]]},{"id":"b694ee06.cb319","type":"function","z":"30cfc8ac.884918","name":"set global.SYSDATE","func":"var d = new Date();\nvar n = d.toISOString().split('T')[0].split('-');\nmsg.payload = n[2]+\"/\"+n[1]+\"/\"+n[0];\nglobal.set(\"SYSDATE\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":404.10011291503906,"y":104.60000896453857,"wires":[["d73c8233.dce9f"]]},{"id":"7ea374aa.c32b7c","type":"inject","z":"30cfc8ac.884918","name":"Date","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":102.10002136230469,"y":104.79999923706055,"wires":[["b694ee06.cb319"]]},{"id":"d73c8233.dce9f","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"false","x":774.1001167297363,"y":102.60000228881836,"wires":[]},{"id":"229f112d.22262e","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/codebyname/:name","method":"get","upload":false,"swaggerDoc":"","x":153.00001907348633,"y":1346.7998189926147,"wires":[["73f5670d.d7efa8"]]},{"id":"942c441.25778b8","type":"http request","z":"d223ccb6.c890c","name":"GetWalletList","method":"GET","ret":"obj","url":"https://api.risemarketplace.net/rise/v1.0.0/api/wallet/GetWalletList?pageSize=0&pageNum=0","tls":"","x":445.90003967285156,"y":1397.2000160217285,"wires":[["c29146b7.d89378","4683aa4b.00e8e4"]]},{"id":"73f5670d.d7efa8","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"usertoken","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":246.90002822875977,"y":1398.199875831604,"wires":[["942c441.25778b8"]]},{"id":"6bacf077.69842","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":789.9001426696777,"y":1349.1998739242554,"wires":[]},{"id":"c29146b7.d89378","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"true","x":585.0000915527344,"y":1348.7997779846191,"wires":[]},{"id":"5dae550b.7f58ac","type":"split","z":"d223ccb6.c890c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":443.10008239746094,"y":1449.399878501892,"wires":[["d486b7e1.5bd5e8"]]},{"id":"4683aa4b.00e8e4","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ListOfObjects","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":244.10012435913086,"y":1449.3998460769653,"wires":[["5dae550b.7f58ac"]]},{"id":"d486b7e1.5bd5e8","type":"function","z":"d223ccb6.c890c","name":"","func":"if (msg.payload.Name == msg.req.params.name) {\n    msg.payload = {\"WalletCode\":msg.payload.WalletCode};\nreturn msg;\n}","outputs":1,"noerr":0,"x":615.1001319885254,"y":1448.399878501892,"wires":[["6bacf077.69842","4a00c42e.8737dc"]]},{"id":"4a00c42e.8737dc","type":"debug","z":"d223ccb6.c890c","name":"","active":true,"console":"false","complete":"false","x":799.1000938415527,"y":1448.0000739097595,"wires":[]},{"id":"1deefeb0.b028d1","type":"link in","z":"2119b734.ae4bc8","name":"","links":["bed3d22e.15964"],"x":313.1000061035156,"y":313.8000183105469,"wires":[["2f8d1351.45523c"]]},{"id":"185048e7.427b17","type":"inject","z":"30cfc8ac.884918","name":"Login refresh","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115.10003662109375,"y":278.800030708313,"wires":[["bed3d22e.15964"]]},{"id":"bed3d22e.15964","type":"link out","z":"30cfc8ac.884918","name":"","links":["1deefeb0.b028d1"],"x":103.10003852844238,"y":338.6000061035156,"wires":[]},{"id":"69b8715d.23f5f","type":"function","z":"d223ccb6.c890c","name":"","func":"msg.req.params.id = msg.payload.WalletCode;\nreturn msg;","outputs":1,"noerr":0,"x":774.100170135498,"y":1076.6000423431396,"wires":[["f12b66bc.1c8c18"]]},{"id":"9386b849.ab30b8","type":"http request","z":"d223ccb6.c890c","name":"WalletCodeByName","method":"GET","ret":"obj","url":"{{{SYSNAME}}}/wallets/codebyname/{{req.params.name}}","tls":"","x":568.0000686645508,"y":773.6001300811768,"wires":[["6cbce046.d44f9"]]},{"id":"6cbce046.d44f9","type":"function","z":"d223ccb6.c890c","name":"","func":"msg.req.params.id = msg.payload.WalletCode;\nreturn msg;","outputs":1,"noerr":0,"x":778.000072479248,"y":773.8000335693359,"wires":[["754793e5.32c59c"]]},{"id":"f5431d5a.5f813","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/add/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":199.00000762939453,"y":771.3999853134155,"wires":[["754793e5.32c59c"]]},{"id":"8aab18cc.0e7da8","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/spend/:quantity/:reason/:subcat/","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1075.3999671936035,"wires":[["f12b66bc.1c8c18"]]},{"id":"cc775c41.c23c2","type":"comment","z":"d223ccb6.c890c","name":"WalletCode by Name","info":"","x":121.0000114440918,"y":1307.7998180389404,"wires":[]},{"id":"23a3ffd8.f3b98","type":"function","z":"d223ccb6.c890c","name":"global.portpool","func":"global.set(\"portpool\",msg.payload.DataObject.CurrentBalance);\nreturn msg;","outputs":1,"noerr":0,"x":630.1001396179199,"y":940.3999462127686,"wires":[["6f769692.255148"]]},{"id":"b6772b24.ddb2f8","type":"function","z":"d223ccb6.c890c","name":"global.portpool","func":"global.set(\"portpool\",msg.payload.DataObject.CurrentBalance);\nreturn msg;","outputs":1,"noerr":0,"x":639.0000228881836,"y":1246.4000606536865,"wires":[["119015b4.bed7ca"]]},{"id":"fe275131.b2177","type":"debug","z":"b6610c80.aa47c","name":"","active":true,"console":"false","complete":"true","x":800,"y":430,"wires":[]},{"id":"d43a9d9e.bfb76","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":755.1000175476074,"y":61.60000705718994,"wires":[]},{"id":"9476c414.b52bb8","type":"function","z":"30cfc8ac.884918","name":"set global.SYSNAME","func":"var myname = msg.req.headers.$wssc + \"://\";\nmyname += msg.req.headers.host;\nglobal.set(\"SYSNAME\",myname);\nreturn msg;","outputs":1,"noerr":0,"x":406.0000457763672,"y":63.00000476837158,"wires":[["d43a9d9e.bfb76"]]},{"id":"6217b10.c17c15","type":"change","z":"b6610c80.aa47c","name":"","rules":[{"t":"set","p":"SYSNAME","pt":"msg","to":"SYSNAME","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":390,"wires":[["dcbf9138.e31ad"]]},{"id":"39faa8d6.eb53f8","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"SYSNAME","pt":"msg","to":"SYSNAME","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":678.1000671386719,"y":725.8000812530518,"wires":[["9386b849.ab30b8"]]},{"id":"8977b07d.81803","type":"change","z":"d223ccb6.c890c","name":"","rules":[{"t":"set","p":"SYSNAME","pt":"msg","to":"SYSNAME","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":644.0000228881836,"y":1030.2000179290771,"wires":[["fda25055.99592"]]},{"id":"81293509.068728","type":"http in","z":"d223ccb6.c890c","name":"","url":"/wallets/:id/topup","method":"get","upload":false,"swaggerDoc":"","x":129.00000762939453,"y":678.8000774383545,"wires":[["705692ab.8b39ec"]]},{"id":"853bf4.0626541","type":"http response","z":"d223ccb6.c890c","name":"","statusCode":"","headers":{},"x":777.0001277923584,"y":677.0001516342163,"wires":[]},{"id":"705692ab.8b39ec","type":"template","z":"d223ccb6.c890c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <script type=\"text/javascript\">\n    function onsubmitForm () {\n        var f = document.formTopup;\n        f.action  =\"/wallets/\";\n        f.action +=f.walletcode.value;\n        f.action +=\"/add/\";\n        f.action +=f.quantity.value;\n        f.action += \"/\";\n        f.action +=f.reason.value;\n        f.action += \"/FundsTransfers\";\n        return true;\n    }\n    </script>\n    \n<h2>\n    Add funds to Wallet : {{req.params.id}}\n</h2>\n    <form name=formTopup action=# method=get onsubmit=\"return onsubmitForm();\">\n        <input name=walletcode value={{req.params.id}} type=hidden>\n        <input name=subcat value=\"FundsTransfers\" type=hidden>\n        <input name=quantity type=range value=0 min=0 max=10000 step=100 oninput=\"document.formTopup.quant.value=value;\">\n        <select name=reason>\n            <option value=Demo>demo</option>\n            <option value=Desperation>desperation</option>\n        </select>\n        <output name=quant>0</output>\n        <input type=submit value=\"Topup\">\n    </form>\n","output":"str","x":446.1000671386719,"y":678.0001029968262,"wires":[["853bf4.0626541"]]},{"id":"bf419d9.ad93d6","type":"comment","z":"3d41872e.6e7bd8","name":"Set Current portfolio","info":"","x":140,"y":250,"wires":[]},{"id":"2fd01374.23f38c","type":"comment","z":"3d41872e.6e7bd8","name":"Holdings in portfolio","info":"","x":150,"y":400,"wires":[]},{"id":"c2c4986d.132c98","type":"comment","z":"3d41872e.6e7bd8","name":"Delete set of holdings","info":"","x":160,"y":550,"wires":[]},{"id":"92cb1cb4.a4e2","type":"comment","z":"3d41872e.6e7bd8","name":"Initialise portfolio holdings","info":"","x":150,"y":40,"wires":[]},{"id":"a9ea8565.a072f8","type":"comment","z":"b6610c80.aa47c","name":"Add instrument to holding set","info":"","x":170,"y":200,"wires":[]},{"id":"a217e878.eaf2c8","type":"comment","z":"b6610c80.aa47c","name":"Delete set of holdings","info":"","x":140,"y":490,"wires":[]},{"id":"db4d4c5d.dab11","type":"comment","z":"43761947.be1e48","name":"Available instruments","info":"","x":140,"y":30,"wires":[]},{"id":"4d58126b.ff23dc","type":"comment","z":"43761947.be1e48","name":"Instrument detail","info":"","x":110,"y":300,"wires":[]},{"id":"6f3d125.00391ec","type":"comment","z":"43761947.be1e48","name":"option to add to holdings","info":"","x":590,"y":560,"wires":[]},{"id":"55929432.5be2bc","type":"comment","z":"d223ccb6.c890c","name":"Create a named Wallet","info":"","x":140,"y":40,"wires":[]},{"id":"e23f1f26.089e8","type":"comment","z":"d223ccb6.c890c","name":"List member's wallets","info":"","x":130,"y":210,"wires":[]},{"id":"dc8cd08f.c82d9","type":"comment","z":"d223ccb6.c890c","name":"Wallet detail","info":"","x":100,"y":340,"wires":[]},{"id":"ebaa9136.9334c","type":"comment","z":"d223ccb6.c890c","name":"Delete Wallet","info":"","x":100,"y":470,"wires":[]},{"id":"1447efb2.5f73e","type":"comment","z":"7900671d.eafd08","name":"List of account types","info":"","x":130,"y":40,"wires":[]},{"id":"76f18448.d38b0c","type":"comment","z":"7900671d.eafd08","name":"List member's accounts","info":"","x":140,"y":200,"wires":[]},{"id":"b2f61b96.fb4d08","type":"comment","z":"7900671d.eafd08","name":"Account detail","info":"","x":110,"y":330,"wires":[]},{"id":"b11bb49c.5e3948","type":"comment","z":"2119b734.ae4bc8","name":"Show member types","info":"","x":120,"y":20,"wires":[]},{"id":"545f2d07.46abe4","type":"comment","z":"2119b734.ae4bc8","name":"Create new member","info":"","x":120,"y":150,"wires":[]},{"id":"d101139a.3db1c","type":"comment","z":"2119b734.ae4bc8","name":"Refresh Login","info":"","x":110,"y":310,"wires":[]},{"id":"4abad982.f8c438","type":"comment","z":"b2178db7.c65c7","name":"Temporary hack for product list","info":"","x":160,"y":420,"wires":[]},{"id":"5e7f937b.94604c","type":"comment","z":"b2178db7.c65c7","name":"List of available products","info":"","x":140,"y":30,"wires":[]},{"id":"bc5dd83f.689538","type":"comment","z":"b2178db7.c65c7","name":"Product detail","info":"","x":100,"y":160,"wires":[]},{"id":"aceb1feb.8019f","type":"http in","z":"758e80f8.634a3","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["5d0baeb8.a2116"]]},{"id":"5d0baeb8.a2116","type":"template","z":"758e80f8.634a3","name":"Chat window","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n<div>\n    <!--img src=\"https://rdc-us-personal-wealth-demo.mybluemix.net/media/watson_conv_logo.gif\" style=\"height:75px;\"-->\n    <div class=\"chat-head\" style=\"background-color:black;\">\n        <img src=\"https://www.ibm.com/thought-leadership/scienceandstarwars/images/watson_logo.gif\" style=\"height:75px;\">\n    </div>\n    <textarea readonly class=chatbot style=\"background-color:lightsteelblue;\" id=chatout rows=25 cols=50></textarea>\n    <br>\n    <textarea class=chatbot style=\"background-color:lavender;\" id=chatin maxlength=100 rows=3 cols=50></textarea>\n</div>\n<script  type=\"text/javascript\">\n//  var chatbot = \"https://rdc-us-personal-wealth-portfolio-mgt.mybluemix.net/api/message\";\n    var chatbot = \"{{{global.SYSNAME}}}/chat-relay\";\n    var chat = '';\n    $('#chatin').keydown(function(event){\n    if ( event.which == 13 ) {\n            var data = $(this).val();\n            chat += '\\r' + data;\n            $(this).val('');\n            $('#chatout').append(\"\\r\" + data);\n            $.post( chatbot, { \"user\" : \"RiseRed\" , \"input\" : { \"text\": data } }, function( d ) {\n                var resp = '> (' + d.input.text +\") \" + d.output.text;\n                $('#chatout').append( '\\r' + resp );\n                $('#chatout').scrollTop(10000);\n            });\n            event.preventDefault();\n            }\n        });\n</script>\n","output":"str","x":430,"y":280,"wires":[["25fec839.9445c8"]]},{"id":"25fec839.9445c8","type":"http response","z":"758e80f8.634a3","name":"","statusCode":"","headers":{},"x":770,"y":280,"wires":[]},{"id":"275a96e8.66812a","type":"http in","z":"758e80f8.634a3","name":"","url":"/chat-relay","method":"post","upload":false,"swaggerDoc":"","x":120,"y":190,"wires":[["c6f811e1.6acaa","9ca0c7f7.e99b38"]]},{"id":"a114593c.be2f98","type":"http response","z":"758e80f8.634a3","name":"","statusCode":"","headers":{},"x":770,"y":190,"wires":[]},{"id":"d7315f45.df59b","type":"switch","z":"758e80f8.634a3","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":640,"y":190,"wires":[["a114593c.be2f98"]]},{"id":"9ca0c7f7.e99b38","type":"debug","z":"758e80f8.634a3","name":"","active":true,"console":"false","complete":"false","x":310,"y":230,"wires":[]},{"id":"485b8034.056c5","type":"http in","z":"30cfc8ac.884918","name":"","url":"/navigator","method":"get","upload":false,"swaggerDoc":"","x":130,"y":620,"wires":[["91f3ddb5.b3984"]]},{"id":"91f3ddb5.b3984","type":"template","z":"30cfc8ac.884918","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <script src=\"https://code.jquery.com/jquery-3.2.1.min.js\">    </script>\n    <script type=\"text/javascript\">\n        function onSubmitForm () {\n\n            $(\"#response\").val('');\n            var data=$(this).serialize();\n            alert(data + \" \" + $(this).attr(\"action\") );\n            $.post($(this).attr(\"action\"), data , function(returnData){\n                $('#response').html(returnData);\n            });\n            event.preventDefault();\n            return false;\n        }\n    </script>\n    \n    <div id=form>\n<form action=\"/navigator/show\" onsubmit=\"onSubmitForm();\" method=POST>\n    <input type=hidden name=pageSize value=25>\n    <input type=hidden name=pageNum value=0>\n    <select name=API>\n        <option value=\"/wallet/GetAccountTypeList\">Wallets</option>\n        <option value=\"/tips/GetPersonaList\">Persona</option>\n        <option value=\"/country/GetAirportList\">Airports</option>\n        <option value=\"/country/GetCountryList\">Countries</option>\n        <option value=\"/product/GetProductList\">Products</option>\n    </select>\n    <input type=Submit value=RISE>\n    </form>\n</div>\n<div id=response>\n</div>\n","output":"str","x":420,"y":620,"wires":[["5f43a9e0.38b7e8"]]},{"id":"5f43a9e0.38b7e8","type":"http response","z":"30cfc8ac.884918","name":"","statusCode":"","headers":{},"x":760,"y":620,"wires":[]},{"id":"79667c7c.f5a504","type":"http in","z":"30cfc8ac.884918","name":"","url":"/navigator/show","method":"post","upload":false,"swaggerDoc":"","x":150,"y":660,"wires":[["8703d8d0.8b9c28"]]},{"id":"f3ade088.dc86f","type":"debug","z":"30cfc8ac.884918","name":"","active":true,"console":"false","complete":"true","x":760,"y":660,"wires":[]},{"id":"8703d8d0.8b9c28","type":"function","z":"30cfc8ac.884918","name":"","func":"msg.payload = \"https://api.risemarketplace.net/rise/v1.0.0/api\" + msg.payload.API;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":660,"wires":[["804cb170.ea293","f3ade088.dc86f"]]},{"id":"7cc5970d.6fa168","type":"http response","z":"30cfc8ac.884918","name":"","statusCode":"","headers":{},"x":770,"y":970,"wires":[]},{"id":"2724a48.3b55c5c","type":"switch","z":"30cfc8ac.884918","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":589.0000114440918,"y":971.5999755859375,"wires":[["7cc5970d.6fa168"]]}]
